<div id="candidate-expertise-list" class="page-layout simple">

    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

        <div class="hero-text">
            <!--<mat-icon class="hero-icon">important_devices</mat-icon>-->
            <mat-icon class="hero-icon">verified_user</mat-icon>
            <h1 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                {{ 'CANDIDATE.EXPERTISE.LIST.WELCOME_TEXT' | translate }}
            </h1>
            <h3 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                {{ 'CANDIDATE.EXPERTISE.LIST.WELCOME_SUBTEXT' | translate }}
            </h3>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div fxLayout="column" fxLayoutAlign="center">

            <div class="filters" fxLayout="column" fxLayoutAlign="center center"
                 fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

                <mat-form-field appearance="outline" floatLabel="always" class="expertise-search">
                    <mat-label>{{ 'MAIN.SEARCH_FOR' | translate }}</mat-label>
                    <input matInput placeholder="{{ 'MAIN.ENTER_KEYWORD' | translate }}"
                           [(ngModel)]="searchTerm"
                           (input)="filterExpertiseByTerm()">
                </mat-form-field>

                <!--<mat-form-field appearance="outline" class="category-selector">
                    <mat-label>{{ 'MAIN.TYPE' | translate }}</mat-label>
                    <mat-select [(ngModel)]="currentCategory"
                                (selectionChange)="filterExpertiseByCategory()">
                        <mat-option [value]="'all'">
                            {{ 'MAIN.ALL_PL_F' | translate }}
                        </mat-option>
                        <mat-option *ngFor="let category of categories" [value]="category.id">
                            {{ category.title }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>-->

            </div>

            <div class="expertise-list" fxLayout="row wrap" fxLayoutAlign="start" [@animateStagger]="{value:'50'}">

                <div class="expertise" *ngFor="let expertise of filteredExpertise" fxFlex="100" fxFlex.gt-xs="50"
                     fxFlex.gt-sm="33" [@animate]="{value:'*',params:{y:'100%'}}">

                    <div class="expertise-content" fxLayout="column" fxFlex="1 1 auto">

                        <div class="header" fxLayout="row" fxLayoutAlign="center center" [ngClass]="expertise.category && expertise.category.style && expertise.category.style !== '' ? expertise.category.style : expertise.execution && expertise.execution.status === 3 ? 'android-bg' : 'cloud-bg'">

                            <div class="category" fxFlex>
                                <!--{{expertise.title}}-->
                                <mat-icon class="length-icon s-20" *ngIf="expertise.execution && expertise.execution.assessed.length > 0 && expertise.execution.status === 3 && (expertise.execution.assessed[0].punctuation / expertise.execution.assessed[0].maximum) > 0.9">stars</mat-icon>
                            </div>

                            <div class="length" fxLayout="row" fxLayoutAlign="center center" *ngIf="expertise.execution && expertise.execution.assessed.length > 0 && expertise.execution.status === 3">
                                <mat-icon class="length-icon s-20">beenhere</mat-icon>
                                <!--<div class="min">{{(expertise.execution.assessed[0].punctuation / expertise.execution.assessed[0].maximum) * 100 | number: '1.0-2' }}/{{100}}</div>-->
                            </div>

                        </div>

                        <div class="content" fxLayout="column" fxLayoutAlign="center center" fxFlex="1 1 auto">
                            <div>
                                <img src="{{expertise.image}}" class="img" default="https://png.pngtree.com/svg/20161108/python_933400.png" width="100px">
                            </div>
                            <div class="updated"><!--{{expertise.description}}-->{{expertise.title}}</div>
                        </div>

                        <div class="footer" fxLayout="row" fxLayoutAlign="center center">
                            <!--<button mat-button color="primary"
                                    [routerLink]="'/candidate/expertise/' + expertise.id + '/' + (expertise.title | slugify)">
                                {{ 'MAIN.BUTTON.VIEW' | translate }}
                            </button>-->

                            <button mat-button color="primary" *ngIf="expertise.execution && expertise.execution.status === 3"
                                    [routerLink]="'/candidate/' + (expertise.subtype && expertise.subtype === 1 ? 'skills' : 'expertise') + '/result/' + expertise.id + '/' + (expertise.title | slugify)">
                                {{ 'MAIN.BUTTON.RESULTS' | translate }}
                            </button>

                            <button mat-button color="primary" *ngIf="expertise.execution && expertise.execution.status === 3"
                                    [routerLink]="'/candidate/' + (expertise.subtype && expertise.subtype === 1 ? 'skills' : 'expertise') + '/questionnaire/' + expertise.id + '/' + (expertise.title | slugify)">
                                {{ 'MAIN.BUTTON.REPEAT' | translate }}
                            </button>

                            <button mat-button color="primary" *ngIf="expertise.execution && expertise.execution.status !== 3"
                                    [routerLink]="'/candidate/' + (expertise.subtype && expertise.subtype === 1 ? 'skills' : 'expertise') + '/questionnaire/' + expertise.id + '/' + (expertise.title | slugify)">
                                {{ 'MAIN.BUTTON.FINISH' | translate }}
                            </button>

                            <button mat-button color="primary" *ngIf="!expertise.execution && expertise.subtype === 1"
                                    [routerLink]="'/candidate/skills/questionnaire/' + expertise.id + '/' + (expertise.title | slugify)">
                                {{ 'MAIN.BUTTON.START' | translate }}
                            </button>

                            <button mat-button color="primary" *ngIf="!expertise.execution && expertise.subtype !== 1"
                                    [routerLink]="'/candidate/expertise/questionnaire/' + expertise.id + '/' + (expertise.title | slugify)">
                                {{ 'MAIN.BUTTON.START' | translate }}
                            </button>

                        </div>

                    </div>

                </div>

                <div class="no-expertise mat-display-1 w-100-p" *ngIf="filteredExpertise.length === 0">
                    {{ 'MAIN.NO_RESULTS' | translate }}
                </div>

            </div>

        </div>

    </div>
    <!-- / CONTENT -->

</div>
