<div id="reset-password" fxLayout="column">

    <div id="reset-password-form-wrapper" class="IE-FormCenterize" fxLayout="column" fxLayoutAlign="center center">

        <div id="reset-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img [src]="appConfig.logo.medium_var1">
            </div>

            <div class="title">{{ 'RESET_PASSWORD.RESET_YOUR_PASSWORD' | translate }}</div>

            <form name="resetPasswordForm" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>{{ 'RESET_PASSWORD.EMAIL' | translate }}</mat-label>
                    <input matInput formControlName="email">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="resetPasswordForm.get('email').hasError('required')">
                        {{ 'RESET_PASSWORD.ERROR.REQ_EMAIL' | translate }}
                    </mat-error>
                    <mat-error
                        *ngIf="!resetPasswordForm.get('email').hasError('required') &&
                                resetPasswordForm.get('email').hasError('email')">
                        {{ 'RESET_PASSWORD.ERROR.VALID_EMAIL' | translate }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>{{ 'RESET_PASSWORD.PASSWORD' | translate }}</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        {{ 'RESET_PASSWORD.ERROR.REQ_PASSWORD' | translate }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>{{ 'RESET_PASSWORD.PASSWORD_CONFIRM' | translate }}</mat-label>
                    <input matInput type="password" formControlName="passwordConfirm">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="resetPasswordForm.get('passwordConfirm').hasError('required')">
                        {{ 'RESET_PASSWORD.ERROR.REQ_PASSWORD_CONFIRM' | translate }}
                    </mat-error>
                    <mat-error *ngIf="!resetPasswordForm.get('passwordConfirm').hasError('required') &&
                                       resetPasswordForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                        {{ 'RESET_PASSWORD.ERROR.MATCH_PASSWORD' | translate }}
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button" color="primary"
                        aria-label="RESET MY PASSWORD" [disabled]="resetPasswordForm.invalid || submitted">
                    {{ 'RESET_PASSWORD.RESET_MY_PASSWORD' | translate }}
                </button>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/auth/login'" queryParamsHandling="merge">{{ 'RESET_PASSWORD.GO_BACK_TO_LOGIN' | translate }}</a>
            </div>

        </div>

    </div>

</div>
