<div id="recruiter-talent-home" class="page-layout simple">

    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

        <div class="hero-text">
            <mat-icon class="hero-icon">assistant</mat-icon>
            <h1 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                {{ 'RECRUITER.TALENT.HOME.WELCOME_TEXT' | translate }}
            </h1>
            <h3 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                {{ 'RECRUITER.TALENT.HOME.WELCOME_SUBTEXT' | translate }}
            </h3>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div fxLayout="column" fxLayoutAlign="center">

            <div class="filters" fxLayout="column" fxLayoutAlign="center center"
                 fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

                <mat-form-field appearance="outline" floatLabel="always" class="talent-search">
                    <mat-label>{{ 'MAIN.SEARCH_FOR' | translate }}</mat-label>
                    <input matInput placeholder="{{ 'MAIN.ENTER_KEYWORD' | translate }}"
                           [(ngModel)]="searchTerm"
                           (input)="filterTalentsByTerm()">
                </mat-form-field>

                <!--<mat-form-field appearance="outline" class="category-selector">
                    <mat-label>{{ 'MAIN.CATEGORY' | translate }}</mat-label>
                    <mat-select [(ngModel)]="currentCategory" (selectionChange)="filterTalentsByCategory()">
                        <mat-option [value]="'all'">
                            {{ 'MAIN.ALL_PL_F' | translate }}
                        </mat-option>
                        <mat-option *ngFor="let category of categories" [value]="category.value">
                            {{ category.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>-->

            </div>

            <div class="talent-list" fxLayout="row wrap" fxLayoutAlign="start" [@animateStagger]="{value:'50'}">

                <div class="talent" fxFlex="100" fxFlex.gt-xs="50"
                     fxFlex.gt-sm="33" [@animate]="{value:'*',params:{y:'100%'}}">

                    <div class="talent-content" fxLayout="column" fxFlex="1 1 auto" fxLayoutAlign="center center">

                        <div class="action-buttons">

                            <button mat-fab class="add-new green-600" [routerLink]="'/recruiter/talent/editor/0/new'" title="{{ 'MAIN.BUTTON.ADD_NEW' | translate}}">
                                <mat-icon>add</mat-icon>
                            </button>

                        </div>

                    </div>

                </div>

                <div class="talent" *ngFor="let talent of filteredTalents" fxFlex="100" fxFlex.gt-xs="50"
                     fxFlex.gt-sm="33" [@animate]="{value:'*',params:{y:'100%'}}">

                    <div class="talent-content" fxLayout="column" fxFlex="1 1 auto">

                        <div class="header android-bg" fxLayout="row" fxLayoutAlign="center center">

                            <div class="category" fxFlex>
                                {{talent.title}}
                            </div>

                            <div class="users" fxLayout="row" fxLayoutAlign="center center">
                                <mat-icon class="users-icon s-20">people</mat-icon>
                                <div class="number">{{talent.users.length}}</div>
                            </div>

                        </div>

                        <div class="content" fxLayout="column" fxLayoutAlign="center center" fxFlex="1 1 auto">
                            <!--<div class="image">
                                <img src="{{talent.image}}" class="img" default="https://png.pngtree.com/svg/20161108/python_933400.png" width="100px">
                            </div>-->
                            <!--<div class="description">{{talent.description}}</div>-->
                            <div class="date-from-to secondary-text">{{talent.active_from | date:'shortDate'}} <mat-icon class="s-20">keyboard_arrow_right</mat-icon> {{talent.active_to | date:'shortDate'}}</div>
                        </div>

                        <div class="footer" fxLayout="row" fxLayoutAlign="center center">
                            <button mat-button color="primary"
                                    [routerLink]="'/recruiter/talent/detail/' + talent.id + '/' + (talent.title | slugify)">
                                {{ 'MAIN.BUTTON.VIEW' | translate }}
                            </button>

                            <button mat-button color="primary"
                                    [routerLink]="'/recruiter/talent/editor/' + talent.id + '/' + (talent.title | slugify)">
                                {{ 'MAIN.BUTTON.EDIT' | translate }}
                            </button>

                            <button mat-button color="primary" (click)="deleteTalent(talent.id)">
                                {{ 'MAIN.BUTTON.DELETE' | translate }}
                            </button>
                        </div>

                    </div>

                </div>

                <!--<div class="no-talents mat-display-1 w-100-p" *ngIf="filteredTalents.length === 0">
                    {{ 'MAIN.NO_RESULTS' | translate }}
                </div>-->

            </div>

        </div>

    </div>
    <!-- / CONTENT -->

</div>
