<div id="recruiter-talent-editor" class="page-layout simple full-width" fxLayout="column">

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="mr-16" [routerLink]="'/recruiter/talent'">
                <mat-icon>arrow_back</mat-icon>
            </button>

            <div>
                <h2 *ngIf="talent.title && talent.title != ''; else titleNew">{{talent.title}}</h2>
                <ng-template #titleNew><h2>{{'RECRUITER.TALENT.EDITOR.NEW_TALENT' | translate}}</h2></ng-template>
            </div>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div id="recruiter-talent-editor-content" class="content fuse-white-bg" fxLayout="column wrap">

            <div class="horizontal-stepper-wrapper">

                <!-- VERTICAL STEPPER -->
                <mat-vertical-stepper ngclass.gt-sm="p-24" [linear]="talentId > 0 ? false : false">

                    <mat-step [stepControl]="horizontalStepperStep1">

                        <form fxLayout="column" [formGroup]="horizontalStepperStep1">

                            <ng-template matStepLabel>{{ 'RECRUITER.TALENT.EDITOR.STEP_1_LABEL' | translate }}</ng-template>

                            <div fxFlex="1 0 auto" fxLayout="column">

                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>{{ 'MAIN.FORMS.NAME' | translate }}</mat-label>
                                    <input matInput formControlName="title" placeholder="{{ 'RECRUITER.TALENT.EDITOR.STEP_1_TEXT_1' | translate }}" required>
                                    <mat-error>{{ 'MAIN.FORMS.ERRORS.NAME_REQUIRED' | translate }}</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>{{ 'MAIN.FORMS.DESCRIPTION' | translate }}</mat-label>
                                    <textarea matInput formControlName="description" placeholder="{{ 'RECRUITER.TALENT.EDITOR.STEP_1_TEXT_2' | translate }}" rows="4"></textarea>
                                </mat-form-field>

                            </div>

                            <div fxLayout="row" fxLayoutAlign="center center">
                                <button class="m-16" ngClass.gt-xs="mx-8" mat-stroked-button matStepperNext type="button" color="primary">
                                    {{ 'MAIN.BUTTON.NEXT' | translate }}
                                </button>
                            </div>

                        </form>

                    </mat-step>

                    <mat-step [stepControl]="horizontalStepperStep2">

                        <form fxLayout="column" [formGroup]="horizontalStepperStep2">

                            <ng-template matStepLabel>{{ 'RECRUITER.TALENT.EDITOR.STEP_2_LABEL' | translate }}</ng-template>

                            <div fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="space-around">

                                <mat-form-field appearance="outline">
                                    <mat-label>{{ 'MAIN.FORMS.STARTS' | translate }}</mat-label>
                                    <input matInput [matDatepicker]="picker_active_from" formControlName="active_from" placeholder="{{ 'MAIN.FORMS.FILL_A_DATE' | translate }}" required>
                                    <mat-datepicker-toggle matSuffix [for]="picker_active_from"></mat-datepicker-toggle>
                                    <mat-datepicker #picker_active_from></mat-datepicker>
                                    <mat-error>{{ 'MAIN.FORMS.ERRORS.FIELD_REQUIRED' | translate }}</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline">
                                    <mat-label>{{ 'MAIN.FORMS.ENDS' | translate }}</mat-label>
                                    <input matInput [matDatepicker]="picker_active_to" formControlName="active_to" placeholder="{{ 'MAIN.FORMS.FILL_A_DATE' | translate }}" required>
                                    <mat-datepicker-toggle matSuffix [for]="picker_active_to"></mat-datepicker-toggle>
                                    <mat-datepicker #picker_active_to></mat-datepicker>
                                    <mat-error>{{ 'MAIN.FORMS.ERRORS.FIELD_REQUIRED' | translate }}</mat-error>
                                </mat-form-field>

                            </div>

                            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="center center">
                                <button class="m-16" ngClass.gt-xs="mx-8" mat-stroked-button matStepperPrevious type="button" color="primary">
                                    {{ 'MAIN.BUTTON.PREVIOUS' | translate }}
                                </button>
                                <button class="m-16" ngClass.gt-xs="mx-8" mat-stroked-button matStepperNext type="button" color="primary">
                                    {{ 'MAIN.BUTTON.NEXT' | translate }}
                                </button>
                            </div>

                        </form>

                    </mat-step>

                    <!--<mat-step [stepControl]="horizontalStepperStep3">

                        <form fxLayout="column" [formGroup]="horizontalStepperStep3">

                            <ng-template matStepLabel>{{ 'RECRUITER.TALENT.EDITOR.STEP_3_LABEL' | translate }}</ng-template>

                            <div fxFlex="1 0 auto" fxLayout="column">

                                <div class="container mb-16">
                                    <p>{{ 'RECRUITER.TALENT.EDITOR.STEP_3_LABEL_B' | translate }}</p>
                                    <button mat-stroked-button color="primary" (click)="iconInput.click()">{{ 'MAIN.FORMS.CHOOSE_A_FILE' | translate }}</button>
                                    <input hidden type="file" #iconInput formControlName="icon" (change)="uploadIcon($event)">
                                    <p>{{ 'RECRUITER.TALENT.EDITOR.STEP_3_TEXT_B' | translate }}</p>
                                    <ng-container *ngIf="icon"><img [src]="icon.src"></ng-container>
                                </div>

                                <div class="container mb-16">
                                    <p>{{ 'RECRUITER.TALENT.EDITOR.STEP_3_LABEL_A' | translate }}</p>
                                    <button mat-stroked-button color="primary" (click)="imageInput.click()">{{ 'MAIN.FORMS.CHOOSE_A_FILE' | translate }}</button>
                                    <input hidden type="file" #imageInput formControlName="image" (change)="uploadImage($event)">
                                    <p>{{ 'RECRUITER.TALENT.EDITOR.STEP_3_TEXT_A' | translate }}</p>
                                    <ng-container *ngIf="image"><img [src]="image.src"></ng-container>
                                </div>

                            </div>

                            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="center center">
                                <button class="m-16" ngClass.gt-xs="mx-8" mat-stroked-button matStepperPrevious type="button" color="primary">
                                    {{ 'MAIN.BUTTON.PREVIOUS' | translate }}
                                </button>
                                <button class="m-16" ngClass.gt-xs="mx-8" mat-stroked-button matStepperNext type="button" color="primary">
                                    {{ 'MAIN.BUTTON.NEXT' | translate }}
                                </button>
                            </div>

                        </form>

                    </mat-step>-->

                    <mat-step [stepControl]="horizontalStepperStep4">

                        <form fxLayout="column" [formGroup]="horizontalStepperStep4">

                            <ng-template matStepLabel>{{ 'RECRUITER.TALENT.EDITOR.STEP_4_LABEL' | translate }}</ng-template>

                            <div fxFlex="1 0 auto" fxLayout="column">

                                <div class="container mb-16">
                                    <button mat-stroked-button color="primary" (click)="fileInput.click()">{{ 'MAIN.FORMS.CHOOSE_A_FILE' | translate }}</button>
                                    <input hidden type="file" #fileInput formControlName="file" (change)="processUserList($event)">
                                </div>
                                <mat-form-field appearance="outline" fxFlex="100" class="select-users">
                                    <mat-select placeholder="{{ 'RECRUITER.TALENT.EDITOR.STEP_4_LABEL' | translate }}" formControlName="users" [(value)]="usersSelected" multiple>
                                        <mat-form-field class="select-users-search" fxFlex="100" fxLayout="row">
                                            <mat-icon>search</mat-icon>
                                            <input matInput placeholder="{{ 'MAIN.ENTER_KEYWORD' | translate }}" [ngModelOptions]="{standalone: true}" fxFlex="100" class="icon-image_search"
                                                   [(ngModel)]="searchTerm"
                                                   (input)="filterUsersByTerm()">
                                        </mat-form-field>
                                        <mat-option *ngFor="let user of filteredUsersList" [(value)]="user.id">
                                            <ng-container *ngIf="!appConfig.appSettings.anonymousSite">{{user.first_name}} {{user.last_name}}</ng-container>
                                            <ng-container *ngIf="appConfig.appSettings.anonymousSite">{{user.username}}</ng-container>
                                        </mat-option>
                                    </mat-select>
                                    <mat-hint>{{ 'RECRUITER.TALENT.EDITOR.STEP_4_TEXT' | translate }}</mat-hint>
                                    <mat-error>{{ 'MAIN.FORMS.ERRORS.FIELD_REQUIRED' | translate }}</mat-error>
                                </mat-form-field>
                            </div>

                            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="center center">
                                <button class="m-16" ngClass.gt-xs="mx-8" mat-stroked-button matStepperPrevious type="button" color="primary">
                                    {{ 'MAIN.BUTTON.PREVIOUS' | translate }}
                                </button>
                                <button class="m-16" ngClass.gt-xs="mx-8" mat-stroked-button matStepperNext type="button" color="primary">
                                    {{ 'MAIN.BUTTON.NEXT' | translate }}
                                </button>
                            </div>

                        </form>

                    </mat-step>

                    <!--<mat-step [stepControl]="horizontalStepperStep5">

                        <form fxLayout="column" [formGroup]="horizontalStepperStep5">

                            <ng-template matStepLabel>{{ 'RECRUITER.TALENT.EDITOR.STEP_5_LABEL' | translate }}</ng-template>

                            <div fxFlex="1 0 auto" fxLayout="column">
                                <div fxLayout="column" class="my-16" ngClass="w-100-p">
                                    <mat-slide-toggle class="w-50" formControlName="skills" (change)="togglePersonality()">{{ 'RECRUITER.TALENT.EDITOR.STEP_5_LABEL_B' | translate }}</mat-slide-toggle>
                                    <mat-hint>{{ 'RECRUITER.TALENT.EDITOR.STEP_5_TEXT_B' | translate }}</mat-hint>
                                </div>
                                &lt;!&ndash;<mat-form-field appearance="outline" fxFlex="100">
                                    <mat-select placeholder="{{ 'RECRUITER.TALENT.EDITOR.STEP_6_LABEL' | translate }}" [disableControl]="!skillsSelected" [formControlName]="'skillsSel'" [(value)]="skillsSelectedTests" (selectionChange)="mergeTests()" multiple>
                                        <mat-option *ngFor="let skill of skillsTests" [(value)]="skill.id">{{skill.title}}</mat-option>
                                    </mat-select>
                                    <mat-hint>{{ 'RECRUITER.TALENT.EDITOR.STEP_6_TEXT' | translate }}</mat-hint>
                                </mat-form-field>&ndash;&gt;
                            </div>

                            <div fxFlex="1 0 auto" fxLayout="column">
                                <div fxLayout="column" class="my-16" ngClass="w-100-p">
                                    <mat-slide-toggle class="w-50" [formControlName]="'personality'" [disableControl]="skillsSelected">{{ 'RECRUITER.TALENT.EDITOR.STEP_5_LABEL_A' | translate }}</mat-slide-toggle>
                                    <mat-hint>{{ 'RECRUITER.TALENT.EDITOR.STEP_5_TEXT_A' | translate }}</mat-hint>
                                </div>

                                &lt;!&ndash;<mat-form-field appearance="outline" fxFlex="100">
                                    <mat-select placeholder="{{ 'RECRUITER.TALENT.EDITOR.STEP_5_LABEL_A' | translate }}" [disableControl]="skillsSelected" [formControlName]="'personalitySel'" [(value)]="personalitySelectedTests" (selectionChange)="mergeTests()" multiple>
                                        <mat-option *ngFor="let personality of personalityTests" [(value)]="personality.id">{{personality.title}}</mat-option>
                                    </mat-select>
                                    <mat-hint>{{ 'RECRUITER.TALENT.EDITOR.STEP_5_TEXT' | translate }}</mat-hint>
                                </mat-form-field>&ndash;&gt;
                            </div>

                            <div fxFlex="1 0 auto" fxLayout="column">
                                <div fxLayout="column" class="my-16" ngClass="w-100-p">
                                    <mat-slide-toggle class="w-50" [formControlName]="'knowledge'" [disableControl]="skillsSelected">{{ 'RECRUITER.TALENT.EDITOR.STEP_5_LABEL_C' | translate }}</mat-slide-toggle>
                                    <mat-hint>{{ 'RECRUITER.TALENT.EDITOR.STEP_5_TEXT_D' | translate }}</mat-hint>
                                </div>
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-select placeholder="{{ 'RECRUITER.TALENT.EDITOR.STEP_5_LABEL_C' | translate }}" [formControlName]="'knowledgeSel'" [(value)]="knowledgeSelectedTests" [required]="!skillsSelected && horizontalStepperStep5.controls['knowledge'].value">
                                        <mat-option *ngFor="let knowledge of knowledgeTests" [(value)]="knowledge.id" [disableControl]="!(!skillsSelected && horizontalStepperStep5.controls['knowledge'].value)">{{knowledge.title}}</mat-option>
                                    </mat-select>
                                    <mat-hint>{{ 'RECRUITER.TALENT.EDITOR.STEP_5_TEXT_C' | translate }}</mat-hint>
                                </mat-form-field>
                            </div>

                            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="center center">
                                <button class="m-16" ngClass.gt-xs="mx-8" mat-stroked-button matStepperPrevious type="button" color="primary">
                                    {{ 'MAIN.BUTTON.PREVIOUS' | translate }}
                                </button>
                                &lt;!&ndash;<button class="m-16" ngClass.gt-xs="mx-8" mat-stroked-button matStepperNext type="button" color="primary" (click)="saveForm.disabled = false">
                                    {{ 'MAIN.BUTTON.NEXT' | translate }}
                                </button>&ndash;&gt;
                            </div>

                        </form>

                    </mat-step>-->

                    <mat-step [stepControl]="horizontalStepperStep6">

                        <form fxLayout="column" [formGroup]="horizontalStepperStep6">

                            <ng-template matStepLabel>{{ 'RECRUITER.TALENT.EDITOR.STEP_6_LABEL' | translate }}</ng-template>

                            <div fxFlex="1 0 auto" fxLayout="row">

                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-select placeholder="{{ 'RECRUITER.TALENT.EDITOR.STEP_6_LABEL' | translate }}" formControlName="skillsSel" [(value)]="skillsSelectedItem" (selectionChange)="mergeTests()">
                                        <mat-option>{{ 'MAIN.FORMS.NONE' | translate }}</mat-option>
                                        <mat-option *ngFor="let skill of skillsTests" [(value)]="skill.id">{{skill.title}}</mat-option>
                                    </mat-select>
                                    <mat-hint>{{ 'RECRUITER.TALENT.EDITOR.STEP_6_TEXT' | translate }}</mat-hint>
                                </mat-form-field>

                            </div>

                            <div fxLayout="row" fxLayoutAlign="center center">
                                <button class="mx-8" mat-stroked-button matStepperPrevious type="button" color="primary">
                                    {{ 'MAIN.BUTTON.PREVIOUS' | translate }}
                                </button>
                                <button class="mx-8" mat-stroked-button matStepperNext type="button" color="primary">
                                    {{ 'MAIN.BUTTON.NEXT' | translate }}
                                </button>
                            </div>

                        </form>

                    </mat-step>

                    <mat-step [stepControl]="horizontalStepperStep7">

                        <form fxLayout="column" [formGroup]="horizontalStepperStep7">

                            <ng-template matStepLabel>{{ 'RECRUITER.TALENT.EDITOR.STEP_5_LABEL_A' | translate }}</ng-template>

                            <div fxFlex="1 0 auto" fxLayout="row">

                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-select placeholder="{{ 'RECRUITER.TALENT.EDITOR.STEP_5_LABEL_A' | translate }}" formControlName="personalitySel" [(value)]="personalitySelectedItem" (selectionChange)="mergeTests()">
                                        <mat-option>{{ 'MAIN.FORMS.NONE' | translate }}</mat-option>
                                        <mat-option *ngFor="let personality of personalityTests" [(value)]="personality.id">{{personality.title}}</mat-option>
                                    </mat-select>
                                    <mat-hint>{{ 'RECRUITER.TALENT.EDITOR.STEP_5_TEXT' | translate }}</mat-hint>
                                </mat-form-field>

                            </div>

                            <div fxLayout="row" fxLayoutAlign="center center">
                                <button class="mx-8" mat-stroked-button matStepperPrevious type="button" color="primary">
                                    {{ 'MAIN.BUTTON.PREVIOUS' | translate }}
                                </button>
                                <button class="mx-8" mat-stroked-button matStepperNext type="button" color="primary">
                                    {{ 'MAIN.BUTTON.NEXT' | translate }}
                                </button>
                            </div>

                        </form>

                    </mat-step>

                    <mat-step [stepControl]="horizontalStepperStep8">

                        <form fxLayout="column" [formGroup]="horizontalStepperStep8">

                            <ng-template matStepLabel>{{ 'RECRUITER.TALENT.EDITOR.STEP_8_LABEL' | translate }}</ng-template>

                            <div fxFlex="1 0 auto" fxLayout="row">

                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-select placeholder="{{ 'RECRUITER.TALENT.EDITOR.STEP_8_LABEL' | translate }}" formControlName="knowledgeSel" [(value)]="knowledgeSelectedItem" (selectionChange)="mergeTests()">
                                        <mat-option>{{ 'MAIN.FORMS.NONE' | translate }}</mat-option>
                                        <mat-option *ngFor="let knowledge of knowledgeTests" [(value)]="knowledge.id">{{knowledge.title}}</mat-option>
                                    </mat-select>
                                    <mat-hint>{{ 'RECRUITER.TALENT.EDITOR.STEP_8_TEXT' | translate }}</mat-hint>
                                </mat-form-field>

                            </div>

                            <div fxLayout="row" fxLayoutAlign="center center">
                                <button class="mx-8" mat-stroked-button matStepperPrevious type="button" color="primary">
                                    {{ 'MAIN.BUTTON.PREVIOUS' | translate }}
                                </button>
                                <!--<button class="mx-8" mat-stroked-button matStepperNext type="button" color="primary" (click)="saveForm.disabled = false">
                                    {{ 'MAIN.BUTTON.NEXT' | translate }}
                                </button>-->
                            </div>

                        </form>

                    </mat-step>

                </mat-vertical-stepper>
                <!-- / VERTICAL STEPPER -->
                <div class="separator"></div>
                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="center center">
                    <button class="m-16" ngClass.gt-xs="mx-8" mat-flat-button type="button" color="primary" [routerLink]="'/recruiter/talent'">
                        {{ 'MAIN.BUTTON.CANCEL' | translate }}
                    </button>
                    <button class="m-16" ngClass.gt-xs="mx-8" mat-flat-button type="button" #saveForm color="primary" [disabled]="!(horizontalStepperStep1.valid && horizontalStepperStep2.valid && horizontalStepperStep4.valid && horizontalStepperStep5.valid)" (click)="submitTalent()">
                        {{ 'MAIN.BUTTON.SAVE' | translate }}
                    </button>
                </div>

            </div>
        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

</div>
