@import "src/@fuse/scss/fuse";

#recruiter-talent-editor {
    background-color: #fff;

    .center {
        position: relative;
        overflow: auto;

        .header {
            height: 72px;
            min-height: 72px;
            max-height: 72px;
        }

        .content {
            position: relative;
            display: flex;
            background-color: transparent;

            .select-users {
                max-width: 65vw !important;
            }
        }

    }
}

.cdk-overlay-container {
    .select-users-search {

        display: none;

        .mat-form-field-wrapper {
            width: 100%;
            margin-left: 20px;
            margin-right: 30px;
            .mat-form-field-label-wrapper {
                margin-left: 30px;
            }
        }
    }
}
