<div id="recruiter-talent-editor-dialog">
    <h2 mat-dialog-title>{{'RECRUITER.TALENT.DIALOG.ADD_USERS_TITLE' | translate}}</h2>
    <mat-dialog-content [innerHTML]="'RECRUITER.TALENT.DIALOG.ADD_USERS_TEXT' | translate"></mat-dialog-content>
    <mat-dialog-content>
        <div *ngIf="data.users" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row wrap" fxLayoutAlign.gt-sm="center center" class="w-100-p px-24">
            <mat-table [dataSource]="data.users" class="users-table w-100-p">
                <!-- Username Column -->
                <ng-container matColumnDef="username">
                    <mat-header-cell *matHeaderCellDef>{{ 'MAIN.COLUMN.USERNAME' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let user" fxLayoutAlign="center center"> {{user.username}} </mat-cell>
                </ng-container>

                <!-- First Name Column -->
                <ng-container matColumnDef="first_name">
                    <mat-header-cell *matHeaderCellDef>{{ 'MAIN.COLUMN.FIRST_NAME' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let user"> {{user.first_name}} </mat-cell>
                </ng-container>

                <!-- Last Name Column -->
                <ng-container matColumnDef="last_name">
                    <mat-header-cell *matHeaderCellDef>{{ 'MAIN.COLUMN.LAST_NAME' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let user" fxLayoutAlign="center center"> {{user.last_name}} </mat-cell>
                </ng-container>

                <!-- Email Column -->
                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef>{{ 'MAIN.COLUMN.EMAIL' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let user" fxLayoutAlign="center center"> {{user.email}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="usersColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: usersColumns;"></mat-row>
            </mat-table>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
        <button mat-flat-button [mat-dialog-close]="true" color="primary" class="m-16">{{'MAIN.BUTTON.ADD' | translate}}</button>
        <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
        <button mat-flat-button [mat-dialog-close]="false" color="primary" class="m-16">{{'MAIN.BUTTON.CANCEL' | translate}}</button>
    </mat-dialog-actions>
</div>
