<div id="recruiter-roles-detail" class="page-layout simple">

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="mr-16" [routerLink]="'/recruiter/roles'">
                <mat-icon>arrow_back</mat-icon>
            </button>

            <div>
                <h2>
                    <mat-icon *ngIf="role.icon; else defaultIcon" class="header-icon mr-24">{{role.icon}}</mat-icon>
                    <ng-template #defaultIcon><mat-icon class="header-icon mr-24">person_pin_circle</mat-icon></ng-template>
                    {{role.title}}
                </h2>
            </div>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div id="role-content" class="content p-16" fxLayout="column wrap">

            <ng-container *ngIf="role">
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}">
                    <div class="fuse-widget-front">
                        <div class="p-16 pb-32" fxLayout="column" fxLayoutAlign="center center">
                            <div class="role-title">
                                <h2>{{ 'MAIN.TITLE' | translate }}: <span class="secondary-text">{{role.title}}</span></h2>
                            </div>
                            <div class="role-description">
                                <h3>{{ 'MAIN.DESCRIPTION' | translate }}: <span class="secondary-text">{{role.description}}</span></h3>
                            </div>
                            <div fxLayout="row wrap" fxLayoutAlign="center center">
                                <!--<div class="role-icon">
                                    <img *ngIf="role.icon && role.icon !== ''" src="{{role.icon}}" class="icon" default="assets/images/demo-content/test-02.jpg">
                                    <img src="{{role.icon}}" class="icon mr-24" default="https://c7.uihere.com/icons/911/82/570/role-management-e1b514e594006150b88db24b43c49ebc.png" width="32px">
                                </div>-->
                                <div class="role-image">
                                    <!--<img *ngIf="role.image && role.image !== ''" src="{{role.image}}" class="img" default="assets/images/demo-content/test-02.jpg">-->
                                    <img src="{{role.image}}" class="img mr-24" default="https://c7.uihere.com/icons/911/82/570/role-management-e1b514e594006150b88db24b43c49ebc.png" width="100px">
                                </div>
                            </div>
                            <!--<div fxLayout="row wrap" fxLayoutAlign="center center">
                                <div class="role-active-from mx-8">
                                    <h4>{{ 'MAIN.DATE_ACTIVE_FROM' | translate }}: <span class="secondary-text">{{role.active_from | date:'short'}}</span></h4>
                                </div>
                                <div class="role-active-to mx-8">
                                    <h4>{{ 'MAIN.DATE_ACTIVE_TO' | translate }}: <span class="secondary-text">{{role.active_to | date:'short'}}</span></h4>
                                </div>
                            </div>
                            <div fxLayout="row wrap" fxLayoutAlign="center center">
                                <div class="role-personality-relevance mx-8">
                                    <h4>{{ 'RECRUITER.ROLES.DETAIL.PERSONALITY_RELEVANCE_TITLE' | translate }}: <span class="secondary-text">{{ 'MAIN.ROLES.PERSONALITY_RELEVANCE.' + role.personality_relevance | translate}}</span></h4>
                                </div>
                                <div class="role-personality-test mx-8">
                                    <h4>{{ 'RECRUITER.ROLES.DETAIL.PERSONALITY_TEST_TITLE' | translate }}: <span class="secondary-text">{{role.test_personality ? role.test_personality.title : 'NA' }}</span></h4>
                                </div>
                                <div class="role-test mx-8">
                                    <h4>{{ 'RECRUITER.ROLES.DETAIL.TEST_TITLE' | translate }}: <span class="secondary-text">{{role.test ? role.test.title : 'NA' }}</span></h4>
                                </div>
                            </div>
                            <div fxLayout="row wrap" fxLayoutAlign="center center">
                                <div class="role-skills mx-8 text-center">
                                    <h4>{{ 'RECRUITER.ROLES.DETAIL.SKILLS_TITLE' | translate }}</h4>
                                    <mat-chip-list>
                                        <mat-chip color="accent" *ngFor="let skill of role.skills">{{ 'MAIN.ROLES.PERSONALITY_SKILL.' + skill | translate}}</mat-chip>
                                    </mat-chip-list>
                                </div>
                            </div>-->
                            <div class="role-tests w-100-p text-center IE-FlexAuto" fxFlex="100">
                                <h4>{{ 'RECRUITER.ROLES.DETAIL.COMPONENTS_TITLE' | translate }}</h4>
                                <ng-container *ngIf="(role.components && role.components.length > 0)">
                                    <!--<mat-form-field><ng-container *ngIf="column === 'actions'"><mat-header-cell *matHeaderCellDef> {{usersTestsTableColumnsTitles[column]}} </mat-header-cell></ng-container>
                                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'MAIN.FILTER_BY' | translate }}">
                                    </mat-form-field>-->

                                    <!--<table mat-table [dataSource]="usersTestsTable" class="roles-tests-table w-100-p" matSort matSortActive="user" matSortDisableClear matSortDirection="asc" (matSortChange)="sortData($event)">-->
                                    <mat-table [dataSource]="role.components" class="roles-tests-table w-100-p">

                                        <ng-container [matColumnDef]="column" *ngFor="let column of roleComponentsDisplayedColumns">
                                            <!--<th mat-header-cell *matHeaderCellDef mat-sort-header> {{usersTestsTableColumnsTitles[column]}} </th>-->
                                            <mat-header-cell *matHeaderCellDef [fxLayoutAlign]="column === 'knowledge' ? 'start center' : 'center center'"> {{'MAIN.COLUMN.' + column.toUpperCase() | translate }} </mat-header-cell>
                                            <ng-container *ngIf="column === 'knowledge'"><mat-cell *matCellDef="let element"> {{element[column].title}} </mat-cell></ng-container>
                                            <ng-container *ngIf="column === 'level'"><mat-cell *matCellDef="let element" fxLayoutAlign="center center"> {{element[column]}} </mat-cell></ng-container>
                                            <ng-container *ngIf="column === 'relevance'"><mat-cell *matCellDef="let element" fxLayoutAlign="center center"> {{element[column]}} </mat-cell></ng-container>
                                        </ng-container>
                                        <mat-header-row *matHeaderRowDef="roleComponentsDisplayedColumns"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: roleComponentsDisplayedColumns;"></mat-row>
                                    </mat-table>
                                    <!--<mat-paginator [length]="usersTestsTable.length" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>-->


                                </ng-container>
                            </div>
                        </div>
                        <div class="" fxLayout="row" fxLayoutAlign="center center">
                            <div class="p-16" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="center center">
                                <button class="m-8" mat-flat-button color="primary"
                                        [routerLink]="'/recruiter/roles/'">{{ 'MAIN.BUTTON.BACK' | translate }}</button>
                                <button class="m-8" mat-flat-button color="primary"
                                        [routerLink]="'/recruiter/roles/editor/' + role.id + '/' + (role.title | slugify)">{{ 'MAIN.BUTTON.EDIT' | translate }}</button>
                                <button class="m-8" mat-flat-button color="primary"
                                        (click)="deleteRole(role.id)"><mat-icon>delete</mat-icon> {{ 'MAIN.BUTTON.DELETE' | translate }}</button>
                            </div>
                        </div>
                    </div>
                </fuse-widget>
            </ng-container>

        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

</div>
