<div id="skills-result" class="page-layout simple">

    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

        <div class="hero-text">
            <mat-icon class="hero-icon">verified_user</mat-icon>
            <h1 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                {{ 'CANDIDATE.SKILLS.RESULT.WELCOME_TEXT' | translate }}
            </h1>
            <h3 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                {{ 'CANDIDATE.SKILLS.RESULT.WELCOME_SUBTEXT' | translate }}
            </h3>
        </div>

    </div>
    <!-- / HEADER -->
    <!--
        {{skillsResults}}
        <div *ngFor="let result of skillsResults; let iq = index;">
            {{result}}
        </div>-->
    <!-- CONTENT -->
    <div class="content p-12">

        <div class="skills" fxLayout="row wrap" fxLayoutAlign="center" [@animateStagger]="{value:'50'}">

            <ng-template [ngIf]="widgets && widgets.length > 0" [ngIfElse]="noSkills">
                <div class="fuse-card auto-width m-16" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around start">
                    <div class="p-12 skill skill-id-{{widget.skill.id}} skill-order-{{widget.skill.order}}" *ngFor="let widget of widgets; let i = index" fxFlex="100" [ngClass.gt-xs]="widget.skill.order === 2 || widget.skill.order === 3 ? 'translate-y-50-p' : ''" [fxFlexOrder.gt-xs]="widget.skill.order === 1 ? 2 : widget.skill.order === 2 ? 1 : i" [fxFlex.gt-xs]="widget.skill.order === 1 ? 40 : widget.skill.order < 4 ? 30 : 100"  [@animate]="{value:'*',params:{y:'100%'}}" fxLayout="row wrap" fxLayoutAlign="center center">
                        <h3 class="text-center w-100-p" *ngIf="widget.skill.order === 4">{{('MAIN.PSICOLOGICAL_PROFILE.TITLE' | translate).toUpperCase()}}</h3>
                        <div class="dfx-chart-wrapper">
                            <!--<h2 class="text-center" *ngIf="widget.skill.id === 1">{{('MAIN.SKILLS.' + widget.skill.title | translate).toUpperCase()}}</h2>-->
                            <h2 class="text-center" *ngIf="widget.skill.order === 1">{{widget.skill.description.toUpperCase()}}</h2>
                            <!--<h3 class="text-center" *ngIf="widget.skill.id === 2 || widget.skill.id === 3">{{('MAIN.SKILLS.' + widget.skill.title | translate).toUpperCase()}}</h3>-->
                            <h3 class="text-center" *ngIf="widget.skill.order === 2 || widget.skill.order === 3">{{widget.skill.description.toUpperCase()}}</h3>
                            <div class="chart" [chart]="widget.chart"></div>
                        </div>
                        <!--<div class="description">
                            <mat-card-title class="text-center">{{ widget.skill.title | translate}}</mat-card-title>
                            <p class="text-center">{{ widget.skill.description | translate}}</p>
                        </div>-->
                    </div>
                </div>
            </ng-template>

            <ng-template #noSkills>
                <div class="" fxFlex="100" fxLayout="column" fxLayoutAlign="center center">
                    <div class="no-skills p-16" fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
                        <div class="h1" fxLayout="row"
                             fxLayoutAlign="center center">{{ 'MAIN.NOTHING_HERE' | translate }}</div>
                    </div>
                </div>
            </ng-template>

        </div>
        <div class="" fxLayout.gt-xs="row" fxLayout="column" fxLayoutAlign="center center">
            <div class="p-16" fxLayout="row" fxLayoutAlign="center center">
                <button mat-flat-button color="primary"
                        [routerLink]="'/candidate/expertise'">{{ 'MAIN.BUTTON.BACK' | translate }}</button>
            </div>

            <div class="p-16" fxLayout="row" fxLayoutAlign="center center">
                <button mat-flat-button color="primary"
                        [routerLink]="'/candidate/expertise/list'">{{ 'MAIN.BUTTON.ADD_MORE' | translate }}</button>
            </div>
        </div>

    </div>
    <!-- / CONTENT -->

</div>
