<div id="error-401" fxLayout="column" fxLayoutAlign="center center">

    <div class="content" fxLayout="column" fxLayoutAlign="center center">

        <div class="error-code">401</div>

        <div class="message">You must authenticate to access this page. Please <a [routerLink]="'/auth/login'">login</a> first.</div>

        <div class="search" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="icon s-24">search</mat-icon>
            <input placeholder="Search for something" fxFlex>
        </div>
        <a class="back-link" [routerLink]="'/dashboard'">Go back to dashboard</a>

    </div>

</div>