<div id="mail-verify" fxLayout="column">

    <div id="mail-verify-form-wrapper" class="IE-FormCenterize" fxLayout="column" fxLayoutAlign="center center">

        <div id="mail-verify-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <mat-icon class="mat-accent s-96">email</mat-icon>
            </div>

            <div class="title">{{ 'MAIL_VERIFY.TITLE' | translate }}</div>

            <div class="subtitle">
                <p>
                    {{ 'MAIL_VERIFY.TEXT_1' | translate }}
                </p>
                <p>
                    {{ 'MAIL_VERIFY.TEXT_2' | translate }}
                </p>
                <!--<p>
                    {{ 'MAIL_VERIFY.TEXT_3' | translate }} <a class="link" [routerLink]="'/auth/login'" queryParamsHandling="merge">{{ 'MAIL_VERIFY.RESEND_MAIL' | translate }}</a>
                </p>-->
            </div>

            <div class="message">
                <a class="link" [routerLink]="'/auth/login'" queryParamsHandling="merge">{{ 'MAIL_VERIFY.GO_BACK_TO_LOGIN' | translate }}</a>
            </div>

        </div>

    </div>

</div>
