<div id="candidate-help" class="page-layout simple">

    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

        <div class="hero-text">
            <mat-icon class="hero-icon">help_outline</mat-icon>
            <h1 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                {{ 'CANDIDATE.HELP.WELCOME_TEXT' | translate }}
            </h1>
            <h3 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                {{ 'CANDIDATE.HELP.WELCOME_SUBTEXT' | translate }}
            </h3>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div class="cont" fxLayout="row wrap" fxLayoutAlign="center" [@animateStagger]="{value:'50'}">

            <p class="text-center" [innerHTML]="'CANDIDATE.HELP.CONTENT_TEXT' | translate" fxFlex="100"></p>
            <div class="p-16" fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
                <button mat-flat-button color="primary" [routerLink]="'/candidate/dashboard'">{{ 'MAIN.BUTTON.BACK_TO_DASH' | translate }}</button>
            </div>

        </div>

    </div>
    <!-- / CONTENT -->

</div>
