<div id="candidate-skills-start" class="page-layout simple">

    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

        <div class="hero-text">
            <mat-icon class="hero-icon">verified_user</mat-icon>
            <h1 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                {{ 'CANDIDATE.SKILLS.START.WELCOME_TEXT' | translate }}
            </h1>
            <h3 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                {{ 'CANDIDATE.SKILLS.START.WELCOME_SUBTEXT' | translate }}
            </h3>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div class="cont" fxLayout="row wrap" fxLayoutAlign="center" [@animateStagger]="{value:'50'}">

            <p class="text-center" [innerHTML]="'CANDIDATE.SKILLS.START.CONTENT_TEXT' | translate | safeHtml"></p>
            <div class="p-16" fxLayout="row" fxLayoutAlign="center center">
                <button mat-flat-button color="primary" [routerLink]="'/candidate/expertise'">{{ 'MAIN.BUTTON.BACK' | translate }}</button>
            </div>

            <div class="p-16" fxLayout="row" fxLayoutAlign="center center">
                <button mat-flat-button color="primary" [routerLink]="'/candidate/skills/questionnaire/' + testId + '/' + testSlug">{{ 'MAIN.BUTTON.START' | translate }}</button>
            </div>
        </div>

    </div>
    <!-- / CONTENT -->

</div>
