@mixin recruiter-jobs-theme($theme) {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $accent: map-get($theme, accent);
    $is-dark: map-get($theme, is-dark);

        .header {
            background: map-get($wiseseeker-green, 900);
            background: linear-gradient(to left, map-get($wiseseeker-green, 900) 0%, map-get($wiseseeker-green, 500) 100%);

            .hero-text {

                .hero-icon {
                    top: -100px !important;
                    opacity: 0.1 !important;
                    right: 0 !important;
                    left: auto !important;
                }
            }
        }


    #job-knowledgeas {

        .header {
            background: #1A237E;
            background: linear-gradient(to right, #0E2A3B 0%, #34306B 100%);

            .hero-text {

                h1 {
                    color: white;
                }

                h3 {
                    color: rgba(255, 255, 255, 0.75);
                }
            }
        }

        .content {

            .knowledge-list {

                .knowledge {

                    .knowledge-content {
                        background: map-get($background, card);

                        .header {

                            .category {
                                color: rgba(0, 0, 0, 0.54);
                            }

                            .length {

                                .length-icon {
                                    color: rgba(0, 0, 0, 0.54) !important;
                                }

                                .min {
                                    color: rgba(0, 0, 0, 0.54);
                                }
                            }
                        }

                        .content {

                            .updated {
                                color: map-get($foreground, hint-text);
                            }
                        }
                    }
                }
            }
        }
    }

    #job-knowledge {

        .sidebar {

            .steps {

                .step {
                    color: map-get($foreground, secondary-text);

                    &.current {
                        @if ($is-dark) {
                            background: map-get($background, app-bar);
                            color: map-get($foreground, text);
                        } @else {
                            background: map-get($accent, 50);
                            color: map-get($accent, '50-contrast');
                        }

                        .index {

                            span {
                                @if ($is-dark) {
                                    background: map-get($background, app-bar);
                                    border-color: map-get($accent, default);
                                } @else {
                                    background: map-get($background, background);
                                    border-color: map-get($accent, default);
                                }
                            }
                        }
                    }

                    &.completed {
                        color: map-get($foreground, text);

                        .index {

                            span {
                                border-color: map-get($accent, default);
                            }

                            &:after {
                                border-left-color: map-get($accent, default);
                            }
                        }

                        + .step {

                            .index {

                                &:before {
                                    border-left-color: map-get($accent, default);
                                }
                            }
                        }
                    }

                    .index {

                        &:before,
                        &:after {
                            border-left-color: map-get($foreground, divider);
                        }

                        span {
                            background: map-get($background, background);
                            border-color: map-get($foreground, divider);
                        }
                    }
                }
            }
        }

        .center {

            .content {
                @if ($is-dark) {
                    background: #353535;
                } @else {
                    background: mat-color($mat-grey, 200);
                }

                .course-step {

                    .course-step-content {
                        background: map-get($background, card);
                    }
                }
            }
        }
    }

    #job-skills-questionnaire, #job-knowledge-questionnaire, #job-roles-questionnaire {

        .center {
            position: relative;
            overflow: hidden;

            .header {
                height: 72px !important;
                min-height: 72px !important;
                max-height: 72px !important;
                background: none !important;
            }
        }

        .top-bg {
            height: 136px !important;

            &.accent {
                background: linear-gradient(to left, map-get($wiseseeker-green, 900) 0%, map-get($wiseseeker-green, 500) 100%);
            }
        }
    }
}
