<div class="navbar-top" [ngClass]="fuseConfig.layout.navbar.secondaryBackground">

    <div class="logo">
        <img class="logo-icon" [src]="appConfig.logo.icon">
        <span class="logo-text secondary-text">{{appConfig.appName}}</span>
    </div>

    <div class="buttons">

        <button mat-icon-button class="toggle-sidebar-folded"
                (click)="toggleSidebarFolded()" fxHide.lt-lg>
            <mat-icon class="secondary-text">menu</mat-icon>
        </button>

        <button mat-icon-button class="toggle-sidebar-opened"
                (click)="toggleSidebarOpened()" fxHide.gt-md>
            <mat-icon class="secondary-text">arrow_back</mat-icon>
        </button>

    </div>

</div>


<div class="navbar-scroll-container" [ngClass]="fuseConfig.layout.navbar.primaryBackground"
     fusePerfectScrollbar [fusePerfectScrollbarOptions]="{suppressScrollX: true}">

    <div class="user" fxLayout="column" [ngClass]="fuseConfig.layout.navbar.secondaryBackground" *ngIf="currentUser">

        <div class="h3 username" *ngIf="currentUser && (!appConfig.appSettings.anonymousSite || currentUser.groups.indexOf(groupRecruiter) !== -1)">{{currentUser.firstName}} {{currentUser.lastName}}</div>
        <div class="h3 username" *ngIf="currentUser && appConfig.appSettings.anonymousSite && currentUser.groups.indexOf(groupRecruiter) === -1">{{currentUser.username}}</div>
        <div class="h5 email hint-text mt-8" *ngIf="currentUser && (!appConfig.appSettings.anonymousSite || currentUser.groups.indexOf(groupRecruiter) !== -1)">{{currentUser.email}}</div>
        <div class="h5 email hint-text mt-8" *ngIf="currentUser && appConfig.appSettings.anonymousSite && currentUser.groups.indexOf(groupRecruiter) === -1"> </div>
        <div class="avatar-container" [ngClass]="fuseConfig.layout.navbar.primaryBackground" *ngIf="currentUser">
            <img class="avatar" [src]="currentUser.avatar && (!appConfig.appSettings.anonymousSite || currentUser.groups.indexOf(groupRecruiter) !== -1) ? currentUser.avatar : 'assets/images/avatars/profile.jpg'">
        </div>

    </div>

    <div class="navbar-content">
        <fuse-navigation class="material2" layout="vertical"></fuse-navigation>
    </div>

</div>
