<div id="candidate-roles-home" class="page-layout simple">

    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

        <div class="hero-text">
            <mat-icon class="hero-icon">person_pin_circle</mat-icon>
            <h1 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                {{ 'CANDIDATE.ROLES.HOME.WELCOME_TEXT' | translate }}
            </h1>
            <h3 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                {{ 'CANDIDATE.ROLES.HOME.WELCOME_SUBTEXT' | translate }}
            </h3>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div class="cont" fxLayout="column wrap" fxLayoutAlign="center" [@animateStagger]="{value:'50'}">
            <div class="filters" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center" *ngIf="userRoles && userRoles.length > 0">

                <mat-form-field appearance="outline" floatLabel="always" class="roles-search">
                    <mat-label>{{ 'MAIN.SEARCH_FOR' | translate }}</mat-label>
                    <input matInput placeholder="{{ 'MAIN.ENTER_KEYWORD' | translate }}"
                           [(ngModel)]="searchTerm"
                           (input)="filterRolesByTerm()">
                </mat-form-field>

                <mat-form-field appearance="outline" class="category-selector">
                    <mat-label>{{ 'MAIN.CATEGORY' | translate }}</mat-label>
                    <mat-select [(ngModel)]="currentCategory"
                                (selectionChange)="filterRolesByCategory()">
                        <mat-option [value]="'all'">
                            {{ 'MAIN.ALL_PL_F' | translate }}
                        </mat-option>
                        <mat-option *ngFor="let category of categories" [value]="category">
                            {{ category.title }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!--<mat-form-field appearance="outline" class="type-selector">
                    <mat-label>{{ 'MAIN.TYPE' | translate }}</mat-label>
                    <mat-select [(ngModel)]="currentType"
                                (selectionChange)="filterRolesByCategory()">
                        <mat-option [value]="'all'">
                            {{ 'MAIN.ALL_PL_M' | translate }}
                        </mat-option>
                        <mat-option *ngFor="let type of types" [value]="type.type">
                            {{ type.title | translate }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>-->

            </div>

            <div class="roles-list" fxLayout="row wrap" fxLayoutAlign="start" [@animateStagger]="{value:'50'}" *ngIf="userRoles && userRoles.length > 0">

                <div class="role" fxFlex="100" fxFlex.gt-xs="50" *ngIf="userRoles.length > 0"
                     fxFlex.gt-sm="33" [@animate]="{value:'*',params:{y:'100%'}}">

                    <div class="role-content" fxLayout="column" fxFlex="1 1 auto" fxLayoutAlign="center center">

                        <div class="action-buttons">

                            <button mat-fab class="add-new green-600" [routerLink]="'/candidate/roles/list'" title="{{ 'MAIN.BUTTON.ADD' | translate }}">
                                <mat-icon>add</mat-icon>
                            </button>

                        </div>

                    </div>

                </div>

                <div class="role" *ngFor="let roles of filteredRoles" fxFlex="100" fxFlex.gt-xs="50"
                     fxFlex.gt-sm="33" [@animate]="{value:'*',params:{y:'100%'}}">

                    <div class="role-content" fxLayout="column" fxFlex="1 1 auto">

                        <div class="header" fxLayout="row" fxLayoutAlign="center center" [ngClass]="roles.category && roles.category.style && roles.category.style !== '' ? roles.category.style : roles.execution && roles.execution.status === 3 ? 'android-bg' : 'cloud-bg'">

                            <div class="category" fxFlex>
                                <!--{{roles.title}}-->
                                <mat-icon class="length-icon s-20" *ngIf="roles.execution && roles.execution.status === 3 && (roles.execution.assessed.punctuation / roles.execution.assessed.maximum) > 0.9">stars</mat-icon>
                            </div>

                            <div class="length" fxLayout="row" fxLayoutAlign="center center" *ngIf="roles.execution && roles.execution.status === 3">
                                <mat-icon class="length-icon s-20">beenhere</mat-icon>
                                <div class="min">{{roles.execution.marks}}/{{roles.execution.assessed.maximum}}</div>
                            </div>

                        </div>

                        <div class="content" fxLayout="column" fxLayoutAlign="center center" fxFlex="1 1 auto">
                            <div>
                                <img src="{{roles.image}}" class="img" default="https://png.pngtree.com/svg/20161108/python_933400.png" width="100px">
                            </div>
                            <div class="updated">{{roles.title}}</div>
                        </div>

                        <div class="footer" fxLayout="row" fxLayoutAlign="center center">
                            <button mat-button color="primary" *ngIf="roles.execution"
                                    [routerLink]="'/candidate/roles/' + roles.id + '/' + (roles.title | slugify)">
                                {{ 'MAIN.BUTTON.VIEW' | translate }}
                            </button>
                            <ng-container *ngFor="let test of roles.tests">
                                <button mat-button color="primary" *ngIf="roles.execution && roles.execution.status === 3"
                                        [routerLink]="'/candidate/roles/result/' + roles.id + '/' + test.id + '/' + (roles.title | slugify)">
                                    {{ 'MAIN.BUTTON.RESULTS' | translate }}
                                </button>

                                <button mat-button color="primary" *ngIf="!roles.execution"
                                        [routerLink]="'/candidate/roles/questionnaire/' + roles.id + '/' + test.id + '/' + (roles.title | slugify)">
                                    {{ 'MAIN.BUTTON.START' | translate }}
                                </button>

                                <button mat-button color="primary" *ngIf="roles.execution && roles.execution.status === 3 && false"
                                        [routerLink]="'/candidate/roles/questionnaire/' + roles.id + '/' + test.id + '/' + (roles.title | slugify)">
                                    {{ 'MAIN.BUTTON.REPEAT_TEST' | translate }}
                                </button>

                                <button mat-button color="primary" *ngIf="roles.execution && roles.execution.status !== 3"
                                        [routerLink]="'/candidate/roles/questionnaire/' + roles.id + '/' + test.id + '/' + (roles.title | slugify)">
                                    {{ 'MAIN.BUTTON.FINISH_TEST' | translate }}
                                </button>
                            </ng-container>
                        </div>

                    </div>

                </div>

            </div>

            <div fxLayout="row" fxLayoutAlign="center center" class="no-roles mat-display-1 p-16" *ngIf="!userRoles || userRoles.length === 0">
                {{ 'CANDIDATE.ROLES.HOME.CONTENT_TEXT' | translate }}
            </div>
            
            <div class="p-8" fxLayout="row" fxLayoutAlign="center center">
                <button class="m-16" mat-flat-button color="primary" [routerLink]="'/candidate/dashboard'">{{ 'MAIN.BUTTON.BACK_TO_DASH' | translate }}</button>
                <button class="m-8" mat-flat-button color="primary" [routerLink]="'/candidate/roles/list'" *ngIf="!userRoles || userRoles.length === 0">{{ 'MAIN.BUTTON.ADD' | translate }}</button>
            </div>
        </div>

    </div>
    <!-- / CONTENT -->

</div>
