<div id="candidate-expertise-questionnaire-dialog">
    <ng-container *ngIf="data.lastResult; else retakeLastAttempt">
        <h2 mat-dialog-title>{{'CANDIDATE.EXPERTISE.QUESTIONNAIRE.DIALOG_TITLE_RETAKE' | translate}}</h2>
        <mat-dialog-content [innerHTML]="'CANDIDATE.EXPERTISE.QUESTIONNAIRE.DIALOG_TEXT_RETAKE' | translate"></mat-dialog-content>
        <mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
            <button mat-flat-button [mat-dialog-close]="'cancel'" color="primary" class="m-16">{{'MAIN.BUTTON.CANCEL' | translate}}</button>
            <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
            <button mat-flat-button [mat-dialog-close]="false" color="primary" class="m-16">{{'MAIN.BUTTON.REPEAT_TEST' | translate}}</button>
        </mat-dialog-actions>
    </ng-container>
    <ng-template #retakeLastAttempt>
        <h2 mat-dialog-title>{{'CANDIDATE.EXPERTISE.QUESTIONNAIRE.DIALOG_TITLE_CONTINUE' | translate}}</h2>
        <mat-dialog-content [innerHTML]="'CANDIDATE.EXPERTISE.QUESTIONNAIRE.DIALOG_TEXT_CONTINUE' | translate"></mat-dialog-content>
        <mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
            <button mat-flat-button [mat-dialog-close]="true" color="primary" class="m-16">{{'MAIN.BUTTON.CONTINUE' | translate}}</button>
            <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
            <button mat-flat-button [mat-dialog-close]="false" color="primary" class="m-16">{{'MAIN.BUTTON.START_AGAIN' | translate}}</button>
        </mat-dialog-actions>
    </ng-template>
</div>
