<div id="recruiter-roles-home" class="page-layout simple">

    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

        <div class="hero-text">
            <mat-icon class="hero-icon">person_pin_circle</mat-icon>
            <h1 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                {{ 'RECRUITER.ROLES.HOME.WELCOME_TEXT' | translate }}
            </h1>
            <h3 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                {{ 'RECRUITER.ROLES.HOME.WELCOME_SUBTEXT' | translate }}
            </h3>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div fxLayout="column" fxLayoutAlign="center">

            <div class="filters" fxLayout="column" fxLayoutAlign="center center"
                 fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

                <mat-form-field appearance="outline" floatLabel="always" class="role-search">
                    <mat-label>{{ 'MAIN.SEARCH_FOR' | translate }}</mat-label>
                    <input matInput placeholder="{{ 'MAIN.ENTER_KEYWORD' | translate }}"
                           [(ngModel)]="searchTerm"
                           (input)="filterRolesByTerm()">
                </mat-form-field>

                <!--<mat-form-field appearance="outline" class="category-selector">
                    <mat-label>{{ 'MAIN.CATEGORY' | translate }}</mat-label>
                    <mat-select [(ngModel)]="currentCategory" (selectionChange)="filterRolesByCategory()">
                        <mat-option [value]="'all'">
                            {{ 'MAIN.ALL_PL_F' | translate }}
                        </mat-option>
                        <mat-option *ngFor="let category of categories" [value]="category">
                            {{ category.title }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>-->

                <mat-form-field appearance="outline" class="type-selector">
                    <mat-label>{{ 'MAIN.TYPE' | translate }}</mat-label>
                    <mat-select [(ngModel)]="currentType"
                                (selectionChange)="filterRolesByCategory()">
                        <mat-option [value]="'all'">
                            {{ 'MAIN.ALL_PL_M' | translate }}
                        </mat-option>
                        <mat-option *ngFor="let type of types" [value]="type.type">
                            {{ type.title | translate }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

            <div class="roles-list" fxLayout="row wrap" fxLayoutAlign="start" [@animateStagger]="{value:'50'}">

                <div class="role" fxFlex="100" fxFlex.gt-xs="50"
                     fxFlex.gt-sm="33" [@animate]="{value:'*',params:{y:'100%'}}">

                    <div class="role-content" fxLayout="column" fxFlex="1 1 auto" fxLayoutAlign="center center">

                        <div class="action-buttons">

                            <button mat-fab class="add-new green-600" [routerLink]="'/recruiter/roles/editor/0/new'" title="{{ 'MAIN.BUTTON.ADD_NEW' | translate}}">
                                <mat-icon>add</mat-icon>
                            </button>

                        </div>

                    </div>

                </div>

                <div class="role" *ngFor="let role of filteredRoles" fxFlex="100" fxFlex.gt-xs="50"
                     fxFlex.gt-sm="33" [@animate]="{value:'*',params:{y:'100%'}}">

                    <div class="role-content" fxLayout="column" fxFlex="1 1 auto">

                        <!--<div class="header" fxLayout="row" fxLayoutAlign="center center" [ngClass]="role.applications.length > 0 ? 'android-bg' : 'cloud-bg'">-->
                        <div class="header" fxLayout="row" fxLayoutAlign="center center" [ngClass]="!role.custom ? 'android-bg' : 'cloud-bg'">

                            <div class="category" fxFlex>
                                {{role.title}}
                            </div>

                            <!--<div class="users" fxLayout="row" fxLayoutAlign="center center">
                                <mat-icon class="users-icon s-20">people</mat-icon>
                                <div class="number">{{role.applications.length}}</div>
                            </div>-->

                        </div>

                        <div class="content" fxLayout="column" fxLayoutAlign="center center" fxFlex="1 1 auto">
                            <div class="image">
                                <img alt="{{role.title}}" src="{{role.image}}" class="img" default="https://c7.uihere.com/icons/911/82/570/role-management-e1b514e594006150b88db24b43c49ebc.png" width="100px">
                            </div>
                            <div class="description">{{role.description}}</div>
                            <!--<div class="description">{{role.title}}</div>-->
                            <!--<div class="date-from-to secondary-text">{{role.active_from | date:'shortDate'}} <mat-icon class="s-20">keyboard_arrow_right</mat-icon> {{role.active_to | date:'shortDate'}}</div>-->
                        </div>

                        <div class="footer" fxLayout="row" fxLayoutAlign="center center">
                            <button mat-button color="primary"
                                    [routerLink]="'/recruiter/roles/detail/' + role.id + '/' + (role.title | slugify)">
                                {{ 'MAIN.BUTTON.VIEW' | translate }}
                            </button>

                            <button mat-button color="primary"
                                    [routerLink]="'/recruiter/roles/editor/' + role.id + '/' + (role.title | slugify)">
                                {{ 'MAIN.BUTTON.EDIT' | translate }}
                            </button>

                            <button mat-button color="primary" (click)="deleteRole(role.id)">
                                {{ 'MAIN.BUTTON.DELETE' | translate }}
                            </button>
                        </div>

                    </div>

                </div>

                <!--<div class="no-roles mat-display-1 w-100-p" *ngIf="filteredRoles.length === 0">
                    {{ 'MAIN.NO_RESULTS' | translate }}
                </div>-->

            </div>

        </div>

    </div>
    <!-- / CONTENT -->

</div>
