<div id="roles-result" class="page-layout simple">

    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

        <div class="hero-text">
            <mat-icon class="hero-icon">person_pin_circle</mat-icon>
            <h1 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                {{ 'CANDIDATE.ROLES.RESULT.WELCOME_TEXT' | translate }}
            </h1>
            <h3 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                {{ 'CANDIDATE.ROLES.RESULT.WELCOME_SUBTEXT' | translate }}
            </h3>
        </div>

    </div>
    <!-- / HEADER -->
    <!-- {{result | json}} -->

    <!-- CONTENT -->
    <div class="content p-12">

        <div class="role-result" fxLayout="row wrap" fxLayoutAlign="center" [@animateStagger]="{value:'50'}">

            <ng-template [ngIf]="assessment" [ngIfElse]="noResults">

                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}">

                    <!-- Front -->
                    <div class="fuse-widget-front">

                        <div class="pl-16 pr-8 py-16" fxLayout="row" fxLayoutAlign="space-between center">

                            <div class="h4" fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon class="secondary-text mr-8">person_pin_circle</mat-icon>
                                {{role.title}}
                            </div>

                            <div>
                                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="more">
                                    <mat-icon class="secondary-text">more_vert</mat-icon>
                                </button>

                                <mat-menu #moreMenu="matMenu">
                                    <button mat-menu-item aria-label="Flip widget">
                                        Details
                                    </button>
                                </mat-menu>
                            </div>
                        </div>

                        <div class="p-16 pb-32" fxLayout="column" fxLayoutAlign="center center">

                            <div fxLayout="row" fxLayoutAlign="center center">
                                <img src="{{assessment.image}}" class="img mr-24" default="https://png.pngtree.com/svg/20161108/python_933400.png" width="50px">
                                <span class="light-blue-fg font-size-72 line-height-72">
                                        {{ assessment.punctuation }}
                                    </span>
                                <span class="font-size-48 font-weight-300 hint-text text-super ml-8">/</span>
                                <span class="mat-display-2 mb-0 font-weight-300 hint-text ng-binding">{{ assessment.maximum }}</span>
                            </div>
                        </div>

                        <div class="p-16 by" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-between center">
                            <div fxLayout="column" fxLayoutAlign="start center" fxFlex="100" [@animate]="{value:'*',params:{y:'100%'}}">

                                <span class="secondary-text ml-5">Media General</span>
                                <ngx-charts-gauge
                                                  *fuseIfOnDom
                                                  [results]="[{name: 'Media General', value: 56}]"
                                                  [showAxis]="false"
                                                  [animations]="true"
                                                  [legend]="false"
                                                  [legendTitle]="role.title"
                                                  [scheme]="'forest'">
                                </ngx-charts-gauge>
                            </div>

                            <div fxLayout="column" fxLayoutAlign="start center" fxFlex="100" [@animate]="{value:'*',params:{y:'100%'}}">
                                <span class="secondary-text ml-5">Media Empresa</span>
                                <ngx-charts-gauge
                                                  *fuseIfOnDom
                                                  [results]="[{name: 'Media Empresa', value: 94}]"
                                                  [showAxis]="false"
                                                  [animations]="true"
                                                  [legend]="false"
                                                  [legendTitle]="role.title"
                                                  [scheme]="'forest'">
                                </ngx-charts-gauge>
                            </div>

                            <div fxLayout="column" fxLayoutAlign="start center" fxFlex="100" [@animate]="{value:'*',params:{y:'100%'}}">
                                <span class="secondary-text ml-5">Media Colectivo</span>
                                <ngx-charts-gauge
                                                  *fuseIfOnDom
                                                  [results]="[{name: 'Media Colectivo', value: 77}]"
                                                  [showAxis]="false"
                                                  [animations]="true"
                                                  [legend]="false"
                                                  [legendTitle]="role.title"
                                                  [scheme]="'forest'">
                                </ngx-charts-gauge>
                            </div>
                        </div>

                    </div>
                    <!-- / Front -->

                </fuse-widget>

            </ng-template>

            <ng-template #noResults>
                <div class="no-results">
                    <!--<div class="h1 hidden" fxLayout="row" fxLayoutAlign="center center">{{ 'MAIN.NOTHING_HERE' | translate }}</div>-->
                    <div class="h1" fxLayout="row" fxLayoutAlign="center center">{{ 'MAIN.THANKS_FOR_TAKING_THE_TEST' | translate }}</div>
                </div>
            </ng-template>

        </div>

        <div class="" fxLayout="row" fxLayoutAlign="center center">
            <div class="p-16" fxLayout="row" fxLayoutAlign="center center">
                <button mat-flat-button color="primary"
                        [routerLink]="'/candidate/dashboard'">{{ 'MAIN.BUTTON.BACK_TO_DASH' | translate }}</button>
            </div>

            <!--<div class="p-16" fxLayout="row" fxLayoutAlign="center center">
                <button mat-flat-button color="primary"
                        [routerLink]="'/candidate/roles/list'">{{ 'MAIN.BUTTON.ADD_MORE' | translate }}</button>
            </div>-->
        </div>

    </div>
    <!-- / CONTENT -->

</div>
