<div id="candidate-jobs-apply-dialog">
    <ng-container *ngIf="data.delete">
        <h2 mat-dialog-title>{{'CANDIDATE.JOBS.DIALOG.DELETE_TITLE' | translate}}</h2>
        <mat-dialog-content [innerHTML]="'CANDIDATE.JOBS.DIALOG.DELETE_TEXT' | translate"></mat-dialog-content>
        <mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
            <button mat-flat-button [mat-dialog-close]="true" color="primary" class="m-16">{{'MAIN.BUTTON.DELETE' | translate}}</button>
            <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
            <button mat-flat-button [mat-dialog-close]="false" color="primary" class="m-16">{{'MAIN.BUTTON.CANCEL' | translate}}</button>
        </mat-dialog-actions>
    </ng-container>
    <ng-container *ngIf="data.register">
        <h2 mat-dialog-title>{{'CANDIDATE.JOBS.DIALOG.REGISTER_TITLE' | translate}}</h2>
        <mat-dialog-content [innerHTML]="'CANDIDATE.JOBS.DIALOG.REGISTER_TEXT' | translate"></mat-dialog-content>
        <mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
            <button mat-flat-button [mat-dialog-close]="true" color="primary" class="m-16">{{'MAIN.BUTTON.REGISTER' | translate}}</button>
            <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
            <button mat-flat-button [mat-dialog-close]="false" color="primary" class="m-16">{{'MAIN.BUTTON.CANCEL' | translate}}</button>
        </mat-dialog-actions>
    </ng-container>
</div>
