<div id="candidate-jobs-apply" class="page-layout simple full-width inner-scroll">

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">

            <!--<button mat-icon-button class="mr-16" [routerLink]="'/candidate/jobs'">
                <mat-icon>arrow_back</mat-icon>
            </button>-->

            <div>
                <h2>
                    <mat-icon *ngIf="job && job.icon; else defaultIcon" class="header-icon mr-24">{{job.icon}}</mat-icon>
                    <ng-template #defaultIcon><mat-icon class="header-icon mr-24">business_center</mat-icon></ng-template>
                    <ng-container *ngIf="job">{{job.title}}</ng-container>
                </h2>
            </div>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div id="job-content" class="content p-16" fxLayout="column wrap">

            <ng-container *ngIf="job">
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}">
                    <div class="fuse-widget-front">
                        <div class="p-16 pb-32" fxLayout="column" fxLayoutAlign="center center">
                            <div class="job-title">
                                <h2>{{ 'MAIN.TITLE' | translate }}: <span class="secondary-text">{{job.title}}</span></h2>
                            </div>
                            <!--<div class="job-description">
                                <h3>{{ 'MAIN.DESCRIPTION' | translate }}: <span class="secondary-text">{{job.description}}</span></h3>
                            </div>-->
                            <div fxLayout="row wrap">
                                <!--<div class="job-icon">
                                    <img src="{{job.icon}}" class="icon mr-24" default="https://png.pngtree.com/svg/20161108/python_933400.png" width="32px">
                                </div>
                                <div class="job-image">
                                    <img src="{{job.image}}" class="img mr-24" default="https://png.pngtree.com/svg/20161108/python_933400.png" width="100px">
                                </div>-->
                            </div>
                            <div fxLayout.gt-xs="row wrap" fxLayout="column wrap">
                                <div class="job-active-from mx-8">
                                    <h4>{{ 'MAIN.DATE_ACTIVE_FROM' | translate }}: <span class="secondary-text">{{job.active_from | date:'short'}}</span></h4>
                                </div>
                                <div class="job-active-to mx-8">
                                    <h4>{{ 'MAIN.DATE_ACTIVE_TO' | translate }}: <span class="secondary-text">{{job.active_to | date:'short'}}</span></h4>
                                </div>
                            </div>
                            <!--<div fxLayout="row wrap">
                                <div class="job-personality-relevance mx-8">
                                    <h4>{{ 'CANDIDATE.JOBS.DETAIL.PERSONALITY_RELEVANCE_TITLE' | translate }}: <span class="secondary-text">{{ 'MAIN.JOBS.PERSONALITY_RELEVANCE.' + job.personality_relevance | translate}}</span></h4>
                                </div>
                                <div class="job-personality-test mx-8">
                                    <h4>{{ 'CANDIDATE.JOBS.DETAIL.PERSONALITY_TEST_TITLE' | translate }}: <span class="secondary-text">{{ (job.test_personality ? 'MAIN.REQUIRED' : 'MAIN.NOT_REQUIRED') | translate }}</span></h4>
                                </div>
                                <div class="job-test mx-8">
                                    <h4>{{ 'CANDIDATE.JOBS.DETAIL.TEST_TITLE' | translate }}: <span class="secondary-text">&lt;!&ndash;<a [routerLink]="'/candidate/roles/' + job.test.id + '/' + (job.test.title | slugify)">&ndash;&gt;{{job.test ? job.test.title : 'NA' }}&lt;!&ndash;</a>&ndash;&gt;</span></h4>
                                </div>
                            </div>-->
                            <!--<div fxLayout="row wrap">
                                <div class="job-skills mx-8 text-center">
                                    <h4>{{ 'CANDIDATE.JOBS.DETAIL.SKILLS_TITLE' | translate }}</h4>
                                    <mat-chip-list>
                                        <mat-chip color="accent" *ngFor="let skill of job.skills">{{ 'MAIN.JOBS.PERSONALITY_SKILL.' + skill | translate}}</mat-chip>
                                    </mat-chip-list>
                                </div>
                            </div>-->
                            <div class="job-tests w-100-p text-center" fxFlex="100" fxLayout="column" fxLayoutAlign="center center">
                                <h4>{{ 'MAIN.STATUS' | translate }}</h4>
                                <mat-chip-list>
                                    <mat-chip color="accent" *ngIf="job.applications.length > 0; else notApplied">{{ 'MAIN.JOB_APPLICATION_STATUS.' + job.applications[0].status | translate}}</mat-chip>
                                    <ng-template #notApplied>
                                        <mat-chip color="accent">{{ 'MAIN.JOB_APPLICATION_STATUS.0' | translate}}</mat-chip>
                                    </ng-template>
                                </mat-chip-list>
                                <!--<ng-container *ngIf="(job.applications && job.applications.length > 0)">
                                    &lt;!&ndash;<mat-form-field>
                                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'MAIN.FILTER_BY' | translate }}">
                                    </mat-form-field>&ndash;&gt;

                                    &lt;!&ndash;<table mat-table [dataSource]="usersTestsTable" class="jobs-tests-table w-100-p" matSort matSortActive="user" matSortDisableClear matSortDirection="asc" (matSortChange)="sortData($event)">&ndash;&gt;
                                    <mat-table [dataSource]="job.applications" class="jobs-tests-table w-100-p">

                                        <ng-container [matColumnDef]="column" *ngFor="let column of jobApplicationsDisplayedColumns">
                                            &lt;!&ndash;<th mat-header-cell *matHeaderCellDef mat-sort-header> {{usersTestsTableColumnsTitles[column]}} </th>&ndash;&gt;
                                            <mat-header-cell *matHeaderCellDef> {{'MAIN.COLUMN.' + column.toUpperCase() | translate}} </mat-header-cell>
                                            <ng-container *ngIf="column === 'user'"><mat-cell *matCellDef="let element"> {{element[column].first_name}} {{element[column].last_name}} </mat-cell></ng-container>
                                            <ng-container *ngIf="column === 'kti'"><mat-cell *matCellDef="let element"> {{element[column]}} </mat-cell></ng-container>
                                            <ng-container *ngIf="column === 'status'"><mat-cell *matCellDef="let element"> {{'MAIN.JOB_APPLICATION_STATUS.' + element[column] | translate}} </mat-cell></ng-container>
                                        </ng-container>
                                        <mat-header-row *matHeaderRowDef="jobApplicationsDisplayedColumns"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: jobApplicationsDisplayedColumns;"></mat-row>
                                    </mat-table>
                                    &lt;!&ndash;<mat-paginator [length]="usersTestsTable.length" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>&ndash;&gt;


                                </ng-container>-->
                            </div>
                        </div>
                        <div class="" fxLayout="row" fxLayoutAlign="center center">
                            <div class="p-16" fxLayout.gt-xs="row" fxLayout="column" fxLayoutAlign="center center">
                                <ng-container *ngIf="currentUser">
                                    <button class="m-8" mat-flat-button color="primary"
                                            [routerLink]="'/candidate/jobs/'">{{ 'MAIN.BUTTON.BACK' | translate }}</button>
                                    <ng-container *ngIf="!job.applications || job.applications.length === 0">
                                        <button class="m-8" mat-flat-button color="primary" (click)="createJobApplication()">{{ 'MAIN.BUTTON.APPLY' | translate }}</button>
                                    </ng-container>
                                    <ng-container *ngIf="job.applications && job.applications.length > 0">
                                        <button class="m-8" mat-flat-button color="primary" *ngFor="let application of job.applications"
                                                (click)="deleteJobApplication(application.id)">{{ 'MAIN.BUTTON.DELETE_JOB_APPLICATION' | translate }}</button>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="!currentUser">
                                    <button class="m-8" mat-flat-button color="primary" (click)="registerDialog()">{{ 'MAIN.BUTTON.APPLY' | translate }}</button>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </fuse-widget>
            </ng-container>

            <ng-container *ngIf="!job">
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}">
                    <div class="fuse-widget-front">
                        <div class="p-16 pb-32" fxLayout="column" fxLayoutAlign="center center" *ngIf="loaded">
                            <div class="job-title">
                                <h2>{{ 'CANDIDATE.JOBS.APPLY.NOT_FOUND' | translate }}</h2>
                            </div>
                        </div>
                        <div class="" fxLayout="row" fxLayoutAlign="center center">
                            <div class="p-16" fxLayout.gt-xs="row" fxLayout="column" fxLayoutAlign="center center">
                                <ng-container *ngIf="currentUser">
                                    <button class="m-8" mat-flat-button color="primary" [routerLink]="'/candidate/jobs/'">{{ 'MAIN.BUTTON.BACK' | translate }}</button>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </fuse-widget>
            </ng-container>

        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

</div>
