@import "src/@fuse/scss/fuse";

#candidate-jobs-apply {

    .center {
        position: relative;
        overflow: auto;

        .header {
            height: 72px;
            min-height: 72px;
            max-height: 72px;
        }

        .content {
            position: relative;
            display: flex;
            background-color: transparent;

            .select-users {
                max-width: 65vw !important;
            }

        }

    }
}
