@mixin candidate-theme($theme) {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $accent: map-get($theme, accent);
    $is-dark: map-get($theme, is-dark);

    /*// Progress bars
    $progress-height:                   1rem !default;
    $progress-font-size:                12px !default;
    $progress-bg:                       gray-200 !default;
    $progress-border-radius:            0 !default;
    $progress-box-shadow:               inset 0 .1rem .1rem rgba(black, .1) !default;
    $progress-bar-color:                white !default;
    $progress-bar-bg:                   $accent !default;
    $progress-bar-animation-timing:     1s linear infinite !default;
    $progress-bar-transition:           width .6s ease !default;*/

    .ngb-progressbar {
        .progress {
            display: flex;
            height: 2rem;
            overflow: hidden; // force rounded corners by cropping it
            font-size: 12px;
            background-color: #0A0A0A;
            border-radius: 0;
            box-shadow: inset 0 .1rem .1rem rgba(#000000, .1);
            mix-blend-mode: difference;
        }

        .progress-bar {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            white-space: nowrap;
            background-color: map-get($wiseseeker-green-inverse, 900);
            transition: width .6s ease;
            .progress-text {
                /*mix-blend-mode: difference;*/
                color: map-get($wiseseeker-green, '900-contrast');
                /*color: map-get($wiseseeker-green, 900);
                mix-blend-mode: exclusion;
                margin: 0 16px;
                //background-color: #0A0A0A;
                */
                &:before {
                    color: map-get($wiseseeker-green-inverse, 900);
                    mix-blend-mode: difference;
                    content: attr(data-content);
                    position: absolute;
                }
                &:after {
                    color: #000000;
                    mix-blend-mode: difference;
                    content: attr(data-content);
                }
                @media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) { // Chrome Hack
                    margin-top: -14px;
                    &:after {
                        content: "         ";
                    }
                }
            }
        }
        @supports (-ms-ime-align: auto) { // Edge Hack
            .progress {
                background-color: mat-color($mat-grey, 200);
            }
            .progress-bar {
                background-color: map-get($wiseseeker-green, 900);
                &:after {
                    content: "     ";
                }
            }
        }
    }

    .header {
        background: map-get($wiseseeker-green, 900);
        background: linear-gradient(to left, map-get($wiseseeker-green, 900) 0%, map-get($wiseseeker-green, 500) 100%);

        .hero-text {

            .hero-icon {
                top: -100px !important;
                opacity: 0.1 !important;
                right: 0 !important;
                left: auto !important;
            }
        }
    }

    .personality, .roles {
        .description > div {
            overflow: hidden;
            word-wrap: normal;
            text-overflow: ellipsis;
            font-size: 10px;
        }
        .dfx-chart-wrapper {
            position: relative;
            width: 100%;
            overflow: hidden;

            &:before {
                content: "";
                display: block;
                padding-top: 65%;
            }

            .chart {
                width: 100%;
                position: absolute;
                left: 50%;
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                //margin-bottom: -2em;

                .highcharts-container {
                    margin-top: 0;
                    //top: -2em;
                    width: 100% !important;
                    height: 100% !important;

                    .highcharts-root {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
    .skill {

        &.skill-id-4 {
            .dfx-chart-wrapper {
                position: relative;
                width: 100%;
                max-width: 768px;

                &:before {
                    content: "";
                    display: block;
                    padding-top: 75%;
                }
                .chart {
                    width: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    right: 0;
                }
            }
        }

        &.translate-y-50-p {
            transform: translateY(50%);
        }
        &:not(.skill-id-4) {
            .dfx-chart-wrapper {
                .chart {
                    .highcharts-container {
                        width: 100% !important;
                        height: 100% !important;
                        .highcharts-root {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
        .dfx-chart-wrapper {
            .chart {
                .highcharts-container {

                    .highcharts-root {
                        /*width: 100%;
                        height: 100%;*/
                    }
                }

                .spider-title > text, .hightcharts-tooltip {
                    /*font-size: 1.3em !important;*/
                    /*tspan {
                        color: #333333 !important;
                        fill: #333333 !important;
                    }*/
                }
                .spider-bullet {
                    display: none;
                }
            }
            .description {
                max-width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;

                mat-card-title, .mat-card-title {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }

    .expertise {

        .dfx-chart-wrapper.spiderweb {
            position: relative;
            width: 100%;
            max-width: 1024px;
            min-height: 850px;
            /*overflow: auto !important;*/

            &:before {
                content: "";
                display: block;
                padding-top: 75%;
            }
            .chart {
                /*min-width: 768px;
                min-height: 768px;*/
                width: 100%;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;

                .highcharts-container {
                    /*width: 100% !important;*/
                    /*height: 100% !important;*/

                    .highcharts-root {
                        /*width: 100%;
                        height: 100%;*/
                    }
                }

                .spider-title > text {
                    /*font-size: 1.3em !important;*/
                }
                .spider-bullet {
                    display: none;
                }
            }
        }

        &.translate-y-50-p {
            transform: translateY(50%);
        }
        .dfx-chart-wrapper:not(.spiderweb) {
            .chart {
                .highcharts-container {
                    width: 100% !important;
                    height: 100% !important;

                    .highcharts-root {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .description {
                max-width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;

                mat-card-title, .mat-card-title {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }

    #candidate-knowledgeas {

        .header {
            background: #1A237E;
            background: linear-gradient(to right, #0E2A3B 0%, #34306B 100%);

            .hero-text {

                h1 {
                    color: white;
                }

                h3 {
                    color: rgba(255, 255, 255, 0.75);
                }
            }
        }

        .content {

            .knowledge-list {

                .knowledge {

                    .knowledge-content {
                        background: map-get($background, card);

                        .header {

                            .category {
                                color: rgba(0, 0, 0, 0.54);
                            }

                            .length {

                                .length-icon {
                                    color: rgba(0, 0, 0, 0.54) !important;
                                }

                                .min {
                                    color: rgba(0, 0, 0, 0.54);
                                }
                            }
                        }

                        .content {

                            .updated {
                                color: map-get($foreground, hint-text);
                            }
                        }
                    }
                }
            }
        }
    }

    #candidate-knowledge, #candidate-roles, #candidate-expertise {

        .sidebar {

            .steps {

                .step {
                    color: map-get($foreground, secondary-text);

                    &.current {
                        @if ($is-dark) {
                            background: map-get($background, app-bar);
                            color: map-get($foreground, text);
                        } @else {
                            background: map-get($accent, 50);
                            color: map-get($accent, '50-contrast');
                        }

                        .index {

                            span {
                                @if ($is-dark) {
                                    background: map-get($background, app-bar);
                                    border-color: map-get($accent, default);
                                } @else {
                                    background: map-get($background, background);
                                    border-color: map-get($accent, default);
                                }
                            }
                        }
                    }

                    &.completed {
                        color: map-get($foreground, text);

                        .index {

                            span {
                                border-color: map-get($accent, default);
                            }

                            &:after {
                                border-left-color: map-get($accent, default);
                            }
                        }

                        + .step {

                            .index {

                                &:before {
                                    border-left-color: map-get($accent, default);
                                }
                            }
                        }
                    }

                    .index {

                        &:before,
                        &:after {
                            border-left-color: map-get($foreground, divider);
                        }

                        span {
                            background: map-get($background, background);
                            border-color: map-get($foreground, divider);
                        }
                    }
                }
            }
        }

        .center {

            .content {
                @if ($is-dark) {
                    background: #353535;
                } @else {
                    background: transparent;
                    /*background: mat-color($mat-grey, 200);*/
                }

                .course-step {

                    .course-step-content {
                        background: map-get($background, card);
                    }
                }
            }
        }
    }

    #candidate-skills-questionnaire, #candidate-knowledge-questionnaire, #candidate-expertise-questionnaire, #candidate-roles-questionnaire {

        .center {
            position: relative;
            overflow: hidden;

            .header {
                height: 72px !important;
                min-height: 72px !important;
                max-height: 72px !important;
                background: none !important;
            }

            .questionnaire-step {
                .questionnaire-step-content {
                    .questionnaire-step-question-options {
                        mat-radio-button, mat-checkbox {
                            padding: 8px 0;
                        }
                    }
                }
            }
        }

        .top-bg {
            height: 136px !important;

            &.accent {
                background: linear-gradient(to left, map-get($wiseseeker-green, 900) 0%, map-get($wiseseeker-green, 500) 100%);
            }
        }
    }

    .snack-alert-container {
        //margin-top: 10px;
    }
    .snack-alert-action {
        position: absolute;
        top: 10px;
        right: 10px;
        font-weight: bold;
        cursor: pointer;
    }
}
