<div id="candidate-experience-home" class="page-layout simple">

    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

        <div class="hero-text">
            <mat-icon class="hero-icon">library_books</mat-icon>
            <h1 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                {{ 'CANDIDATE.EXPERIENCE.HOME.WELCOME_TEXT' | translate }}
            </h1>
            <h3 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                {{ 'CANDIDATE.EXPERIENCE.HOME.WELCOME_SUBTEXT' | translate }}
            </h3>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div fxLayout="column" fxLayoutAlign="center">

            <!--<div class="filters" fxLayout="column" fxLayoutAlign="center center"
                 fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

                <mat-form-field appearance="outline" floatLabel="always" class="experience-search">
                    <mat-label>{{ 'MAIN.SEARCH_FOR' | translate }}</mat-label>
                    <input matInput placeholder="{{ 'MAIN.ENTER_KEYWORD' | translate }}"
                           [(ngModel)]="searchTerm"
                           (input)="filterExperienceHomeByTerm()">
                </mat-form-field>

                <mat-form-field appearance="outline" class="category-selector">
                    <mat-label>{{ 'MAIN.CATEGORY' | translate }}</mat-label>
                    <mat-select [(ngModel)]="currentCategory"
                                (selectionChange)="filterExperienceHomeByCategory()">
                        <mat-option [value]="'all'">
                            {{ 'MAIN.ALL_PL_F' | translate }}
                        </mat-option>
                        <mat-option *ngFor="let category of categories" [value]="category.value">
                            {{ category.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>-->

            <div class="experiences" fxLayout="row wrap" fxLayoutAlign="start" [@animateStagger]="{value:'50'}">

                <div class="experience" fxFlex="100" fxFlex.gt-xs="50"
                     fxFlex.gt-sm="33" [@animate]="{value:'*',params:{y:'100%'}}">

                    <div class="experience-content" fxLayout="column" fxFlex="1 1 auto" fxLayoutAlign="center center">

                        <div class="action-buttons">

                            <button mat-fab class="add-new green-600" [routerLink]="'/candidate/experience/editor/0'" title="{{ 'MAIN.BUTTON.ADD_NEW' | translate}}">
                                <mat-icon>add</mat-icon>
                            </button>

                        </div>

                    </div>

                </div>

                <div class="experience" *ngFor="let experience of filteredExperience" fxFlex="100" fxFlex.gt-xs="50"
                     fxFlex.gt-sm="33" [ngClass]="experience.category" [@animate]="{value:'*',params:{y:'100%'}}">

                    <div class="experience-content" fxLayout="column" fxFlex="1 1 auto">

                        <div class="header" fxLayout="row" fxLayoutAlign="center center"
                             [ngClass]="experience.category + '-bg'">

                            <div class="category" fxFlex>
                                {{experience.rol}}
                            </div>

                            <div class="length" fxLayout="row" fxLayoutAlign="center center">
                                <mat-icon class="length-icon s-20">access_time</mat-icon>
                                <div class="min">{{getExperienceTime(experience.working_from, experience.working_to)}}</div>
                            </div>

                        </div>

                        <div class="content" fxLayout="column" fxLayoutAlign="center center" fxFlex="1 1 auto">
                            <div class="h1">{{experience.title}}</div>
                            <div class="from-to">{{experience.working_from | date}} - {{experience.working_to | date}}</div>
                            <div class="enterprise">{{experience.enterprise}}</div>
                            <div class="location">{{experience.city}}, {{experience.country}}</div>
                            <div class="description">{{experience.description}}</div>
                        </div>

                        <div class="footer" fxLayout="row" fxLayoutAlign="center center">
                            <button mat-button color="primary"
                                    [routerLink]="'/candidate/experience/detail/' + experience.id">
                                {{ 'MAIN.BUTTON.VIEW' | translate }}
                            </button>
                            <button mat-button color="primary"
                                    [routerLink]="'/candidate/experience/editor/' + experience.id">
                                {{ 'MAIN.BUTTON.EDIT' | translate }}
                            </button>
                        </div>

                    </div>

                </div>

                <!--<div class="no-experiences" *ngIf="filteredExperience.length === 0">
                    {{ 'CANDIDATE.DASHBOARD.NONE_YET' | translate }}
                </div>-->

            </div>

        </div>

    </div>
    <!-- / CONTENT -->

</div>
