<div id="candidate-knowledge" class="page-layout simple left-sidebar">

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="mr-16" [routerLink]="'/candidate/knowledge/list'">
                <mat-icon>arrow_back</mat-icon>
            </button>

            <div>
                <h2>
                    <mat-icon *ngIf="knowledge.icon; else defaultIcon" class="header-icon mr-24">{{knowledge.icon}}</mat-icon>
                    <ng-template #defaultIcon><mat-icon class="header-icon mr-24">school</mat-icon></ng-template>
                    {{knowledge.title}}
                </h2>
            </div>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div id="knowledge-content" class="content p-16" fxLayout="column wrap">

            <ng-container *ngIf="knowledge">
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}">
                    <div class="fuse-widget-front">
                        <div class="p-16 pb-32" fxLayout="column" fxLayoutAlign="center center">
                            <div>
                                <h3>{{knowledge.description}}</h3>
                            </div>
                            <div>
                                <img *ngIf="knowledge.image && knowledge.image !== ''" src="{{knowledge.image}}" class="img" default="assets/images/demo-content/test-02.jpg">
                                <img src="{{knowledge.image}}" class="img mr-24" default="https://png.pngtree.com/svg/20161108/python_933400.png" width="100px">
                            </div>
                        </div>
                    </div>
                </fuse-widget>
                <div class="knowledge-result" [@animateStagger]="{value:'50'}">

                    <ng-container *ngIf="knowledge.execution && knowledge.execution.status === 3">

                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}">

                            <!-- Front -->
                            <div class="fuse-widget-front">

                                <div class="pl-16 pr-8 py-16" fxLayout="column" fxLayoutAlign="center center">

                                    <div class="h4" fxLayout="row" fxLayoutAlign="start center">
                                        <mat-icon class="secondary-text mr-8">person_pin_circle</mat-icon>
                                        {{ 'CANDIDATE.ROLES.DETAIL.LAST_ASSESSMENT' | translate }}
                                    </div>
                                </div>

                                <div class="p-16 pb-32" fxLayout="column" fxLayoutAlign="center center">

                                    <div fxLayout="row" fxLayoutAlign="center center">
                                        <mat-icon class="length-icon s-20" *ngIf="knowledge.execution && knowledge.execution.status === 3 && (knowledge.execution.assessed[0].punctuation / knowledge.execution.assessed[0].maximum) > 0.9">stars</mat-icon>
                                        <span class="light-blue-fg font-size-72 line-height-72">
                                        {{(knowledge.execution.assessed[0].punctuation / knowledge.execution.assessed[0].maximum) * 100 | number: '1.0-2'}}
                                        </span>
                                        <span class="font-size-48 font-weight-300 hint-text text-super ml-8">/</span>
                                        <span class="mat-display-2 mb-0 font-weight-300 hint-text ng-binding">{{ 100 }}</span>
                                    </div>
                                </div>

                                <!--<div class="p-16 by" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-between center">
                                    <div fxLayout="column" fxLayoutAlign="start center" fxFlex="100" [@animate]="{value:'*',params:{y:'100%'}}">

                                        <span class="secondary-text ml-5">Media General</span>
                                        <ngx-charts-gauge
                                            *fuseIfOnDom
                                            [results]="[{name: 'Media General', value: 56}]"
                                            [showAxis]="false"
                                            [animations]="true"
                                            [legend]="false"
                                            [legendTitle]="knowledge.title"
                                            [scheme]="'forest'">
                                        </ngx-charts-gauge>
                                    </div>

                                    <div fxLayout="column" fxLayoutAlign="start center" fxFlex="100" [@animate]="{value:'*',params:{y:'100%'}}">
                                        <span class="secondary-text ml-5">Media Empresa</span>
                                        <ngx-charts-gauge
                                            *fuseIfOnDom
                                            [results]="[{name: 'Media Empresa', value: 94}]"
                                            [showAxis]="false"
                                            [animations]="true"
                                            [legend]="false"
                                            [legendTitle]="knowledge.title"
                                            [scheme]="'forest'">
                                        </ngx-charts-gauge>
                                    </div>

                                    <div fxLayout="column" fxLayoutAlign="start center" fxFlex="100" [@animate]="{value:'*',params:{y:'100%'}}">
                                        <span class="secondary-text ml-5">Media Colectivo</span>
                                        <ngx-charts-gauge
                                            *fuseIfOnDom
                                            [results]="[{name: 'Media Colectivo', value: 77}]"
                                            [showAxis]="false"
                                            [animations]="true"
                                            [legend]="false"
                                            [legendTitle]="knowledge.title"
                                            [scheme]="'forest'">
                                        </ngx-charts-gauge>
                                    </div>
                                </div>-->

                            </div>
                            <!-- / Front -->

                        </fuse-widget>
                        <div class="" fxLayout="row" fxLayoutAlign="center center">
                            <div class="p-16" fxLayout="row" fxLayoutAlign="center center">
                                <button mat-flat-button color="primary"
                                        [routerLink]="'/candidate/knowledge/questionnaire/' + knowledge.id + '/' + knowledge.execution.test.id + '/' + (knowledge.title | slugify)">{{ 'MAIN.BUTTON.REPEAT_TEST' | translate }}</button>
                            </div>
                        </div>
                    </ng-container>

                </div>

            </ng-container>

        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

</div>
