<div id="candidate-roles" class="page-layout simple">

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="mr-16" [routerLink]="'/candidate/roles/list'">
                <mat-icon>arrow_back</mat-icon>
            </button>

            <div>
                <h2>
                    <mat-icon *ngIf="roles.icon; else defaultIcon" class="header-icon mr-24">{{roles.icon}}</mat-icon>
                    <ng-template #defaultIcon><mat-icon class="header-icon mr-24">person_pin_circle</mat-icon></ng-template>
                    {{roles.title}}
                </h2>
            </div>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div id="roles-content" class="content p-16" fxLayout="column wrap">

            <ng-container *ngIf="roles">
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}">
                    <div class="fuse-widget-front">
                        <div class="p-16 pb-32" fxLayout="column" fxLayoutAlign="center center">
                            <div>
                                <h3>{{roles.description}}</h3>
                            </div>
                            <div>
                                <img src="{{roles.image}}" class="img mr-24" default="https://png.pngtree.com/svg/20161108/python_933400.png" width="100px">
                            </div>
                        </div>
                    </div>
                </fuse-widget>
                <div class="role-result" [@animateStagger]="{value:'50'}">

                    <ng-container *ngIf="assessment && assessment.punctuation && assessment.maximum">

                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}">

                            <!-- Front -->
                            <div class="fuse-widget-front">

                                <div class="pl-16 pr-8 py-16" fxLayout="column" fxLayoutAlign="center center">

                                    <div class="h4" fxLayout="row" fxLayoutAlign="start center">
                                        <mat-icon class="secondary-text mr-8">person_pin_circle</mat-icon>
                                        {{ 'CANDIDATE.ROLES.DETAIL.LAST_ASSESSMENT' | translate }}
                                    </div>
                                </div>

                                <div class="p-16 pb-32" fxLayout="column" fxLayoutAlign="center center">

                                    <div fxLayout="row" fxLayoutAlign="center center">
                                        <img src="{{assessment.image}}" class="img mr-24" default="https://png.pngtree.com/svg/20161108/python_933400.png" width="50px">
                                        <span class="light-blue-fg font-size-72 line-height-72">
                                        {{ assessment.punctuation }}
                                    </span>
                                        <span class="font-size-48 font-weight-300 hint-text text-super ml-8">/</span>
                                        <span class="mat-display-2 mb-0 font-weight-300 hint-text ng-binding">{{ assessment.maximum }}</span>
                                    </div>
                                </div>

                                <div class="p-16 by" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-between center">
                                    <div fxLayout="column" fxLayoutAlign="start center" fxFlex="100" [@animate]="{value:'*',params:{y:'100%'}}">

                                        <span class="secondary-text ml-5">Media General</span>
                                        <ngx-charts-gauge
                                            *fuseIfOnDom
                                            [results]="[{name: 'Media General', value: 56}]"
                                            [showAxis]="false"
                                            [animations]="true"
                                            [legend]="false"
                                            [legendTitle]="roles.title"
                                            [scheme]="'forest'">
                                        </ngx-charts-gauge>
                                    </div>

                                    <div fxLayout="column" fxLayoutAlign="start center" fxFlex="100" [@animate]="{value:'*',params:{y:'100%'}}">
                                        <span class="secondary-text ml-5">Media Empresa</span>
                                        <ngx-charts-gauge
                                            *fuseIfOnDom
                                            [results]="[{name: 'Media Empresa', value: 94}]"
                                            [showAxis]="false"
                                            [animations]="true"
                                            [legend]="false"
                                            [legendTitle]="roles.title"
                                            [scheme]="'forest'">
                                        </ngx-charts-gauge>
                                    </div>

                                    <div fxLayout="column" fxLayoutAlign="start center" fxFlex="100" [@animate]="{value:'*',params:{y:'100%'}}">
                                        <span class="secondary-text ml-5">Media Colectivo</span>
                                        <ngx-charts-gauge
                                            *fuseIfOnDom
                                            [results]="[{name: 'Media Colectivo', value: 77}]"
                                            [showAxis]="false"
                                            [animations]="true"
                                            [legend]="false"
                                            [legendTitle]="roles.title"
                                            [scheme]="'forest'">
                                        </ngx-charts-gauge>
                                    </div>
                                </div>

                            </div>
                            <!-- / Front -->

                        </fuse-widget>
                        <div class="" fxLayout="row" fxLayoutAlign="center center">
                            <div class="p-16" fxLayout="row" fxLayoutAlign="center center">
                                <button mat-flat-button color="primary"
                                        [routerLink]="'/candidate/roles/questionnaire/' + roles.id + '/' + execution.test.id + '/' + (roles.title | slugify)">{{ 'MAIN.BUTTON.REPEAT_TEST' | translate }}</button>
                            </div>
                        </div>
                    </ng-container>

                </div>

            </ng-container>

        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

</div>
