<div class="page-layout simple" id="recruiter-dashboard">
    <div class="content h-100-p">

        <div class="left" fxLayout="column" fxLayoutAlign="stretch">

            <div class="first-row h-100-p" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row wrap" fxLayoutAlign.gt-sm="stretch" [@animate]="{value:'*',params:{y:'100%'}}">
                <!-- Talent Widget-->
                <div class="widget IE-FlexAuto" fxFlex="100" fxFlex.gt-sm="50" fxLayout="row" fxLayoutAlign="center stretch">

                    <div class="fuse-card auto-width m-16 flex-container" fxFlex="100" fxLayout="column wrap" fxLayoutAlign="space-between center">

                        <div class="p-16 flex-item">
                            <div class="text-center">
                                <mat-icon class="mat-display-4 w-112">assistant</mat-icon>
                            </div>
                            <div class="h1 text-center" fxLayout="row"
                                 fxLayoutAlign="center center">{{ 'RECRUITER.DASHBOARD.TALENT.TITLE' | translate }}</div>
                        </div>

                        <div *ngIf="!talents" class="p-16 h3 text-center flex-item">
                            {{ 'RECRUITER.DASHBOARD.NONE_YET' | translate }}
                        </div>

                        <div *ngIf="talents" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row wrap" fxLayoutAlign.gt-sm="center start" class="w-100-p px-24 flex-item">
                            <p class="h4 w-100-p text-center">{{ 'RECRUITER.DASHBOARD.TALENT.OPEN_PROCESSES' | translate }}</p>
                            <p class="w-100-p text-center">{{talents.length}} {{ 'RECRUITER.DASHBOARD.OPEN_PROCESSES_TOTAL' | translate }}</p>
                            <mat-table [dataSource]="talents" class="talents-table w-100-p">
                                <!-- Icon Column -->
                                <!--<ng-container matColumnDef="icon">
                                    <mat-header-cell *matHeaderCellDef>{{ 'MAIN.COLUMN.ICON' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let talent" fxLayoutAlign="center center"> {{talent.icon}} </mat-cell>
                                </ng-container>-->

                                <!-- Title Column -->
                                <ng-container matColumnDef="title">
                                    <mat-header-cell *matHeaderCellDef>{{ 'MAIN.COLUMN.PROCESS_NAME' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let talent"> {{talent.title}} </mat-cell>
                                </ng-container>

                                <!-- No Users Column -->
                                <ng-container matColumnDef="users">
                                    <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef>{{ 'MAIN.COLUMN.NO_USERS' | translate }}</mat-header-cell>
                                    <mat-cell fxLayoutAlign="center center" *matCellDef="let talent"> {{talent.users.length}} </mat-cell>
                                </ng-container>

                                <!-- Actions Column -->
                                <ng-container matColumnDef="actions">
                                    <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef>{{ 'MAIN.COLUMN.ACTIONS' | translate }}</mat-header-cell>
                                    <mat-cell fxLayout="row" fxLayoutAlign="end center" *matCellDef="let talent">
                                        <button mat-icon-button color="primary" [routerLink]="'/recruiter/talent/detail/' + talent.id + '/' +  (talent.title | slugify)">
                                            <mat-icon class="action-icon" title="{{ 'MAIN.BUTTON.VIEW' | translate }}">remove_red_eyes</mat-icon>
                                        </button>
                                        <button mat-icon-button color="primary" [routerLink]="'/recruiter/talent/editor/' + talent.id + '/' +  (talent.title | slugify)">
                                            <mat-icon class="action-icon" title="{{ 'MAIN.BUTTON.EDIT' | translate }}">edit</mat-icon>
                                        </button>
                                        <button mat-icon-button color="primary" (click)="deleteTalent(talent.id)">
                                            <mat-icon class="action-icon" title="{{ 'MAIN.BUTTON.DELETE' | translate }}">delete</mat-icon>
                                        </button>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="talentsDisplayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: talentsDisplayedColumns;"></mat-row>
                            </mat-table>
                        </div>

                        <div class="p-16 flex-item" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="center center">
                            <button mat-flat-button class="m-8" [routerLink]="'/recruiter/talent/editor/0/new'" color="primary" *ngIf="!notificationsBadges.talent">{{ 'MAIN.BUTTON.ADD_PROCESS' | translate }}</button>
                            <button mat-flat-button class="m-8" [routerLink]="'/recruiter/talent/editor/0/new'" color="primary" *ngIf="notificationsBadges.talent" matBadge="!!" matBadgePosition="after" matBadgeColor="warn">{{ 'MAIN.BUTTON.ADD_PROCESS' | translate }}</button>
                            <button mat-flat-button class="m-8" [routerLink]="'/recruiter/talent'" color="primary" *ngIf="!notificationsBadges.talent">{{ 'MAIN.BUTTON.VIEW_PROCESSES' | translate }}</button>
                            <button mat-flat-button class="m-8" [routerLink]="'/recruiter/talent'" color="primary" *ngIf="notificationsBadges.talent" matBadge="!!" matBadgePosition="after" matBadgeColor="warn">{{ 'MAIN.BUTTON.VIEW_PROCESSES' | translate }}</button>
                        </div>

                    </div>

                </div>
                <!-- / Talent Widget -->

                <!-- Jobs Widget-->
                <div class="widget IE-FlexAuto" fxFlex="100" fxFlex.gt-sm="50" fxLayout="row" fxLayoutAlign="center stretch">

                    <div class="fuse-card auto-width m-16 flex-container" fxFlex="100" fxLayout="column wrap" fxLayoutAlign="space-between center">

                        <div class="p-16 flex-item">
                            <div class="text-center">
                                <mat-icon class="mat-display-4 w-112">business_center</mat-icon>
                            </div>
                            <div class="h1 text-center" fxLayout="row"
                                 fxLayoutAlign="center center">{{ 'RECRUITER.DASHBOARD.JOBS.TITLE' | translate }}</div>
                        </div>

                        <div *ngIf="!jobs" class="p-16 h3 text-center flex-item">
                            {{ 'RECRUITER.DASHBOARD.NONE_YET' | translate }}
                        </div>

                        <div *ngIf="jobs" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row wrap" fxLayoutAlign.gt-sm="center start" class="w-100-p px-24 flex-item">
                            <p class="h4 w-100-p text-center">{{ 'RECRUITER.DASHBOARD.JOBS.OPEN_PROCESSES' | translate }}</p>
                            <p class="w-100-p text-center">{{jobs.length}} {{ 'RECRUITER.DASHBOARD.OPEN_PROCESSES_TOTAL' | translate }}</p>
                            <mat-table [dataSource]="jobs" class="talents-table w-100-p">
                                <!-- Icon Column -->
                                <!--<ng-container matColumnDef="icon">
                                    <mat-header-cell *matHeaderCellDef>{{ 'MAIN.COLUMN.ICON' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let job" fxLayoutAlign="center center"> {{job.icon}} </mat-cell>
                                </ng-container>-->

                                <!-- Title Column -->
                                <ng-container matColumnDef="title">
                                    <mat-header-cell *matHeaderCellDef>{{ 'MAIN.COLUMN.PROCESS_NAME' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let job"> {{job.title}} </mat-cell>
                                </ng-container>

                                <!-- No Users Column -->
                                <ng-container matColumnDef="applications">
                                    <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef>{{ 'MAIN.COLUMN.NO_APPLICATIONS' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let job" fxLayoutAlign="center center"> {{job.applications.length}} </mat-cell>
                                </ng-container>

                                <!-- Actions Column -->
                                <ng-container matColumnDef="actions">
                                    <mat-header-cell *matHeaderCellDef>{{ 'MAIN.COLUMN.ACTIONS' | translate }}</mat-header-cell>
                                    <mat-cell fxLayout="row" fxLayoutAlign="end center" *matCellDef="let job">
                                        <button mat-icon-button color="primary" [routerLink]="'/recruiter/jobs/detail/' + job.id + '/' +  (job.title | slugify)">
                                            <mat-icon class="action-icon" title="{{ 'MAIN.BUTTON.VIEW' | translate }}">remove_red_eyes</mat-icon>
                                        </button>
                                        <button mat-icon-button color="primary" [routerLink]="'/recruiter/jobs/editor/' + job.id + '/' +  (job.title | slugify)">
                                            <mat-icon class="action-icon" title="{{ 'MAIN.BUTTON.EDIT' | translate }}">edit</mat-icon>
                                        </button>
                                        <button mat-icon-button color="primary" (click)="deleteJob(job.id)">
                                            <mat-icon class="action-icon" title="{{ 'MAIN.BUTTON.DELETE' | translate }}">delete</mat-icon>
                                        </button>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="jobsDisplayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: jobsDisplayedColumns;"></mat-row>
                            </mat-table>
                        </div>


                        <div class="p-16 flex-item" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="center center">
                            <button mat-flat-button class="m-8" [routerLink]="'/recruiter/jobs/editor/0/new'" color="primary" *ngIf="!notificationsBadges.jobs">{{ 'MAIN.BUTTON.ADD_PROCESS' | translate }}</button>
                            <button mat-flat-button class="m-8" [routerLink]="'/recruiter/jobs/editor/0/new'" color="primary" *ngIf="notificationsBadges.jobs" matBadge="!!" matBadgePosition="after" matBadgeColor="warn">{{ 'MAIN.BUTTON.ADD_PROCESS' | translate }}</button>
                            <button mat-flat-button class="m-8" [routerLink]="'/recruiter/jobs'" color="primary" *ngIf="!notificationsBadges.jobs">{{ 'MAIN.BUTTON.VIEW_PROCESSES' | translate }}</button>
                            <button mat-flat-button class="m-8" [routerLink]="'/recruiter/jobs'" color="primary" *ngIf="notificationsBadges.jobs" matBadge="!!" matBadgePosition="after" matBadgeColor="warn">{{ 'MAIN.BUTTON.VIEW_PROCESSES' | translate }}</button>
                        </div>

                    </div>

                </div>
                <!-- / Jobs Widget -->
            </div>

        </div>

    </div>

</div>
