﻿<div *ngIf="currentUser" fxFlex="100" fxLayout="row" fxLayoutAlign="center start">
    <h1>Hi {{currentUser.firstName}}!</h1>
</div>
<div *ngIf="currentUser" fxFlex="100" fxLayout="row" fxLayoutAlign="center start">
    <p>You're logged in with Angular 7 as {{currentUser.groups}}!!</p>
</div>
