<div id="candidate-jobs-home" class="page-layout simple">

    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

        <div class="hero-text">
            <mat-icon class="hero-icon">business_center</mat-icon>
            <h1 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                {{ 'CANDIDATE.JOBS.HOME.WELCOME_TEXT' | translate }}
            </h1>
            <h3 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                {{ 'CANDIDATE.JOBS.HOME.WELCOME_SUBTEXT' | translate }}
            </h3>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div fxLayout="column" fxLayoutAlign="center">

            <div class="filters" fxLayout="column" fxLayoutAlign="center center"
                 fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

                <mat-form-field appearance="outline" floatLabel="always" class="job-search">
                    <mat-label>{{ 'MAIN.SEARCH_FOR' | translate }}</mat-label>
                    <input matInput placeholder="{{ 'MAIN.ENTER_KEYWORD' | translate }}"
                           [(ngModel)]="searchTerm"
                           (input)="filterJobsByTerm()">
                </mat-form-field>

                <mat-form-field appearance="outline" class="category-selector">
                    <mat-label>{{ 'MAIN.CATEGORY' | translate }}</mat-label>
                    <mat-select [(ngModel)]="currentCategory" (selectionChange)="filterJobsByCategory()">
                        <mat-option [value]="'all'">
                            {{ 'MAIN.ALL_PL_F' | translate }}
                        </mat-option>
                        <mat-option *ngFor="let category of categories" [value]="category.value">
                            {{ category.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

            <div class="jobs-list" fxLayout="row wrap" fxLayoutAlign="start" [@animateStagger]="{value:'50'}">

                <div class="job" *ngFor="let job of filteredJobs" fxFlex="100" fxFlex.gt-xs="50"
                     fxFlex.gt-sm="33" [@animate]="{value:'*',params:{y:'100%'}}">

                    <div class="job-content" fxLayout="column" fxFlex="1 1 auto">

                        <div class="header" fxLayout="row" fxLayoutAlign="center center" [ngClass]="job.applications.length > 0 ? 'android-bg' : 'cloud-bg'">

                            <div class="category" fxFlex>
                                <!--{{job.title}}-->
                            </div>

                            <div class="users" fxLayout="row" fxLayoutAlign="center center" *ngIf="job.applications.length > 0">
                                <mat-icon class="users-icon s-20">playlist_add_check</mat-icon>
                            </div>

                        </div>

                        <div class="content" fxLayout="column" fxLayoutAlign="start center" fxFlex="1 1 auto">
                            <!--<div class="image">
                                <img src="{{job.image}}" class="img" default="https://png.pngtree.com/svg/20161108/python_933400.png" width="100px">
                            </div>-->
                            <div class="description"><!--{{job.description}}-->{{job.title}}</div>
                            <div class="date-from-to secondary-text">{{job.active_from | date:'shortDate'}} <mat-icon class="s-20">keyboard_arrow_right</mat-icon> {{job.active_to | date:'shortDate'}}</div>
                            <div class="status" *ngIf="job.applications.length > 0"><button class="mat-flat-button status-{{ application.status }}" *ngFor="let application of job.applications">{{ 'MAIN.JOB_APPLICATION_STATUS.' + application.status | translate}}</button></div>
                        </div>

                        <div class="footer" fxLayout="row" fxLayoutAlign="center center">
                            <button mat-button color="primary"
                                    [routerLink]="'/candidate/jobs/detail/' + job.id + '/' + (job.title | slugify)">
                                {{ 'MAIN.BUTTON.VIEW' | translate }}
                            </button>
                        </div>

                    </div>

                </div>

                <div class="no-jobs mat-display-1 w-100-p" *ngIf="filteredJobs.length === 0">
                    {{ 'MAIN.NO_RESULTS' | translate }}
                </div>

            </div>

        </div>

    </div>
    <!-- / CONTENT -->

</div>
