@import "src/@fuse/scss/fuse";

#candidate-jobs-detail {

    .center {
        position: relative;
        overflow: auto;

        .header {
            height: 72px;
            min-height: 72px;
            max-height: 72px;
        }

        .content {
            position: relative;
            display: flex;
            //overflow: auto;
            background-color: transparent;

            /*fuse-widget {
                width: 100%;
            }*/
        }
    }
}

#candidate-jobs-detail-dialog {
    max-width: 500px;
    text-align: center;
}