@import "src/@fuse/scss/fuse";

#recruiter-roles-editor {
    background-color: #fff;

    .center {
        position: relative;
        overflow: auto;

        .header {
            height: 72px;
            min-height: 72px;
            max-height: 72px;
        }

        .content {
            position: relative;
            display: flex;
            background-color: transparent;

            .dfx-collapsed {
                max-height: 0;
                opacity: 0;
                transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
            }

            .dfx-not-collapsed {
                max-height: 2000px;
                opacity: 1;
                transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
            }

            .alert {
                max-width: 320px;
                text-align: center;
                margin: auto;
                margin-top: 32px;
            }

        }
    }
}
