<div id="recruiter-roles-editor-dialog">
    <h2 mat-dialog-title>{{'RECRUITER.ROLES.EDITOR.DIALOG.TITLE_' + action | translate}}</h2>
    <mat-dialog-content>
        <form *ngIf="action != 'DELETE'; else elseTemplate" fxLayout="column" [formGroup]="editorForm" class="IE-FlexNone">
            <div fxFlex="100" fxLayout="row">
                <mat-form-field floatLabel="never" fxFlex="100">
                    <mat-select placeholder="{{ 'RECRUITER.TALENT.EDITOR.STEP_8_LABEL' | translate }}" #knowledgeTests formControlName="knowledge" required [(value)]="local_data.component.knowledge" (selectionChange)="selectKnowledge($event)">
                        <mat-option *ngFor="let knowledge of local_data.knowledgeTests" [(value)]="knowledge">{{knowledge.title}}</mat-option>
                    </mat-select>
                    <!--<input formControlName="knowledge" type="hidden" required [value]="local_data.component.knowledge" [(ngModel)]="local_data.component.knowledge">-->
                </mat-form-field>
            </div>
            <div fxFlex="100" fxLayout="row">
                <mat-form-field floatLabel="never" fxFlex="100">
                    <input matInput formControlName="relevance" type="number" step="10" min="0" max="{{maxRelevance}}" required [placeholder]="'MAIN.COLUMN.RELEVANCE' | translate" [value]="local_data.component.relevance" [(ngModel)]="local_data.component.relevance">
                    <span matSuffix>&nbsp;%</span>
                    <mat-error *ngIf="editorForm.get('relevance').hasError('required')">{{ 'MAIN.FORMS.ERRORS.FIELD_REQUIRED' | translate }}</mat-error>
                    <mat-error
                        *ngIf="!editorForm.get('relevance').hasError('required') &&
                                (editorForm.get('relevance').hasError('min') || editorForm.get('relevance').hasError('max'))">
                        {{ 'MAIN.FORMS.ERRORS.FIELD_NUMBER_VALUES' | translate | formatString: { "minimo": 0, "maximo": maxRelevance } }}
                    </mat-error>
                </mat-form-field>
            </div>
            <!--<div fxFlex="100" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center">
                <mat-form-field floatLabel="never" fxFlex="100" fxFlex.gt-xs="45">
                    <input matInput formControlName="level" type="number" min="1" max="5" required [placeholder]="'MAIN.COLUMN.LEVEL' | translate" [value]="local_data.component.level" [(ngModel)]="local_data.component.level">
                    <mat-error *ngIf="editorForm.get('level').hasError('required')">{{ 'MAIN.FORMS.ERRORS.FIELD_REQUIRED' | translate }}</mat-error>
                    <mat-error
                        *ngIf="!editorForm.get('level').hasError('required') &&
                                (editorForm.get('level').hasError('min') || editorForm.get('level').hasError('max'))">
                        {{ 'MAIN.FORMS.ERRORS.FIELD_NUMBER_VALUES' | translate | formatString: { "minimo": 1, "maximo": 5 } }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field floatLabel="never" fxFlex="100" fxFlex.gt-xs="45" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center">
                    <input matInput formControlName="relevance" type="number" min="1" max="{{maxRelevance}}" required [placeholder]="'MAIN.COLUMN.RELEVANCE' | translate" [value]="local_data.component.relevance" [(ngModel)]="local_data.component.relevance">
                    <span matSuffix>&nbsp;%</span>
                    <mat-error *ngIf="editorForm.get('relevance').hasError('required')">{{ 'MAIN.FORMS.ERRORS.FIELD_REQUIRED' | translate }}</mat-error>
                    <mat-error
                        *ngIf="!editorForm.get('relevance').hasError('required') &&
                                (editorForm.get('relevance').hasError('min') || editorForm.get('relevance').hasError('max'))">
                        {{ 'MAIN.FORMS.ERRORS.FIELD_NUMBER_VALUES' | translate | formatString: { "minimo": 1, "maximo": maxRelevance } }}
                    </mat-error>
                </mat-form-field>
            </div>-->
        </form>
        <ng-template #elseTemplate>
            {{'RECRUITER.ROLES.EDITOR.DIALOG.CONFIRM_DELETE' | translate}}
        </ng-template>
    </mat-dialog-content>
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
        <button mat-flat-button (click)="doAction()" [disabled]="!editorForm.valid && action != 'DELETE'" color="primary" class="m-16">{{'MAIN.BUTTON.' + action | translate}}</button>
        <button mat-flat-button (click)="closeDialog()" color="primary" class="m-16">{{'MAIN.BUTTON.CANCEL' | translate}}</button>
    </mat-dialog-actions>
</div>
