<div id="recruiter-roles-editor" class="page-layout simple full-width" fxLayout="column">

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="mr-16" [routerLink]="'/recruiter/roles'">
                <mat-icon>arrow_back</mat-icon>
            </button>

            <div>
                <h2 *ngIf="role.title && role.title != ''; else titleNew">{{role.title}}</h2>
                <ng-template #titleNew><h2>{{'RECRUITER.ROLES.EDITOR.NEW_ROLE' | translate}}</h2></ng-template>
            </div>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div id="recruiter-roles-editor-content" class="content fuse-white-bg" fxLayout="column wrap">

            <div class="horizontal-stepper-wrapper" *ngIf="role">

                <!-- VERTICAL STEPPER -->
                <mat-vertical-stepper ngclass.gt-sm="p-24" [linear]="roleId > 0 ? false : false">

                    <mat-step [stepControl]="horizontalStepperStep1">

                        <form fxLayout="column" [formGroup]="horizontalStepperStep1">

                            <ng-template matStepLabel>{{ 'RECRUITER.ROLES.EDITOR.STEP_1_LABEL' | translate }}</ng-template>

                            <div fxFlex="1 0 auto" fxLayout="column">

                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>{{ 'MAIN.FORMS.NAME' | translate }}</mat-label>
                                    <input matInput formControlName="title" placeholder="{{ 'RECRUITER.ROLES.EDITOR.STEP_1_TEXT_1' | translate }}" required>
                                    <mat-error>{{ 'MAIN.FORMS.ERRORS.NAME_REQUIRED' | translate }}</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>{{ 'MAIN.FORMS.DESCRIPTION' | translate }}</mat-label>
                                    <textarea matInput formControlName="description" placeholder="{{ 'RECRUITER.ROLES.EDITOR.STEP_1_TEXT_2' | translate }}" rows="4"></textarea>
                                </mat-form-field>

                            </div>

                            <div fxLayout="row" fxLayoutAlign="center center">
                                <button class="m-16" ngClass.gt-xs="mx-8" mat-stroked-button matStepperNext type="button" color="primary">
                                    {{ 'MAIN.BUTTON.NEXT' | translate }}
                                </button>
                            </div>

                        </form>

                    </mat-step>

                    <!--<mat-step [stepControl]="horizontalStepperStep2">

                        <form fxLayout="column" [formGroup]="horizontalStepperStep2">

                            <ng-template matStepLabel>{{ 'RECRUITER.ROLES.EDITOR.STEP_2_LABEL' | translate }}</ng-template>

                            <div fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="space-around">

                                <mat-form-field appearance="outline">
                                    <mat-label>{{ 'MAIN.FORMS.STARTS' | translate }}</mat-label>
                                    <input matInput [matDatepicker]="picker_active_from" formControlName="active_from" placeholder="{{ 'MAIN.FORMS.FILL_A_DATE' | translate }}" required>
                                    <mat-datepicker-toggle matSuffix [for]="picker_active_from"></mat-datepicker-toggle>
                                    <mat-datepicker #picker_active_from></mat-datepicker>
                                    <mat-error>{{ 'MAIN.FORMS.ERRORS.FIELD_REQUIRED' | translate }}</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline">
                                    <mat-label>{{ 'MAIN.FORMS.ENDS' | translate }}</mat-label>
                                    <input matInput [matDatepicker]="picker_active_to" formControlName="active_to" placeholder="{{ 'MAIN.FORMS.FILL_A_DATE' | translate }}" required>
                                    <mat-datepicker-toggle matSuffix [for]="picker_active_to"></mat-datepicker-toggle>
                                    <mat-datepicker #picker_active_to></mat-datepicker>
                                    <mat-error>{{ 'MAIN.FORMS.ERRORS.FIELD_REQUIRED' | translate }}</mat-error>
                                </mat-form-field>

                            </div>

                            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="center center">
                                <button class="m-16" ngClass.gt-xs="mx-8" mat-stroked-button matStepperPrevious type="button" color="primary">
                                    {{ 'MAIN.BUTTON.PREVIOUS' | translate }}
                                </button>
                                <button class="m-16" ngClass.gt-xs="mx-8" mat-stroked-button matStepperNext type="button" color="primary">
                                    {{ 'MAIN.BUTTON.NEXT' | translate }}
                                </button>
                            </div>

                        </form>

                    </mat-step>-->

                    <!--<mat-step [stepControl]="horizontalStepperStep3">

                        <form fxLayout="column" [formGroup]="horizontalStepperStep3">

                            <ng-template matStepLabel>{{ 'RECRUITER.ROLES.EDITOR.STEP_3_LABEL' | translate }}</ng-template>

                            <div fxFlex="1 0 auto" fxLayout="column">

                                <div class="container mb-16">
                                    <p>{{ 'RECRUITER.ROLES.EDITOR.STEP_3_LABEL_B' | translate }}</p>
                                    <button mat-flat-button color="primary" (click)="iconInput.click()">{{ 'MAIN.FORMS.CHOOSE_A_FILE' | translate }}</button>
                                    <input hidden type="file" #iconInput formControlName="icon" (change)="uploadIcon($event)">
                                    <p>{{ 'RECRUITER.ROLES.EDITOR.STEP_3_TEXT_B' | translate }}</p>
                                    <ng-container *ngIf="icon"><img [src]="icon.src"></ng-container>
                                </div>

                                <div class="container mb-16">
                                    <p>{{ 'RECRUITER.ROLES.EDITOR.STEP_3_LABEL_A' | translate }}</p>
                                    <button mat-flat-button color="primary" (click)="imageInput.click()">{{ 'MAIN.FORMS.CHOOSE_A_FILE' | translate }}</button>
                                    <input hidden type="file" #imageInput formControlName="image" (change)="uploadImage($event)">
                                    <p>{{ 'RECRUITER.ROLES.EDITOR.STEP_3_TEXT_A' | translate }}</p>
                                    <ng-container *ngIf="image"><img [src]="image.src"></ng-container>
                                </div>

                            </div>horizontalStepperStep3

                            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="center center">
                                <button class="m-16" ngClass.gt-xs="mx-8" mat-stroked-button matStepperPrevious type="button" color="primary">
                                    {{ 'MAIN.BUTTON.PREVIOUS' | translate }}
                                </button>
                                <button class="m-16" ngClass.gt-xs="mx-8" mat-stroked-button matStepperNext type="button" color="primary">
                                    {{ 'MAIN.BUTTON.NEXT' | translate }}
                                </button>
                            </div>

                        </form>

                    </mat-step>-->

                    <mat-step [stepControl]="horizontalStepperStep4">

                        <form fxLayout="column" [formGroup]="horizontalStepperStep4">

                            <ng-template matStepLabel>{{ 'RECRUITER.ROLES.EDITOR.STEP_4_LABEL' | translate }}</ng-template>

                            <!--<div fxLayout="column" class="mt-16" ngClass="w-100-p">
                                <mat-slide-toggle class="w-50" formControlName="personality" (change)="togglePersonality()">{{ 'RECRUITER.ROLES.EDITOR.STEP_4_LABEL_C' | translate }}</mat-slide-toggle>
                                <mat-hint>{{ 'RECRUITER.ROLES.EDITOR.STEP_4_TEXT_C' | translate }}</mat-hint>
                            </div>-->

                            <!--<div fxFlex="1 0 auto" fxLayout="column" [ngClass]="personalitySelected ? 'dfx-not-collapsed' : 'dfx-collapsed'">-->
                            <div fxFlex="1 0 auto" fxLayout="column">
                                <div fxLayout.gt-xs="row" fxLayout="column" fxLayoutAlign.gt-xs="end center" fxLayoutAlign="center center">
                                    <button class="m-16" ngClass.gt-xs="mx-8" (click)="openDialog('ADD', emptyComponent) " mat-flat-button type="button" color="primary" [disabled]="roleComponentsTotalRelevance >= 100">
                                        {{ 'MAIN.BUTTON.ADD_NEW' | translate }}
                                    </button>
                                </div>
                                <ng-container *ngIf="(roleComponents && roleComponents.length > 0)">
                                    <!--<mat-form-field><ng-container *ngIf="column === 'actions'"><mat-header-cell *matHeaderCellDef> {{usersTestsTableColumnsTitles[column]}} </mat-header-cell></ng-container>
                                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'MAIN.FILTER_BY' | translate }}">
                                    </mat-form-field>-->

                                    <!--<table mat-table [dataSource]="usersTestsTable" class="roles-tests-table w-100-p" matSort matSortActive="user" matSortDisableClear matSortDirection="asc" (matSortChange)="sortData($event)">-->
                                    <mat-table [dataSource]="roleComponents" #componentsTable class="roles-tests-table w-100-p">
                                        <ng-container [matColumnDef]="column" *ngFor="let column of roleComponentsDisplayedColumns">
                                            <mat-header-cell *matHeaderCellDef [fxLayoutAlign]="column === 'knowledge' ? 'start center' : 'center center'"> {{ (column === 'actions' ? '' : 'MAIN.COLUMN.' + column.toUpperCase()) | translate }} </mat-header-cell>
                                            <ng-container *ngIf="column === 'knowledge'">
                                                <mat-cell *matCellDef="let element"> {{element[column].title}} </mat-cell>
                                                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                                            </ng-container>
                                            <ng-container *ngIf="column === 'level'">
                                                <mat-cell *matCellDef="let element" fxLayoutAlign="center center"> {{element[column]}} </mat-cell>
                                                <mat-footer-cell *matFooterCellDef fxLayoutAlign="end center"> {{ 'RECRUITER.ROLES.EDITOR.STEP_4_LABEL_TOTAL' | translate }} </mat-footer-cell>
                                            </ng-container>
                                            <ng-container *ngIf="column === 'relevance'">
                                                <mat-cell *matCellDef="let element" fxLayoutAlign="center center"> {{element[column]}} % </mat-cell>
                                                <mat-footer-cell *matFooterCellDef fxLayoutAlign="center center"> {{roleComponentsTotalRelevance}} % </mat-footer-cell>
                                            </ng-container>
                                            <ng-container *ngIf="column === 'actions'">
                                                <mat-cell *matCellDef="let element" fxLayoutAlign="center center">
                                                    <button mat-icon-button color="primary" (click)="openDialog('UPDATE', element)">
                                                        <mat-icon class="action-icon" title="{{ 'MAIN.BUTTON.EDIT' | translate }}">edit</mat-icon>
                                                    </button>
                                                    <button mat-icon-button color="primary" (click)="openDialog('DELETE', element)">
                                                        <mat-icon class="action-icon" title="{{ 'MAIN.BUTTON.DELETE' | translate }}">delete</mat-icon>
                                                    </button>
                                                </mat-cell>
                                                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                                            </ng-container>
                                        </ng-container>
                                        <mat-header-row *matHeaderRowDef="roleComponentsDisplayedColumns"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: roleComponentsDisplayedColumns;"></mat-row>
                                        <mat-footer-row *matFooterRowDef="roleComponentsDisplayedColumns"></mat-footer-row>
                                    </mat-table>
                                    <!--<mat-paginator [length]="usersTestsTable.length" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>-->
                                </ng-container>
                                <div class="alert alert-danger m-t-16" *ngIf="roleComponentsTotalRelevance != 100">{{ 'RECRUITER.ROLES.EDITOR.ERROR_FULL_PERCENTAGE' | translate }}</div>

                            </div>


                            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="center center">
                                <button class="m-16" ngClass.gt-xs="mx-8" mat-stroked-button matStepperPrevious type="button" color="primary">
                                    {{ 'MAIN.BUTTON.PREVIOUS' | translate }}
                                </button>
                                <!--<button class="m-16" ngClass.gt-xs="mx-8" mat-stroked-button matStepperNext type="button" color="primary" (click)="saveForm.disabled = false">
                                    {{ 'MAIN.BUTTON.NEXT' | translate }}
                                </button>-->
                            </div>

                        </form>

                    </mat-step>

                </mat-vertical-stepper>
                <!-- / VERTICAL STEPPER -->
                <div class="separator"></div>

                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="center center">
                    <button class="m-16" ngClass.gt-xs="mx-8" mat-flat-button type="button" color="primary" [routerLink]="'/recruiter/roles'">
                        {{ 'MAIN.BUTTON.CANCEL' | translate }}
                    </button>
                    <button class="m-16" ngClass.gt-xs="mx-8" mat-flat-button type="button" #saveForm color="primary" [disabled]="!(horizontalStepperStep1.valid && roleComponentsTotalRelevance === 100)" (click)="submitRole()">
                        {{ 'MAIN.BUTTON.SAVE' | translate }}
                    </button>
                </div>

            </div>
        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

</div>
