@mixin recruiter-theme($theme) {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $accent: map-get($theme, accent);
    $is-dark: map-get($theme, is-dark);

    .personality {
        .trait-chart {
            max-width: 100%;
            margin-bottom: -2em;

            .highcharts-container {
                margin-top: 0;
                top: -2em;
                width: 100% !important;
                height: 100% !important;

                .highcharts-root {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .trait-description {
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;

            mat-card-title, .mat-card-title {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

        }
    }

    #recruiter-talent-homexxx {

        .header {
            background: #1A237E;
            background: linear-gradient(to right, #0E2A3B 0%, #34306B 100%);

            .hero-text {

                h1 {
                    color: white;
                }

                h3 {
                    color: rgba(255, 255, 255, 0.75);
                }
            }
        }

        .content {

            .courses {

                .course {

                    .course-content {
                        background: map-get($background, card);

                        .header {

                            .category {
                                color: rgba(0, 0, 0, 0.54);
                            }

                            .length {

                                .length-icon {
                                    color: rgba(0, 0, 0, 0.54) !important;
                                }

                                .min {
                                    color: rgba(0, 0, 0, 0.54);
                                }
                            }
                        }

                        .content {

                            .updated {
                                color: map-get($foreground, hint-text);
                            }
                        }
                    }
                }
            }
        }
    }

    #recruiter-talent {

        .center {

            .content {
                @if ($is-dark) {
                    background: #353535;
                } @else {
                    background: mat-color($mat-grey, 200);
                }

            }
        }
    }

    #recruiter-jobs {

        .center {

            .content {
                @if ($is-dark) {
                    background: #353535;
                } @else {
                    background: mat-color($mat-grey, 200);
                }

            }
        }
    }

    #recruiter-roles {

        .center {

            .content {
                @if ($is-dark) {
                    background: #353535;
                } @else {
                    background: mat-color($mat-grey, 200);
                }

            }
        }
    }
}
