<div id="knowledge-result" class="page-layout simple">

    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

        <div class="hero-text">
            <mat-icon class="hero-icon">school</mat-icon>
            <h1 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                {{ 'CANDIDATE.KNOWLEDGE.RESULT.WELCOME_TEXT' | translate }}
            </h1>
            <h3 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                {{ 'CANDIDATE.KNOWLEDGE.RESULT.WELCOME_SUBTEXT' | translate }}
            </h3>
        </div>

    </div>
    <!-- / HEADER -->
    <!-- {{result | json}} -->

    <!-- CONTENT -->
    <div class="content p-12">

        <div class="personality" fxLayout="row wrap" fxLayoutAlign="center" [@animateStagger]="{value:'50'}">

            <ng-template [ngIf]="assessment" [ngIfElse]="noResults">

                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}">

                    <!-- Front -->
                    <div class="fuse-widget-front">

                        <div class="pl-16 pr-8 py-16" fxLayout="row" fxLayoutAlign="space-between center">

                            <div class="h4" fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon class="secondary-text mr-8">school</mat-icon>
                                {{knowledge.title}}
                            </div>

                            <!--<div>
                                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="more">
                                    <mat-icon class="secondary-text">more_vert</mat-icon>
                                </button>

                                <mat-menu #moreMenu="matMenu">
                                    <button mat-menu-item aria-label="Flip widget">
                                        Details
                                    </button>
                                </mat-menu>
                            </div>-->
                        </div>

                        <div class="p-16 pb-32" fxLayout="column" fxLayoutAlign="center center">

                            <ng-template [ngIf]="knowledge.image">
                                <div fxLayout="row" fxLayoutAlign="center center" class="mb-24">
                                    <img src="{{knowledge.image}}" class="img" default="https://png.pngtree.com/svg/20161108/python_933400.png" width="100px">
                                </div>
                            </ng-template>
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <mat-icon class="length-icon s-20" *ngIf="assessment.punctuation / assessment.maximum > 0.9">stars</mat-icon>
                                <span class="light-blue-fg font-size-72 line-height-72">
                                    {{ (assessment.punctuation / assessment.maximum) * 100 | number: '1.0-2' }}
                                </span>
                                <span class="font-size-48 font-weight-300 hint-text text-super ml-8">/</span>
                                <span class="mat-display-2 mb-0 font-weight-300 hint-text ng-binding">{{ 100 }}</span>
                            </div>
                        </div>

                        <!--<div class="p-16 by" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-between center">
                            <div fxLayout="column" fxLayoutAlign="start center" fxFlex="100" [@animate]="{value:'*',params:{y:'100%'}}">

                                <span class="secondary-text ml-5">Media General</span>
                                <ngx-charts-gauge
                                    *fuseIfOnDom
                                    [results]="[{name: 'Media General', value: 56}]"
                                    [showAxis]="false"
                                    [animations]="true"
                                    [legend]="false"
                                    [legendTitle]="knowledge.title"
                                    [scheme]="'forest'">
                                </ngx-charts-gauge>
                            </div>

                            <div fxLayout="column" fxLayoutAlign="start center" fxFlex="100" [@animate]="{value:'*',params:{y:'100%'}}">
                                <span class="secondary-text ml-5">Media Empresa</span>
                                <ngx-charts-gauge
                                    *fuseIfOnDom
                                    [results]="[{name: 'Media Empresa', value: 94}]"
                                    [showAxis]="false"
                                    [animations]="true"
                                    [legend]="false"
                                    [legendTitle]="knowledge.title"
                                    [scheme]="'forest'">
                                </ngx-charts-gauge>
                            </div>

                            <div fxLayout="column" fxLayoutAlign="start center" fxFlex="100" [@animate]="{value:'*',params:{y:'100%'}}">
                                <span class="secondary-text ml-5">Media Colectivo</span>
                                <ngx-charts-gauge
                                    *fuseIfOnDom
                                    [results]="[{name: 'Media Colectivo', value: 77}]"
                                    [showAxis]="false"
                                    [animations]="true"
                                    [legend]="false"
                                    [legendTitle]="knowledge.title"
                                    [scheme]="'forest'">
                                </ngx-charts-gauge>
                            </div>
                        </div>-->

                    </div>
                    <!-- / Front -->

                </fuse-widget>

            </ng-template>

            <ng-template #noResults>
                <div class="no-results">
                    <div class="h1" fxLayout="row"
                         fxLayoutAlign="center center">{{ 'MAIN.NOTHING_HERE' | translate }}</div>
                </div>
            </ng-template>

        </div>

        <div class="" fxLayout.gt-xs="row" fxLayout="column" fxLayoutAlign="center center">
            <div class="p-16" fxLayout="row" fxLayoutAlign="center center">
                <button mat-flat-button color="primary"
                        [routerLink]="'/candidate/knowledge'">{{ 'MAIN.BUTTON.BACK' | translate }}</button>
            </div>

            <div class="p-16" fxLayout="row" fxLayoutAlign="center center">
                <button mat-flat-button color="primary"
                        [routerLink]="'/candidate/knowledge/list'">{{ 'MAIN.BUTTON.ADD_MORE' | translate }}</button>
            </div>
        </div>

    </div>
    <!-- / CONTENT -->

</div>
