<div id="candidate-knowledge-list-dialog">
    <ng-container *ngIf="data.externalOpened">
        <h2 mat-dialog-title>{{'CANDIDATE.COMMON.DIALOG.EXTERNAL_OPENED.TITLE' | translate}}</h2>
        <mat-dialog-content [innerHTML]="'CANDIDATE.COMMON.DIALOG.EXTERNAL_OPENED.TEXT' | translate"></mat-dialog-content>
        <mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
            <!--<button mat-flat-button [mat-dialog-close]="false" color="warn" class="m-16">{{'MAIN.BUTTON.CANCEL' | translate}}</button>-->
            <button mat-flat-button [mat-dialog-close]="true" color="primary" class="m-16">{{'MAIN.BUTTON.BACK_TO_DASH' | translate}}</button>
        </mat-dialog-actions>
    </ng-container>
</div>
