<div id="candidate-knowledge-list" class="page-layout simple">

    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

        <div class="hero-text">
            <mat-icon class="hero-icon">school</mat-icon>
            <h1 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                {{ 'CANDIDATE.KNOWLEDGE.LIST.WELCOME_TEXT' | translate }}
            </h1>
            <h3 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                {{ 'CANDIDATE.KNOWLEDGE.LIST.WELCOME_SUBTEXT' | translate }}
            </h3>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div fxLayout="column" fxLayoutAlign="center">

            <div class="filters" fxLayout="column" fxLayoutAlign="center center"
                 fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

                <mat-form-field appearance="outline" floatLabel="always" class="knowledge-search">
                    <mat-label>{{ 'MAIN.SEARCH_FOR' | translate }}</mat-label>
                    <input matInput placeholder="{{ 'MAIN.ENTER_KEYWORD' | translate }}"
                           [(ngModel)]="searchTerm"
                           (input)="filterKnowledgeByTerm()">
                </mat-form-field>

                <!--<mat-form-field appearance="outline" class="category-selector">
                    <mat-label>{{ 'MAIN.CATEGORY' | translate }}</mat-label>
                    <mat-select [(ngModel)]="currentCategory"
                                (selectionChange)="filterKnowledgeByCategory()">
                        <mat-option [value]="'all'">
                            {{ 'MAIN.ALL_PL_F' | translate }}
                        </mat-option>
                        <mat-option *ngFor="let category of categories" [value]="category">
                            {{ category.title }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>-->

                <mat-form-field appearance="outline" class="type-selector">
                    <mat-label>{{ 'MAIN.TYPE' | translate }}</mat-label>
                    <mat-select [(ngModel)]="currentType"
                                (selectionChange)="filterKnowledgeByCategory()">
                        <mat-option [value]="'all'">
                            {{ 'MAIN.ALL_PL_M' | translate }}
                        </mat-option>
                        <mat-option *ngFor="let type of types" [value]="type.type">
                            {{ type.title | translate }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

            <div class="knowledge-list" fxLayout="row wrap" fxLayoutAlign="start" [@animateStagger]="{value:'50'}">

                <div class="knowledge" *ngFor="let knowledge of filteredKnowledge" fxFlex="100" fxFlex.gt-xs="50"
                     fxFlex.gt-sm="33" [@animate]="{value:'*',params:{y:'100%'}}">

                    <div class="knowledge-content" fxLayout="column" fxFlex="1 1 auto">

                        <!--<div class="header" fxLayout="row" fxLayoutAlign="center center" [ngClass]="knowledge.category && knowledge.category.style && knowledge.category.style !== '' ? knowledge.category.style : knowledge.execution && knowledge.execution.status === 3 ? 'android-bg' : 'cloud-bg'">-->
                        <div class="header" fxLayout="row" fxLayoutAlign="center center" [ngClass]="knowledge.external ? 'cloud-bg' : 'android-bg'">

                            <div class="category" fxFlex>
                                <!--{{knowledge.title}}-->
                                <img *ngIf="knowledge.external" src="{{knowledge.external.image}}" alt="{{knowledge.external.name}}" class="img" default="assets/images/logos/devskiller_logo_white.png" height="30px">
                            </div>

                            <div class="length" fxLayout="row" fxLayoutAlign="center center" *ngIf="knowledge.execution && knowledge.execution.status === 3">
                                <mat-icon class="length-icon s-20" *ngIf="knowledge.execution && knowledge.execution.status === 3 && (knowledge.execution.assessed[0].punctuation / knowledge.execution.assessed[0].maximum) > 0.9">stars</mat-icon>
                                <mat-icon class="length-icon s-20">beenhere</mat-icon>
                                <div class="min">{{(knowledge.execution.assessed[0].punctuation / knowledge.execution.assessed[0].maximum) * 100 | number: '1.0-2' }}/{{100}}</div>
                            </div>

                        </div>

                        <div class="content" fxLayout="column" fxLayoutAlign="center center" fxFlex="1 1 auto">
                            <div>
                                <img src="{{knowledge.image}}" class="img" default="https://png.pngtree.com/svg/20161108/python_933400.png" width="100px">
                            </div>
                            <div class="updated"><!--{{knowledge.description}}-->{{knowledge.title}}</div>
                        </div>

                        <div class="footer" fxLayout="row" fxLayoutAlign="center center">
                            <ng-container *ngIf="!knowledge.external">
                                <!--<button mat-button color="primary"
                                        [routerLink]="'/candidate/knowledge/' + knowledge.id + '/' + (knowledge.title | slugify)">
                                    {{ 'MAIN.BUTTON.VIEW' | translate }}
                                </button>-->

                                <button mat-button color="primary" *ngIf="knowledge.tests && knowledge.tests.length > 0 && (knowledge.execution && knowledge.execution.status === 3)"
                                        [routerLink]="'/candidate/knowledge/result/' + knowledge.id + '/' + knowledge.tests[0].id + '/' + (knowledge.title | slugify)">
                                    {{ 'MAIN.BUTTON.RESULTS' | translate }}
                                </button>

                                <button mat-button color="primary" *ngIf="knowledge.tests && knowledge.tests.length > 0 && (knowledge.execution && knowledge.execution.status === 3 && false)"
                                        [routerLink]="'/candidate/knowledge/questionnaire/' + knowledge.id + '/' + knowledge.tests[0].id + '/' + (knowledge.title | slugify)">
                                    {{ 'MAIN.BUTTON.REPEAT' | translate }}
                                </button>

                                <button mat-button color="primary" *ngIf="knowledge.tests && knowledge.tests.length > 0 && knowledge.tests[0].id && !(knowledge.execution && knowledge.execution.status === 3)"
                                        [routerLink]="'/candidate/knowledge/questionnaire/' + knowledge.id + '/' + knowledge.tests[0].id + '/' + (knowledge.title | slugify)">
                                    {{ 'MAIN.BUTTON.START' | translate }}
                                </button>
                            </ng-container>
                            <ng-container *ngIf="knowledge.external">
                                <button mat-button color="primary" *ngIf="!knowledge.execution"
                                        (click)="openExternalTest(knowledge.tests[0].id)">
                                    {{ 'MAIN.BUTTON.START' | translate }}
                                </button>

                                <button mat-button color="primary" *ngIf="knowledge.execution && knowledge.execution.status === 3"
                                        [routerLink]="'/candidate/knowledge/result/' + knowledge.id + '/' + knowledge.tests[0].id + '/' + (knowledge.title | slugify)">
                                    {{ 'MAIN.BUTTON.RESULTS' | translate }}
                                </button>

                                <button mat-button color="primary" *ngIf="knowledge.execution && knowledge.execution.external && knowledge.execution.external.result_url !== ''"
                                        (click)="openExternal(knowledge.execution.external.result_url)">
                                    {{ 'MAIN.BUTTON.REPORT' | translate }}
                                </button>

                                <button mat-button color="primary" *ngIf="knowledge.execution && knowledge.execution.status !== 3"
                                        (click)="openSnackInfo($event)" attr.data-message="{{ 'CANDIDATE.KNOWLEDGE.RESULT.PROCESSING_RESULTS' | translate }}">
                                    {{ 'MAIN.BUTTON.RESULTS' | translate }}
                                </button>
                            </ng-container>
                        </div>

                    </div>

                </div>

                <div class="no-knowledge mat-display-1 w-100-p" *ngIf="filteredKnowledge.length === 0">
                    {{ 'MAIN.NO_RESULTS' | translate }}
                </div>

            </div>

        </div>

    </div>
    <!-- / CONTENT -->

</div>
