<div id="candidate-roles-list" class="page-layout simple">

    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

        <div class="hero-text">
            <mat-icon class="hero-icon">person_pin_circle</mat-icon>
            <h1 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                {{ 'CANDIDATE.ROLES.LIST.WELCOME_TEXT' | translate }}
            </h1>
            <h3 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                {{ 'CANDIDATE.ROLES.LIST.WELCOME_SUBTEXT' | translate }}
            </h3>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div fxLayout="column" fxLayoutAlign="center">

            <div class="filters" fxLayout="column" fxLayoutAlign="center center"
                 fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

                <mat-form-field appearance="outline" floatLabel="always" class="roles-search">
                    <mat-label>{{ 'MAIN.SEARCH_FOR' | translate }}</mat-label>
                    <input matInput placeholder="{{ 'MAIN.ENTER_KEYWORD' | translate }}"
                           [(ngModel)]="searchTerm"
                           (input)="filterRolesByTerm()">
                </mat-form-field>

                <mat-form-field appearance="outline" class="category-selector">
                    <mat-label>{{ 'MAIN.CATEGORY' | translate }}</mat-label>
                    <mat-select [(ngModel)]="currentCategory" (selectionChange)="filterRolesByCategory()">
                        <mat-option [value]="'all'">
                            {{ 'MAIN.ALL_PL_F' | translate }}
                        </mat-option>
                        <mat-option *ngFor="let category of categories" [value]="category">
                            {{ category.title }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!--<mat-form-field appearance="outline" class="type-selector">
                    <mat-label>{{ 'MAIN.TYPE' | translate }}</mat-label>
                    <mat-select [(ngModel)]="currentType"
                                (selectionChange)="filterRolesByCategory()">
                        <mat-option [value]="'all'">
                            {{ 'MAIN.ALL_PL_M' | translate }}
                        </mat-option>
                        <mat-option *ngFor="let type of types" [value]="type.type">
                            {{ type.title | translate }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>-->


            </div>


            <div class="roles-list" fxLayout="row wrap" fxLayoutAlign="center" [@animateStagger]="{value:'50'}">

                <div class="role" *ngFor="let role of filteredRoles" fxFlex="100" fxFlex.gt-xs="50"
                     fxFlex.gt-sm="33" [@animate]="{value:'*',params:{y:'100%'}}">

                    <div class="role-content" fxLayout="column" fxFlex="1 1 auto">

                        <div class="header" fxLayout="row" fxLayoutAlign="center center" [ngClass]="role.category && role.category.style && role.category.style !== '' ? role.category.style : role.execution && role.execution.status === 3 ? 'android-bg' : 'cloud-bg'">
                            <div class="category" fxFlex>
                                <!--{{role.title}}-->
                                <mat-icon class="length-icon s-20" *ngIf="role.execution && role.execution.status === 3 && (role.execution.assessed.punctuation / role.execution.assessed.maximum) > 0.9">stars</mat-icon>
                            </div>

                            <div class="length" fxLayout="row" fxLayoutAlign="center center" *ngIf="role.execution && role.execution.status === 3">
                                <mat-icon class="length-icon s-20">beenhere</mat-icon>
                                <div class="min">{{role.execution.marks}}/{{role.execution.assessed.maximum}}</div>
                            </div>

                        </div>

                        <div class="content" fxLayout="column" fxLayoutAlign="center center" fxFlex="1 1 auto">
                            <div>
                                <img src="{{role.image}}" class="img" default="https://c7.uihere.com/icons/911/82/570/role-management-e1b514e594006150b88db24b43c49ebc.png" width="100px">
                            </div>
                            <div class="updated">{{role.title}}</div>
                        </div>

                        <div class="footer" fxLayout="row" fxLayoutAlign="center center">
                            <button mat-button color="primary"
                                    [routerLink]="'/candidate/roles/' + role.id + '/' + (role.title | slugify)">
                                {{ 'MAIN.BUTTON.VIEW' | translate }}
                            </button>

                            <ng-container *ngFor="let test of role.tests">
                                <button mat-button color="primary" *ngIf="role.execution && role.execution.status === 3"
                                        [routerLink]="'/candidate/roles/result/' + role.id + '/' + test.id + '/' + (role.title | slugify)">
                                    {{ 'MAIN.BUTTON.RESULTS' | translate }}
                                </button>
                                <button mat-button color="primary" *ngIf="!role.execution"
                                        [routerLink]="'/candidate/roles/questionnaire/' + role.id + '/' + test.id + '/' + (role.title | slugify)">
                                    {{ 'MAIN.BUTTON.START' | translate }}
                                </button>
                                <button mat-button color="primary" *ngIf="role.execution && role.execution.status === 3 && false"
                                        [routerLink]="'/candidate/roles/questionnaire/' + role.id + '/' + test.id + '/' + (role.title | slugify)">
                                    {{ 'MAIN.BUTTON.REPEAT_TEST' | translate }}
                                </button>
                                <button mat-button color="primary" *ngIf="role.execution && role.execution.status !== 3"
                                        [routerLink]="'/candidate/roles/questionnaire/' + role.id + '/' + test.id + '/' + (role.title | slugify)">
                                    {{ 'MAIN.BUTTON.FINISH_TEST' | translate }}
                                </button>
                            </ng-container>
                        </div>

                    </div>

                </div>

                <div class="no-roles mat-display-1 w-100-p" *ngIf="filteredRoles.length === 0">
                    {{ 'MAIN.NO_RESULTS' | translate }}
                </div>

            </div>

        </div>

    </div>
    <!-- / CONTENT -->

</div>
