<div id="candidate-jobs-editor" class="page-layout simple full-width" fxLayout="column">

    <!-- CENTER -->
    <div class="center">

        <!-- CENTER -->
        <div class="center">

            <!-- HEADER -->
            <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-16" [routerLink]="'/candidate/jobs'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div>
                    <h2 *ngIf="job.title && job.title != ''; else titleNew">{{job.title}}</h2>
                    <ng-template #titleNew><h2>{{'CANDIDATE.JOBS.EDITOR.NEW_JOB' | translate}}</h2></ng-template>
                </div>

            </div>
            <!-- / HEADER -->

        <!-- CONTENT -->
        <div id="candidate-jobs-editor-content" class="content fuse-white-bg" fxLayout="column wrap">

            <div class="horizontal-stepper-wrapper" *ngIf="job">

                <!-- VERTICAL STEPPER -->
                <mat-vertical-stepper class="p-24" [linear]="jobId > 0 ? false : true">

                    <mat-step [stepControl]="horizontalStepperStep1">

                        <form fxLayout="column" [formGroup]="horizontalStepperStep1">

                            <ng-template matStepLabel>{{ 'CANDIDATE.JOBS.EDITOR.STEP_1_LABEL' | translate }}</ng-template>

                            <div fxFlex="1 0 auto" fxLayout="column">

                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>{{ 'MAIN.FORMS.NAME' | translate }}</mat-label>
                                    <input matInput formControlName="title" placeholder="{{ 'CANDIDATE.JOBS.EDITOR.STEP_1_TEXT_1' | translate }}" required>
                                    <mat-error>{{ 'MAIN.FORMS.ERRORS.NAME_REQUIRED' | translate }}</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>{{ 'MAIN.FORMS.DESCRIPTION' | translate }}</mat-label>
                                    <textarea matInput formControlName="description" placeholder="{{ 'CANDIDATE.JOBS.EDITOR.STEP_1_TEXT_2' | translate }}" rows="4"></textarea>
                                </mat-form-field>

                            </div>

                            <div fxLayout="row" fxLayoutAlign="center center">
                                <button class="mx-8" mat-raised-button matStepperNext type="button" color="primary">
                                    {{ 'MAIN.BUTTON.NEXT' | translate }}
                                </button>
                            </div>

                        </form>

                    </mat-step>

                    <mat-step [stepControl]="horizontalStepperStep2">

                        <form fxLayout="column" [formGroup]="horizontalStepperStep2">

                            <ng-template matStepLabel>{{ 'CANDIDATE.JOBS.EDITOR.STEP_2_LABEL' | translate }}</ng-template>

                            <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="space-around">

                                <mat-form-field appearance="outline">
                                    <mat-label>{{ 'MAIN.FORMS.STARTS' | translate }}</mat-label>
                                    <input matInput [matDatepicker]="picker_active_from" formControlName="active_from" placeholder="{{ 'CANDIDATE.JOBS.EDITOR.STEP_2_LABEL_1' | translate }}" required>
                                    <mat-datepicker-toggle matSuffix [for]="picker_active_from"></mat-datepicker-toggle>
                                    <mat-datepicker #picker_active_from></mat-datepicker>
                                    <mat-error>{{ 'MAIN.FORMS.ERRORS.FIELD_REQUIRED' | translate }}</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline">
                                    <mat-label>{{ 'MAIN.FORMS.ENDS' | translate }}</mat-label>
                                    <input matInput [matDatepicker]="picker_active_to" formControlName="active_to" placeholder="{{ 'CANDIDATE.JOBS.EDITOR.STEP_2_LABEL_2' | translate }}" required>
                                    <mat-datepicker-toggle matSuffix [for]="picker_active_to"></mat-datepicker-toggle>
                                    <mat-datepicker #picker_active_to></mat-datepicker>
                                    <mat-error>{{ 'MAIN.FORMS.ERRORS.FIELD_REQUIRED' | translate }}</mat-error>
                                </mat-form-field>

                            </div>

                            <div fxLayout="row" fxLayoutAlign="center center">
                                <button class="mx-8" mat-raised-button matStepperPrevious type="button" color="primary">
                                    {{ 'MAIN.BUTTON.PREVIOUS' | translate }}
                                </button>
                                <button class="mx-8" mat-raised-button matStepperNext type="button" color="primary">
                                    {{ 'MAIN.BUTTON.NEXT' | translate }}
                                </button>
                            </div>

                        </form>

                    </mat-step>

                    <mat-step [stepControl]="horizontalStepperStep3">

                        <form fxLayout="column" [formGroup]="horizontalStepperStep3">

                            <ng-template matStepLabel>{{ 'CANDIDATE.JOBS.EDITOR.STEP_3_LABEL' | translate }}</ng-template>

                            <div fxFlex="1 0 auto" fxLayout="column">

                                <div class="container mb-16">
                                    <p>{{ 'CANDIDATE.JOBS.EDITOR.STEP_3_LABEL_B' | translate }}</p>
                                    <button mat-flat-button color="primary" (click)="iconInput.click()">{{ 'MAIN.FORMS.CHOOSE_A_FILE' | translate }}</button>
                                    <input hidden type="file" #iconInput formControlName="icon" (change)="uploadIcon($event)">
                                    <p>{{ 'CANDIDATE.JOBS.EDITOR.STEP_3_TEXT_B' | translate }}</p>
                                    <ng-container *ngIf="icon"><img [src]="icon.src"></ng-container>
                                </div>

                                <div class="container mb-16">
                                    <p>{{ 'CANDIDATE.JOBS.EDITOR.STEP_3_LABEL_A' | translate }}</p>
                                    <button mat-flat-button color="primary" (click)="imageInput.click()">{{ 'MAIN.FORMS.CHOOSE_A_FILE' | translate }}</button>
                                    <input hidden type="file" #imageInput formControlName="image" (change)="uploadImage($event)">
                                    <p>{{ 'CANDIDATE.JOBS.EDITOR.STEP_3_TEXT_A' | translate }}</p>
                                    <ng-container *ngIf="image"><img [src]="image.src"></ng-container>
                                </div>

                            </div>

                            <div fxLayout="row" fxLayoutAlign="center center">
                                <button class="mx-8" mat-raised-button matStepperPrevious type="button" color="primary">
                                    {{ 'MAIN.BUTTON.PREVIOUS' | translate }}
                                </button>
                                <button class="mx-8" mat-raised-button matStepperNext type="button" color="primary">
                                    {{ 'MAIN.BUTTON.NEXT' | translate }}
                                </button>
                            </div>

                        </form>

                    </mat-step>

                    <mat-step [stepControl]="horizontalStepperStep4">

                        <form fxLayout="column" [formGroup]="horizontalStepperStep4">

                            <ng-template matStepLabel>{{ 'CANDIDATE.JOBS.EDITOR.STEP_4_LABEL' | translate }}</ng-template>

                            <div fxFlex="1 0 auto" fxLayout="column">

                                <mat-form-field appearance="outline" fxFlex="100" class="select-personality-relevance">
                                    <mat-select placeholder="{{ 'CANDIDATE.JOBS.EDITOR.STEP_4_LABEL_A' | translate }}" formControlName="personality_relevance" [(value)]="job.personality_relevance">
                                        <mat-option *ngFor="let relevance of personalityRelevances" [value]="relevance.id">{{ 'MAIN.JOBS.PERSONALITY_RELEVANCE.' + relevance.id | translate}}</mat-option>
                                    </mat-select>
                                    <mat-hint>{{ 'CANDIDATE.JOBS.EDITOR.STEP_4_TEXT_A' | translate }}</mat-hint>
                                    <mat-error>{{ 'MAIN.FORMS.ERRORS.FIELD_REQUIRED' | translate }}</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="100" class="select-personality-skills">
                                    <mat-select placeholder="{{ 'CANDIDATE.JOBS.EDITOR.STEP_4_LABEL_B' | translate }}" formControlName="personality_skills" [(value)]="job.skills" multiple>
                                        <mat-option *ngFor="let skill of personalitySkills" [value]="skill.id">{{ 'MAIN.JOBS.PERSONALITY_SKILL.' + skill.id | translate}}</mat-option>
                                    </mat-select>
                                    <mat-hint>{{ 'CANDIDATE.JOBS.EDITOR.STEP_4_TEXT_B' | translate }}</mat-hint>
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" fxLayoutAlign="center center">
                                <button class="mx-8" mat-raised-button matStepperPrevious type="button" color="primary">
                                    {{ 'MAIN.BUTTON.PREVIOUS' | translate }}
                                </button>
                                <button class="mx-8" mat-raised-button matStepperNext type="button" color="primary">
                                    {{ 'MAIN.BUTTON.NEXT' | translate }}
                                </button>
                            </div>

                        </form>

                    </mat-step>

                    <mat-step [stepControl]="horizontalStepperStep5">

                        <form fxLayout="column" [formGroup]="horizontalStepperStep5">

                            <ng-template matStepLabel>{{ 'CANDIDATE.JOBS.EDITOR.STEP_5_LABEL' | translate }}</ng-template>

                            <div fxFlex="1 0 auto" fxLayout="row">

                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-select placeholder="{{ 'CANDIDATE.JOBS.EDITOR.STEP_5_LABEL' | translate }}" formControlName="test_personality" [(value)]="job.test_personality">
                                        <mat-option *ngFor="let personality of personalityTests" [(value)]="personality.id">{{personality.title}}</mat-option>
                                    </mat-select>
                                    <mat-hint>{{ 'CANDIDATE.JOBS.EDITOR.STEP_5_TEXT' | translate }}</mat-hint>
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" fxLayoutAlign="center center">
                                <button class="mx-8" mat-raised-button matStepperPrevious type="button" color="primary">
                                    {{ 'MAIN.BUTTON.PREVIOUS' | translate }}
                                </button>
                                <button class="mx-8" mat-raised-button matStepperNext type="button" color="primary">
                                    {{ 'MAIN.BUTTON.NEXT' | translate }}
                                </button>
                            </div>

                        </form>

                    </mat-step>

                    <mat-step [stepControl]="horizontalStepperStep6">

                        <form fxLayout="column" [formGroup]="horizontalStepperStep6">

                            <ng-template matStepLabel>{{ 'CANDIDATE.JOBS.EDITOR.STEP_6_LABEL' | translate }}</ng-template>

                            <div fxFlex="1 0 auto" fxLayout="row">

                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-select placeholder="{{ 'CANDIDATE.JOBS.EDITOR.STEP_6_LABEL' | translate }}" formControlName="roles" [(value)]="job.test">
                                        <mat-option *ngFor="let test of rolesTests" [(value)]="test.id">{{test.title}}</mat-option>
                                    </mat-select>
                                    <mat-hint>{{ 'CANDIDATE.JOBS.EDITOR.STEP_6_TEXT' | translate }}</mat-hint>
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" fxLayoutAlign="center center">
                                <button class="mx-8" mat-raised-button matStepperPrevious type="button" color="primary">
                                    {{ 'MAIN.BUTTON.PREVIOUS' | translate }}
                                </button>
                                <button class="mx-8" mat-raised-button matStepperNext type="button" color="primary" (click)="saveForm.disabled = false">
                                    {{ 'MAIN.BUTTON.NEXT' | translate }}
                                </button>
                            </div>

                        </form>

                    </mat-step>

                </mat-vertical-stepper>
                <!-- / VERTICAL STEPPER -->

                <div fxLayout="row" fxLayoutAlign="center center">
                    <button class="m-16" mat-raised-button type="button" color="primary" [routerLink]="'/candidate/jobs'">
                        {{ 'MAIN.BUTTON.CANCEL' | translate }}
                    </button>
                    <button class="m-16" mat-raised-button type="button" #saveForm color="primary" [disabled]="jobId > 0 ? false : true" (click)="submitJob()">
                        {{ 'MAIN.BUTTON.SAVE' | translate }}
                    </button>
                </div>

            </div>
        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

</div>
