// -----------------------------------------------------------------------------------------------------
// @ Custom color maps for Fuse
// -----------------------------------------------------------------------------------------------------
$fuse-white: (
    500: white,
    contrast: (
        500: $dark-primary-text
    )
);

$fuse-black: (
    500: black,
    contrast: (
        500: $light-primary-text,
    )
);

$fuse-navy: (
    50: #ECECEE,
    100: #C5C6CB,
    200: #9EA1A9,
    300: #7D818C,
    400: #5C616F,
    500: #3C4252,
    600: #353A48,
    700: #2D323E,
    800: #262933,
    900: #1E2129,
    A100: #C5C6CB,
    A200: #9EA1A9,
    A400: #5C616F,
    A700: #2D323E,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $light-primary-text,
        400: $light-primary-text,
        500: $light-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $light-primary-text,
        A400: $light-primary-text,
        A700: $light-primary-text,
    )
);

$wiseseeker-green: (
    50: #EBF0EA,
    100: #D7E1D5,
    200: #C3D2C0,
    300: #B0C4AC,
    400: #9CB597,
    500: #88A682,
    600: #75986E,
    700: #618959,
    800: #4D7A44,
    900: #3A6C30,
    A100: #C5C6CB,
    A200: #9EA1A9,
    A400: #5C616F,
    A700: #2D323E,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $light-primary-text,
        400: $light-primary-text,
        500: $light-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $light-primary-text,
        A400: $light-primary-text,
        A700: $light-primary-text,
    )
);

$wiseseeker-green-inverse: (
    50: #140F15,
    100: #281E2A,
    200: #3C2D3F,
    300: #B0C4AC,
    400: #634A68,
    500: #77597D,
    600: #8A6791,
    700: #9E76A6,
    800: #B285BB,
    900: #C593CF,
    A100: #3A3934,
    A200: #615E56,
    A400: #A39E90,
    A700: #D2CDC1,
    contrast: (
        50: $light-primary-text,
        100: $light-primary-text,
        200: $light-primary-text,
        300: $dark-primary-text,
        400: $dark-primary-text,
        500: $dark-primary-text,
        600: $dark-primary-text,
        700: $dark-primary-text,
        800: $dark-primary-text,
        900: $dark-primary-text,
        A100: $light-primary-text,
        A200: $dark-primary-text,
        A400: $dark-primary-text,
        A700: $dark-primary-text,
    )
);

// Generate Fuse color classes for custom palettes
$custom_palettes: (
    fuse-white: $fuse-white,
    fuse-black: $fuse-black,
    fuse-navy: $fuse-navy,
    wiseseeker-green: $wiseseeker-green,
    wiseseeker-green-inverse: $wiseseeker-green-inverse
);

@include fuse-color-classes($custom_palettes);

// -----------------------------------------------------------------------------------------------------
// @ Typography
// -----------------------------------------------------------------------------------------------------

// Force the input field font sizes to 16px
$typography: mat-typography-config(
    $font-family: 'Muli, Helvetica Neue, Arial, sans-serif',
    $title: mat-typography-level(20px, 32px, 600),
    $body-2: mat-typography-level(14px, 24px, 600),
    $button: mat-typography-level(14px, 14px, 600),
    $input: mat-typography-level(16px, 1.125, 400) // line-height must be unitless !!!
);

// Setup the typography
@include angular-material-typography($typography);

// -----------------------------------------------------------------------------------------------------
// @ Component theming
// -----------------------------------------------------------------------------------------------------

// Import app and page component themes here to enable theming for them
@import "src/app/layout/components/chat-panel/chat-panel.theme";
@import "src/app/layout/components/toolbar/toolbar.theme";
@import "src/app/layout/components/alert/alert.variant";
@import "src/app/layout/components/alert/alert.theme";
@import "src/app/layout/components/snack-alert/snack-alert.variant";
@import "src/app/layout/components/snack-alert/snack-alert.theme";

// Errors
@import "src/app/main/errors/401/error-401.theme";
@import "src/app/main/errors/403/error-403.theme";
@import "src/app/main/errors/404/error-404.theme";
@import "src/app/main/errors/500/error-500.theme";

// Authentication
@import "src/app/main/authentication/change-password/change-password.theme";
@import "src/app/main/authentication/login/login.theme";
@import "src/app/main/authentication/register/register.theme";
@import "src/app/main/authentication/reset-password/reset-password.theme";
@import "src/app/main/authentication/forgot-password/forgot-password.theme";
@import "src/app/main/authentication/lock/lock.theme";
@import "src/app/main/authentication/mail-confirm/mail-confirm.theme";
@import "src/app/main/authentication/mail-verify/mail-verify.theme";

// Main
@import "src/app/main/candidate/big5/big5.theme";
@import "src/app/main/candidate/candidate.theme";
@import "src/app/main/candidate/experience/experience.theme";
@import "src/app/main/candidate/jobs/jobs.theme";
@import "src/app/main/candidate/knowledge/knowledge.theme";
@import "src/app/main/candidate/expertise/expertise.theme";
@import "src/app/main/candidate/skills/skills.theme";
@import "src/app/main/candidate/roles/roles.theme";
//@import "src/app/main/candidate/todo/todo.theme";
@import "src/app/main/recruiter/recruiter.theme";
@import "src/app/main/recruiter/jobs/jobs.theme";
@import "src/app/main/recruiter/roles/roles.theme";
@import "src/app/main/recruiter/talent/talent.theme";

// Define a mixin for easier access
@mixin components-theme($theme) {

    // Layout components
    @include chat-panel-theme($theme);
    @include toolbar-theme($theme);
    //@include alert-theme($theme);
    //@include snack-alert-theme($theme);

    // Errors
    @include error-401-theme($theme);
    @include error-403-theme($theme);
    @include error-404-theme($theme);
    @include error-500-theme($theme);

    // Authentication
    @include change-password-theme($theme);
    @include login-theme($theme);
    @include register-theme($theme);
    @include reset-password-theme($theme);
    @include forgot-password-theme($theme);
    @include lock-theme($theme);
    @include mail-confirm-theme($theme);
    @include mail-verify-theme($theme);

    // Main
    @include candidate-theme($theme);
    @include candidate-big5-theme($theme);
    @include candidate-experience-theme($theme);
    @include candidate-jobs-theme($theme);
    @include candidate-knowledge-theme($theme);
    @include candidate-expertise-theme($theme);
    @include candidate-roles-theme($theme);
    @include candidate-skills-theme($theme);
    //@include candidate-todo-theme($theme);
    @include recruiter-theme($theme);
    @include recruiter-jobs-theme($theme);
    @include recruiter-roles-theme($theme);
    @include recruiter-talent-theme($theme);
}

// -----------------------------------------------------------------------------------------------------
// @ Define the default theme
// -----------------------------------------------------------------------------------------------------

// Creates a container object for a light theme to be given to individual component theme mixins.
@function mat-custom-theme($primary, $accent, $alarm: mat-palette($mat-orange), $warn: mat-palette($mat-red)) {
    @return (
        primary: $primary,
        accent: $accent,
        alarm: $alarm,
        warn: $warn,
        is-dark: false,
        foreground: $mat-light-theme-foreground,
        background: $mat-light-theme-background,
    );
}

// Define the primary, accent and warn palettes
$default-primary-palette: mat-palette($wiseseeker-green);
$default-accent-palette: mat-palette($wiseseeker-green, 600, 400, 700);
$default-alarm-palette: mat-palette($mat-orange);
$default-warn-palette: mat-palette($mat-red);

// Create the Material theme object
$theme: mat-custom-theme($default-primary-palette, $default-accent-palette, $default-alarm-palette, $default-warn-palette);

// Add ".theme-default" class to the body to activate this theme.
// Class name must start with "theme-" !!!
body.theme-default {

    // Create an Angular Material theme from the $theme map
    @include angular-material-theme($theme);

    // Apply the theme to the Fuse Core
    @include fuse-core-theme($theme);

    // Apply the theme to the user components
    @include components-theme($theme);

    // Generate Fuse color classes for primary, accent and warn colors
    $palettes: (
        primary: $default-primary-palette,
        accent: $default-accent-palette,
        alarm: $default-alarm-palette,
        warn: $default-warn-palette
    );

    @include fuse-color-classes($palettes);
}

// -----------------------------------------------------------------------------------------------------
// @ Define a yellow light theme
// -----------------------------------------------------------------------------------------------------

// Define the primary, accent and warn palettes
$yellow-light-theme-primary-palette: mat-palette($fuse-navy, 600, 400, 700);
$yellow-light-theme-accent-palette: mat-palette($mat-yellow, 600, 400, 700);
$yellow-light-theme-warn-palette: mat-palette($mat-red);

// Create the Material theme object
$yellow-light-theme: mat-light-theme($yellow-light-theme-primary-palette, $yellow-light-theme-accent-palette, $yellow-light-theme-warn-palette);

// Add ".theme-yellow-light" class to the body to activate this theme.
// Class name must start with "theme-" !!!
body.theme-yellow-light {

    // Generate the Angular Material theme
    @include angular-material-theme($yellow-light-theme);

    // Apply the theme to the Fuse Core
    @include fuse-core-theme($yellow-light-theme);

    // Apply the theme to the user components
    @include components-theme($yellow-light-theme);

    // Generate Fuse color classes for primary, accent and warn colors
    $palettes: (
        primary: $yellow-light-theme-primary-palette,
        accent: $yellow-light-theme-accent-palette,
        warn: $yellow-light-theme-warn-palette
    );

    @include fuse-color-classes($palettes);
}

// -----------------------------------------------------------------------------------------------------
// @ Define a blue-gray dark theme
// -----------------------------------------------------------------------------------------------------

// Define the primary, accent and warn palettes
$blue-gray-dark-theme-primary-palette: mat-palette($mat-blue);
$blue-gray-dark-theme-accent-palette: mat-palette($mat-blue-gray);
$blue-gray-dark-theme-warn-palette: mat-palette($mat-red);

// Create the Material theme object
$blue-gray-dark-theme: mat-dark-theme($blue-gray-dark-theme-primary-palette, $blue-gray-dark-theme-accent-palette, $blue-gray-dark-theme-warn-palette);

// Add ".theme-blue-gray-dark" class to the body to activate this theme.
// Class name must start with "theme-" !!!
body.theme-blue-gray-dark {

    // Generate the Angular Material theme
    @include angular-material-theme($blue-gray-dark-theme);

    // Apply the theme to the Fuse Core
    @include fuse-core-theme($blue-gray-dark-theme);

    // Apply the theme to the user components
    @include components-theme($blue-gray-dark-theme);

    // Generate Fuse color classes for primary, accent and warn colors
    $palettes: (
        primary: $blue-gray-dark-theme-primary-palette,
        accent: $blue-gray-dark-theme-accent-palette,
        warn: $blue-gray-dark-theme-warn-palette
    );

    @include fuse-color-classes($palettes);
}

// -----------------------------------------------------------------------------------------------------
// @ Define a pink dark theme
// -----------------------------------------------------------------------------------------------------

// Define the primary, accent and warn palettes
$pink-dark-theme-primary-palette: mat-palette($mat-pink);
$pink-dark-theme-accent-palette: mat-palette($mat-pink);
$pink-dark-theme-warn-palette: mat-palette($mat-red);

// Create the Material theme object
$pink-dark-theme: mat-dark-theme($pink-dark-theme-primary-palette, $pink-dark-theme-accent-palette, $pink-dark-theme-warn-palette);

// Add ".theme-pink-dark" class to the body to activate this theme.
// Class name must start with "theme-" !!!
body.theme-pink-dark {

    // Generate the Angular Material theme
    @include angular-material-theme($pink-dark-theme);

    // Apply the theme to the Fuse Core
    @include fuse-core-theme($pink-dark-theme);

    // Apply the theme to the user components
    @include components-theme($pink-dark-theme);

    // Generate Fuse color classes for primary, accent and warn colors
    $palettes: (
        primary: $pink-dark-theme-primary-palette,
        accent: $pink-dark-theme-accent-palette,
        warn: $pink-dark-theme-warn-palette
    );

    @include fuse-color-classes($palettes);
}

// Customizations

span.logo-text.secondary-text {
    font-family: 'Libre Baskerville', serif;
}
// Removes the fusioncharts watermark
g[class$='creditgroup'] {
    display:none !important;
}

.page-layout.simple.left-sidebar .header .header-icon {
    vertical-align: middle;
}

.mat-badge-amber .mat-badge-content, dfx-amber {
    background-color: #ffc107!important;
}

.dfx-chip {
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 27px;
    font-size: 24px;
    margin-right: 5px;
    margin-bottom: 4px;
    border: 0px;
}
.horizontal-stepper-wrapper {
    width: 100%;
}

.quick-panel .mat-list .mat-list-item {
    &.mat-2-line {
        height: fit-content;
        margin-bottom: 10px;

        .mat-line {
            &.paragraph {
                word-wrap: normal;
                overflow: unset;
                text-overflow: unset;
            }
        }
    }
}

// All buttons same width
.mat-flat-button, .mat-stroked-button {
    &.mat-primary, &.mat-accent, &.mat-alert, &.mat-warn {
        width: 200px !important;
    }
}

// IE fixes
_:-ms-fullscreen, :root .IE-FlexAuto, :root .mat-form-field {
    flex-basis: auto !important;
}
_:-ms-fullscreen, :root .IE-FlexNone {
    display: block !important;
}
/*_:-ms-fullscreen, :root .IE-FlexNoneCenter {
    display: block !important;
    width: auto !important;
    .mini-box {
        float: left;
    }
}
_:-ms-fullscreen, :root .IE-ClearBoth {
    clear: both;
}*/
_:-ms-fullscreen, :root .IE-hide {
    display: none !important;
}
_:-ms-fullscreen, :root .IE-FormCenterize {
    /*margin: auto !important;*/
    flex-direction: row !important;
    #login-form, #change-password-form, #forgot-password-form, #lock-form, #mail-confirm-form, #mail-verify-form, #register-form, #reset-password-form {
        width: 100em !important;
    }
}
_:-ms-fullscreen, :root .IE-ChartCenterize {
    margin: auto !important;
    text-align: center !important;
}
_:-ms-fullscreen, :root .IE-Centerize100 {
    margin: auto !important;
    text-align: center !important;
    width: 100px;
    margin-left: -50px !important;
}
_:-ms-fullscreen, :root .IE-Centerize100-xs {
    margin: auto !important;
    text-align: center !important;
    width: 100px;
    margin-left: -75px !important;
}
_:-ms-fullscreen, :root .IE-w-auto {
    width: auto;
}
_:-ms-fullscreen, :root .IE-w-auto-xs {
    margin-left: 50%;
}
_:-ms-fullscreen, :root .mat-table .mat-cell, :root .mat-table .mat-header-cell, :root .mat-table .mat-footer-cell {
    line-height: 50px !important;
}
_:-ms-fullscreen, :root #recruiter-dashboard .mat-table {
    overflow-y: visible !important;
    .mat-cell, .mat-header-cell {
        min-width: 150px !important;
    }
}
_:-ms-fullscreen, :root ngb-progressbar .progress {
    background-color: #F6F6F6 !important;
    .progress-bar {
        background-color: map-get($wiseseeker-green, 900);
        .progress-text {
            color: #000;
            &:before {
                /*display: none !important;*/
                content: "";
            }
        }
    }
}
_:-ms-fullscreen, :root .hero-text {
    width: 100%;
    h3 {
        max-width: none !important;
    }
}
// Edge fixes
@supports (-ms-ime-align: auto) {
    ngb-progressbar .progress {
        .progress-bar {
            .progress-text {
                color: #000000;
                &:before, &:after {
                    color: #000000 !important;
                }
            }
        }
    }
}
