<div id="candidate-personality" class="page-layout simple" *ngIf="lastExecution">

    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

        <div class="hero-text">
            <mat-icon class="hero-icon">insert_emoticon</mat-icon>
            <h1 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                {{ 'CANDIDATE.PERSONALITY.WELCOME_TEXT' | translate }}
            </h1>
            <h3 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                {{ 'CANDIDATE.PERSONALITY.WELCOME_SUBTEXT' | translate }}
            </h3>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-12">

        <div class="personality" fxLayout="row wrap" fxLayoutAlign="center" [@animateStagger]="{value:'50'}">

            <ng-template [ngIf]="assessment" [ngIfElse]="noPersonality">
                <div class="p-12" *ngFor="let trait of assessment | keys" fxFlex="100" fxFlex.gt-xs="33"
                     fxFlex.gt-sm="20" [@animate]="{value:'*',params:{y:'100%'}}" fxLayout="row wrap"
                     fxLayoutAlign="center start">
                    <mat-card fxFlex="100" fxLayout="column wrap">
                        <div class="dfx-chart-wrapper"><div class="chart" [chart]="widgets[trait.key]" *ngIf="widgets"></div></div>
                        <div class="description text-uppercase" fxLayout="row wrap" fxLayoutAlign="space-between">
                            <div class="w-50-p text-right pr-4" [ngClass]="trait.value.punctuation < 50 ? '' : 'hint-text'" [innerHTML]="'MAIN.TRAITS.' + trait.value.skill.description.toUpperCase() + '.EXCERPT.BAD' | translate"></div>
                            <div class="w-50-p text-left pl-4" [ngClass]="trait.value.punctuation > 50 ? '' : 'hint-text'" [innerHTML]="'MAIN.TRAITS.' + trait.value.skill.description.toUpperCase() + '.EXCERPT.GOOD' | translate"></div>
                        </div>
                    </mat-card>
                </div>
            </ng-template>

            <ng-template #noPersonality>
                <div class="no-personality">
                    <div class="h1" fxLayout="row"
                         fxLayoutAlign="center center">{{ 'MAIN.NOTHING_HERE' | translate }}</div>
                </div>
            </ng-template>

        </div>

        <div class="" fxLayout="row" fxLayoutAlign="center center">
            <div class="p-16" fxLayout="row" fxLayoutAlign="center center">
                <button mat-flat-button color="primary"
                        [routerLink]="'/candidate/dashboard'">{{ 'MAIN.BUTTON.BACK_TO_DASH' | translate }}</button>
            </div>

            <div class="p-16" fxLayout="row" fxLayoutAlign="center center" *ngIf="!assessment">
                <button mat-flat-button color="primary"
                        [routerLink]="'/candidate/big5/start'">{{ 'MAIN.BUTTON.PASS_TEST' | translate }}</button>
            </div>

            <div class="p-16" fxLayout="row" fxLayoutAlign="center center" *ngIf="assessment">
                <button mat-flat-button color="primary"
                        [routerLink]="'/candidate/big5/start'">{{ 'MAIN.BUTTON.REPEAT_TEST' | translate }}</button>
            </div>
        </div>

    </div>
    <!-- / CONTENT -->

</div>
