<div id="forgot-password" fxLayout="column">

    <div id="forgot-password-form-wrapper" class="IE-FormCenterize" fxLayout="column" fxLayoutAlign="center center">

        <div id="forgot-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img [src]="appConfig.logo.medium_var1">
            </div>

            <div class="title">{{ 'FORGOT_PASSWORD.RECOVER_YOUR_PASSWORD' | translate }}</div>

            <form name="forgotPasswordForm" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>{{ 'FORGOT_PASSWORD.EMAIL' | translate }}</mat-label>
                    <input matInput formControlName="email">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
                        {{ 'FORGOT_PASSWORD.ERROR.REQ_EMAIL' | translate }}
                    </mat-error>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')">
                        {{ 'FORGOT_PASSWORD.ERROR.VALID_EMAIL' | translate }}
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button" color="primary"
                        aria-label="SEND RESET LINK" [disabled]="forgotPasswordForm.invalid || submitted">
                    {{ 'FORGOT_PASSWORD.SEND_RESET_LINK' | translate }}
                </button>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/auth/login'" queryParamsHandling="merge">{{ 'FORGOT_PASSWORD.GO_BACK_TO_LOGIN' | translate }}</a>
            </div>

        </div>

    </div>

</div>
