<div id="change-password" fxLayout="column" [class]="mainContainerClass">

    <div id="change-password-form-wrapper" class="IE-FormCenterize" fxLayout="column" fxLayoutAlign="center center">

        <div id="change-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img [src]="appConfig.logo.medium_var1">
            </div>

            <div class="title">{{ 'CHANGE_PASSWORD.CHANGE_YOUR_PASSWORD' | translate }}</div>

            <form name="changePasswordForm" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>{{ 'CHANGE_PASSWORD.OLD_PASSWORD' | translate }}</mat-label>
                    <input matInput type="password" formControlName="oldPassword">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="changePasswordForm.get('oldPassword').hasError('required')">
                        {{ 'CHANGE_PASSWORD.ERROR.REQ_OLD_PASSWORD' | translate }}
                    </mat-error>
                    <mat-error
                        *ngIf="!changePasswordForm.get('oldPassword').hasError('required')">
                        {{ 'CHANGE_PASSWORD.ERROR.VALID_EMAIL' | translate }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>{{ 'CHANGE_PASSWORD.PASSWORD' | translate }}</mat-label>
                    <input matInput type="password" formControlName="newPassword">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        {{ 'CHANGE_PASSWORD.ERROR.REQ_PASSWORD' | translate }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>{{ 'CHANGE_PASSWORD.PASSWORD_CONFIRM' | translate }}</mat-label>
                    <input matInput type="password" formControlName="passwordConfirm">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="changePasswordForm.get('passwordConfirm').hasError('required')">
                        {{ 'CHANGE_PASSWORD.ERROR.REQ_PASSWORD_CONFIRM' | translate }}
                    </mat-error>
                    <mat-error *ngIf="!changePasswordForm.get('passwordConfirm').hasError('required') &&
                                       changePasswordForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                        {{ 'CHANGE_PASSWORD.ERROR.MATCH_PASSWORD' | translate }}
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button" color="primary"
                        aria-label="CHANGE MY PASSWORD" [disabled]="changePasswordForm.invalid || submitted">
                    {{ 'CHANGE_PASSWORD.CHANGE_MY_PASSWORD' | translate }}
                </button>

                <button mat-raised-button class="cancel-button" color="warn" (click)="onCancel()">{{ 'CHANGE_PASSWORD.CANCEL' | translate }}</button>
            </form>

        </div>

    </div>

</div>
