// Alerts

@mixin snack-alert-variant($background, $border, $text-color) {
    color: $text-color !important;
    background-color: $background !important;
    border-color: $border !important;

    hr {
        border-top-color: darken($border, 5%) !important;
    }

    .snack-alert-link {
        color: darken($text-color, 10%) !important;
    }
}