//
// Alerts
// --------------------------------------------------
$snack-alert-padding: 0.75rem 1.25rem;
$snack-line-height-computed: 1rem;
$snack-alert-border-radius: 0.25rem;
$snack-alert-link-font-weight: 700;
$snack-alert-success-bg: #d4edda;
$snack-alert-success-border: #c3e6cb;
$snack-alert-success-text: #155724;
$snack-alert-info-bg: #d1ecf1;
$snack-alert-info-border: #bee5eb;
$snack-alert-info-text: #0c5460;
$snack-alert-warning-bg: #fff3cd;
$snack-alert-warning-border: #ffeeba;
$snack-alert-warning-text: #856404;
$snack-alert-danger-bg: #f8d7da;
$snack-alert-danger-border: #f5c6cb;
$snack-alert-danger-text: #721c24;
$snack-alert-primary-bg: #cce5ff;
$snack-alert-primary-border: #b8daff;
$snack-alert-primary-text: #004085;
$snack-alert-secondary-bg: #e2e3e5;
$snack-alert-secondary-border: #d6d8db;
$snack-alert-secondary-text: #383d41;
$snack-alert-dark-bg: #d6d8d9;
$snack-alert-dark-border: #c6c8ca;
$snack-alert-dark-text: #1b1e21;
$snack-alert-light-bg: #fefefe;
$snack-alert-light-border: #fdfdfe;
$snack-alert-light-text: #818182;

// Base styles
// -------------------------

.snack-alert {
    padding: $snack-alert-padding;
    margin-bottom: $snack-line-height-computed;
    border: 1px solid transparent;
    border-radius: $snack-alert-border-radius;

    // Headings for larger alerts
    h4 {
        margin-top: 0;
        color: inherit; // Specified for the h4 to prevent conflicts of changing $headings-color
    }

    // Provide class for links that match alerts
    .snack-alert-link {
        font-weight: $snack-alert-link-font-weight;
    }

    // Improve alignment and spacing of inner content
    > p,
    > ul {
        margin-bottom: 0;
    }

    > p + p {
        margin-top: 5px;
    }
}

// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

// The misspelled .snack-alert-dismissable was deprecated in 3.2.0.
.snack-alert-dismissable,
.snack-alert-dismissible {
    padding-right: ($snack-alert-padding + 20);

    // Adjust close link position
    .close {
        position: relative;
        top: -2px;
        right: -21px;
        color: inherit;
    }
}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

.snack-alert-success {
    @include snack-alert-variant($snack-alert-success-bg, $snack-alert-success-border, $snack-alert-success-text);
}

.snack-alert-info {
    @include snack-alert-variant($snack-alert-info-bg, $snack-alert-info-border, $snack-alert-info-text);
}

.snack-alert-warning {
    @include snack-alert-variant($snack-alert-warning-bg, $snack-alert-warning-border, $snack-alert-warning-text);
}

.snack-alert-danger {
    @include snack-alert-variant($snack-alert-danger-bg, $snack-alert-danger-border, $snack-alert-danger-text);
}

.snack-alert-primary {
    @include snack-alert-variant($snack-alert-primary-bg, $snack-alert-primary-border, $snack-alert-primary-text);
}

.snack-alert-secondary {
    @include snack-alert-variant($snack-alert-secondary-bg, $snack-alert-secondary-border, $snack-alert-secondary-text);
}

.snack-alert-dark {
    @include snack-alert-variant($snack-alert-dark-bg, $snack-alert-dark-border, $snack-alert-dark-text);
}

.snack-alert-light {
    @include snack-alert-variant($snack-alert-light-bg, $snack-alert-light-border, $snack-alert-light-text);
}