<div id="candidate-experience-detail" class="page-layout simple full-width inner-scroll">

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="mr-16" [routerLink]="'/candidate/profile'">
                <mat-icon>arrow_back</mat-icon>
            </button>

            <div>
                <h2>
                    <mat-icon *ngIf="experience.icon; else defaultIcon" class="header-icon mr-24">{{experience.icon}}</mat-icon>
                    <ng-template #defaultIcon><mat-icon class="header-icon mr-24">access_time</mat-icon></ng-template>
                    {{experience.title}}
                </h2>
            </div>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div id="experience-content" class="content p-16" fxLayout="column wrap">

            <ng-container *ngIf="experience">
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}">
                    <div class="fuse-widget-front">
                        <div class="p-16 pb-32" fxLayout="column" fxLayoutAlign="center center">
                            <div class="experience-title">
                                <h2>{{ 'MAIN.POSITION' | translate }}: <span class="secondary-text">{{experience.title}}</span></h2>
                            </div>
                            <!--<div class="experience-role">
                                <h3>{{ 'MAIN.ROLE' | translate }}: <span class="secondary-text">{{experience.rol}}</span></h3>
                            </div>-->
                            <div fxLayout="row wrap">
                                <!--<div class="experience-icon">
                                    <img src="{{experience.icon}}" class="icon mr-24" default="https://png.pngtree.com/svg/20161108/python_933400.png" width="32px">
                                </div>-->
                                <!--<div class="experience-image">
                                    <img src="{{experience.image}}" class="img mr-24" default="https://png.pngtree.com/svg/20161108/python_933400.png" width="100px">
                                </div>-->
                            </div>
                            <div fxLayout="column wrap" fxLayout.gt-xs="row wrap">
                                <div class="experience-from mx-8">
                                    <h4>{{ 'MAIN.DATE_FROM' | translate }}: <span class="secondary-text">{{experience.working_from | date}}</span></h4>
                                </div>
                                <div class="experience-to mx-8">
                                    <h4>{{ 'MAIN.DATE_TO' | translate }}: <span class="secondary-text">{{experience.working_to | date}}</span></h4>
                                </div>
                            </div>
                            <div fxLayout="column" fxLayout.gt-xs="row wrap">
                                <div class="experience-enterprise mx-8">
                                    <h4>{{ 'MAIN.ENTERPRISE' | translate }}: <span class="secondary-text">{{experience.enterprise}}</span></h4>
                                </div>
                                <div class="experience-location mx-8">
                                    <h4>{{ 'MAIN.LOCATION' | translate }}: <span class="secondary-text">{{experience.city}}, {{experience.country}}</span></h4>
                                </div>
                            </div>
                            <div fxLayout="row wrap">
                                <div class="experience-description mx-8 text-center">
                                    <h4>{{ 'MAIN.DESCRIPTION' | translate }}</h4>
                                    <div class="description">{{experience.description}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="" fxLayout="row" fxLayoutAlign="center center">
                            <div class="p-16" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="center center">
                                <button class="m-8" mat-flat-button color="primary"
                                        [routerLink]="'/candidate/profile/'">{{ 'MAIN.BUTTON.BACK' | translate }}</button>
                                <button class="m-8" mat-flat-button color="primary" [routerLink]="'/candidate/experience/editor/' + experience.id">{{ 'MAIN.BUTTON.EDIT' | translate }}</button>
                                <button class="m-8" mat-flat-button color="primary" (click)="deleteExperience(experience.id)">{{ 'MAIN.BUTTON.DELETE' | translate }}</button>
                            </div>
                        </div>
                    </div>
                </fuse-widget>
            </ng-container>

        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

</div>
