<div id="recruiter-talent-detail" class="page-layout simple">

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="mr-16" [routerLink]="'/recruiter/talent'">
                <mat-icon>arrow_back</mat-icon>
            </button>

            <div>
                <h2>
                    <mat-icon *ngIf="talent.icon; else defaultIcon" class="header-icon mr-24">{{talent.icon}}</mat-icon>
                    <ng-template #defaultIcon><mat-icon class="header-icon mr-24">assistant</mat-icon></ng-template>
                    {{talent.title}}
                </h2>
            </div>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div id="talent-content" class="content p-16" fxLayout="column wrap">

            <ng-container *ngIf="talent">
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}">
                    <div class="fuse-widget-front">
                        <div class="p-16 pb-32" fxLayout="column" fxLayoutAlign="center center">
                            <div class="talent-title">
                                <h2>{{ 'MAIN.TITLE' | translate }}: <span class="secondary-text">{{talent.title}}</span></h2>
                            </div>
                            <div fxLayout="row wrap" fxLayoutAlign="center center">
                                <!--<div class="talent-icon">
                                    <img *ngIf="talent.icon && talent.icon !== ''" src="{{talent.icon}}" class="icon" default="assets/images/demo-content/test-02.jpg">
                                    <img src="{{talent.icon}}" class="icon mr-24" default="https://png.pngtree.com/svg/20161108/python_933400.png" width="32px">
                                </div>-->
                                <!--<div class="talent-image">
                                    <img *ngIf="talent.image && talent.image !== ''" src="{{talent.image}}" class="img" default="assets/images/demo-content/test-02.jpg">
                                    <img src="{{talent.image}}" class="img mr-24" default="https://png.pngtree.com/svg/20161108/python_933400.png" width="100px">
                                </div>-->
                            </div>
                            <div fxLayout="column wrap" fxLayout.gt-sm="row wrap" fxLayoutAlign.gt-sm="space-between">
                                <div class="talent-description p-16">
                                    <div class="h4">{{ 'MAIN.DESCRIPTION' | translate }}: <span class="secondary-text">{{talent.description}}</span></div>
                                </div>
                                <div class="talent-active-from p-16">
                                    <div class="h4">{{ 'MAIN.DATE_ACTIVE_FROM' | translate }}: <span class="secondary-text">{{talent.active_from | date:'short'}}</span></div>
                                </div>
                                <div class="talent-active-to p-16">
                                    <div class="h4">{{ 'MAIN.DATE_ACTIVE_TO' | translate }}: <span class="secondary-text">{{talent.active_to | date:'short'}}</span></div>
                                </div>
                            </div>
                            <!-- Widget 7 -->
                            <ng-container *ngIf="widget && usersTestsTableIsLoaded">
                                <div class="mb-48" [ngClass.gt-sm]="'mr-32'">

                                    <div class="p-16">
                                        <div class="h1 font-weight-300 text-center">{{'RECRUITER.TALENT.DETAIL.TESTS_BY_STATUS' | translate}}</div>
                                    </div>

                                    <div ngClass.lt-sm="w-200 m-auto" class="h-200 w-100-p">
                                        <ngx-charts-pie-chart class="w-200"
                                            *fuseIfOnDom
                                            [scheme]="'forest'"
                                            [results]="widget"
                                            [doughnut]="true"
                                            fxLayout="row"
                                            style="height:200px;width:200px;">
                                        </ngx-charts-pie-chart>
                                    </div>

                                    <div class="p-16 w-100-p" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center">

                                        <div class="px-16" fxLayout="column" fxLayout.lt-sm="column" fxLayoutAlign="start center"
                                             *ngFor="let item of widget">

                                            <div class="h4 secondary-text">{{item.name}}</div>
                                            <div class="h2 font-weight-300 py-8">{{item.value | number : '1.0-2'}}%</div>

                                        </div>

                                    </div>

                                </div>
                            </ng-container>
                            <!-- / Widget 7 -->
                            <div class="talent-tests w-100-p IE-FlexAuto" fxFlex="100">
                                <!--<h4>{{ 'MAIN.TESTS' | translate }}</h4>-->
                                <ng-container *ngIf="usersTestsTable && usersTestsTableIsLoaded">
                                    <!--<mat-form-field>
                                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'MAIN.FILTER_BY' | translate }}">
                                    </mat-form-field>-->
                                    <!--<table mat-table [dataSource]="usersTestsTable" class="talents-tests-table w-100-p" matSort matSortActive="user" matSortDisableClear matSortDirection="asc" (matSortChange)="sortData($event)">-->
                                    <!--<mat-table [dataSource]="usersTestsTable" class="talents-tests-table w-100-p">
                                        <ng-container [matColumnDef]="column" *ngFor="let column of usersTestsTableDisplayedColumns">
                                            &lt;!&ndash;<th mat-header-cell *matHeaderCellDef mat-sort-header> {{usersTestsTableColumnsTitles[column]}} </th>&ndash;&gt;
                                            <ng-container *ngIf="column === 'actions'"><mat-header-cell *matHeaderCellDef> {{usersTestsTableColumnsTitles[column]}} </mat-header-cell></ng-container>
                                            <ng-container *ngIf="column === 'user'"><mat-header-cell *matHeaderCellDef> {{usersTestsTableColumnsTitles[column]}} </mat-header-cell></ng-container>
                                            <ng-container *ngIf="column !== 'user'"><mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef> {{usersTestsTableColumnsTitles[column]}} </mat-header-cell></ng-container>
                                            <ng-container *ngIf="column === 'user'"><mat-cell *matCellDef="let element"> {{element[column]}} </mat-cell></ng-container>
                                            <ng-container *ngIf="column === 'actions'"><mat-cell *matCellDef="let element"><button mat-icon-button color="primary" (click)="getUserPdf(element[column])">
                                                <mat-icon class="action-icon" title="{{ 'MAIN.BUTTON.DOWNLOAD_REPORT' | translate }}">save_alt</mat-icon>
                                            </button></mat-cell></ng-container>
                                            <ng-container *ngIf="column !== 'user'"><mat-cell *matCellDef="let element" fxLayoutAlign="center center" [ngClass]="element[column].text === 'PENDING' ? 'red-100-bg' : element[column].text === 'STARTED' ? 'amber-100-bg' : 'green-100-bg'"> {{'RECRUITER.COMMON.TEST_STATUS.' + element[column].text | translate}}{{ element[column].progress ? ' (' + element[column].progress + '%)' : element[column].marks ? ' (' + element[column].marks + '/100)' : ''}}</mat-cell></ng-container>
                                        </ng-container>
                                        <mat-header-row *matHeaderRowDef="usersTestsTableDisplayedColumns"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: usersTestsTableDisplayedColumns;"></mat-row>
                                    </mat-table>-->
                                    <!--<mat-paginator [length]="usersTestsTable.length" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>-->
                                    <div class="talent-tests-container">
                                        <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
                                            <td-search-box backIcon="arrow_back" class="push-right-sm" placeholder="{{ 'MAIN.FILTER_BY' | translate }}" (searchDebounce)="search($event)" flex>
                                            </td-search-box>
                                        </div>
                                        <mat-divider></mat-divider>
                                        <table td-data-table class="w-100-p">
                                            <thead>
                                            <tr td-data-table-column-row>
                                                <th td-data-table-column
                                                    *ngFor="let column of usersTestsTableColumns"
                                                    [name]="column.name"
                                                    [sortable]="sortable"
                                                    [sortOrder]="sortOrder"
                                                    (sortChange)="sortTable($event)"
                                                >
                                                    {{column.label}}
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr td-data-table-row *ngFor="let value of usersTestsTableFilteredData">
                                                <td td-data-table-cell *ngFor="let column of usersTestsTableColumns">
                                                    <ng-container *ngIf="column.name !== 'actions' && column.name !== 'user'">
                                                        <div layout="row" fxLayoutAlign="center center" class="w-100-p h-100-p" [ngClass]="value[column.name].text === 'PENDING' ? 'red-100-bg' : value[column.name].text === 'STARTED' ? 'amber-100-bg' : 'green-100-bg'">
                                                            {{'RECRUITER.COMMON.TEST_STATUS.' + value[column.name].text | translate}}{{ value[column.name].marks ? ' (' + (value[column.name].marks | number: '1.0-0') + '/100)' : value[column.name].progress ? ' (' + (value[column.name].progress | number: '1.0-0') + '%)' : ''}}
                                                        </div>
                                                    </ng-container>
                                                    <ng-container *ngIf="column.name === 'user'">
                                                        <div>{{value[column.name]}}</div>
                                                    </ng-container>
                                                    <ng-container *ngIf="column.name === 'actions'">
                                                        <div layout="row" fxLayoutAlign="center center">
                                                            <button mat-icon-button color="primary" (click)="getUserPdf(value[column.name])" *ngIf="!appConfig.appSettings.anonymousSite">
                                                                <mat-icon class="action-icon" title="{{ 'MAIN.BUTTON.DOWNLOAD_REPORT' | translate }}">save_alt</mat-icon>
                                                            </button>
                                                        </div>
                                                    </ng-container>
                                                </td>
                                              </tr>
                                            </tbody>
                                        </table>
                                        <div class="md-padding" *ngIf="usersTestsTableFilteredData.length === 0" layout="row" layout-align="center center">
                                            <h3>{{'MAIN.NO_RESULTS' | translate}}</h3>
                                        </div>
                                        <!--
                                        <td-data-table fusePerfectScrollbar
                                            #dataTable
                                            [data]="usersTestsTableFilteredData"
                                            [columns]="usersTestsTableColumns"
                                            [clickable]="clickable"
                                            [sortable]="sortable"
                                            [sortBy]="sortBy"
                                            [resizableColumns]="resizableColumns"
                                            [sortOrder]="sortOrder"
                                            (sortChange)="sortTable($event)"
                                        >
                                            <ng-template tdDataTableTemplate="actions" let-value="value">
                                                <div layout="row" fxLayoutAlign="center center">
                                                    <button mat-icon-button color="primary" (click)="getUserPdf(value)" *ngIf="!appConfig.appSettings.anonymousSite">
                                                        <mat-icon class="action-icon" title="{{ 'MAIN.BUTTON.DOWNLOAD_REPORT' | translate }}">save_alt</mat-icon>
                                                    </button>
                                                </div>
                                            </ng-template>
                                            <ng-container *ngFor="let tableColumn of usersTestsTableColumns">
                                                <ng-container *ngIf="tableColumn.name !== 'actions' && tableColumn.name !== 'user'">
                                                    <ng-template tdDataTableTemplate="{{tableColumn.name}}" let-value="value">
                                                        <div layout="row" fxLayoutAlign="center center" class="w-100-p h-100-p" [ngClass]="value.text === 'PENDING' ? 'red-100-bg' : value.text === 'STARTED' ? 'amber-100-bg' : 'green-100-bg'">
                                                            {{'RECRUITER.COMMON.TEST_STATUS.' + value.text | translate}}{{ value.marks ? ' (' + (value.marks | number: '1.0-0') + '/100)' : value.progress ? ' (' + (value.progress | number: '1.0-0') + '%)' : ''}}
                                                        </div>
                                                    </ng-template>
                                                </ng-container>
                                            </ng-container>
                                        </td-data-table>
                                        <div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
                                            <h3>{{'MAIN.NO_RESULTS' | translate}}</h3>
                                        </div>
                                        -->
                                        <td-paging-bar #pagingBar [pageSize]="pageSize" [total]="filteredTotal" (change)="page($event)" class="secondary-text" ngClass.xs="small-icons">
                                            <span fxHide.xs>{{'MAIN.ROWS_PER_PAGE' | translate}}</span>
                                            <mat-select [style.width.px]="50" [(ngModel)]="pageSize">
                                                <mat-option *ngFor="let size of [10,25,50,100]" [value]="size">
                                                    {{size}}
                                                </mat-option>
                                            </mat-select>
                                            {{pagingBar.range}} <span fxHide.xs>{{'MAIN.OF_PROGRESS' | translate}} {{pagingBar.total}}</span>
                                        </td-paging-bar>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="" fxLayout="row" fxLayoutAlign="center center">
                            <div class="p-16" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="center center">
                                <button class="m-8" mat-flat-button color="primary"
                                        [routerLink]="'/recruiter/talent/'">{{ 'MAIN.BUTTON.BACK' | translate }}</button>
                                <button class="m-8" mat-flat-button color="primary"
                                        [routerLink]="'/recruiter/talent/editor/' + talent.id + '/' + (talent.title | slugify)">{{ 'MAIN.BUTTON.EDIT' | translate }}</button>
                                <button class="m-8" mat-flat-button color="primary"
                                        (click)="deleteTalent(talent.id)"><mat-icon>delete</mat-icon> {{ 'MAIN.BUTTON.DELETE' | translate }}</button>
                            </div>
                        </div>
                    </div>
                </fuse-widget>
            </ng-container>

        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

</div>
