@import "src/@fuse/scss/fuse";

#recruiter-talent-detail {

    .center {
        position: relative;
        overflow: auto;

        .header {
            height: 72px;
            min-height: 72px;
            max-height: 72px;
        }

        .content {
            position: relative;
            display: flex;
            //overflow: auto;
            background-color: transparent;

            /*fuse-widget {
                width: 100%;
            }*/

            .talent-tests {
                overflow: auto;
                .talent-tests-container {
                    max-width: calc(100vw - 90px);
                    td-paging-bar.small-icons .td-paging-bar-navigation {
                        .mat-icon-button {
                            width: 24px;
                        }
                    }
                    .td-data-table-column-row {
                        border-bottom-color: rgba(0, 0, 0, 0.12);

                        .td-data-table-column {
                            .td-data-table-heading {
                                text-align: center;
                                width: 100%;
                            }
                        }

                        .td-data-table-column:first-child, .td-data-table-column:nth-child(2) {
                            .td-data-table-heading {
                                text-align: left;
                            }
                        }
                    }

                    .td-data-table-row {
                        border-bottom-color: rgba(0, 0, 0, 0.12);
                        height: 32px;

                        .td-data-table-cell {
                            height: 32px;

                            .td-data-table-cell-content-wrapper {
                                height: 100%;
                                padding: 0 !important;
                            }
                        }

                        .td-data-table-cell:first-child {
                            .td-data-table-cell-content-wrapper {
                                padding-right: 0 !important;
                            }
                        }

                        .td-data-table-cell:nth-child(2) {
                            .td-data-table-cell-content-wrapper {
                                padding-left: 20px !important;
                                padding-right: 20px !important;
                            }
                        }
                    }

                    .mat-table {
                        overflow: auto;
                    }

                    .mat-column-user {
                        flex: 0 0 50% !important;
                        white-space: unset !important;
                    }

                    .mat-column-actions {
                        flex: 0 0 5% !important;
                        padding-left: 0 !important;
                        min-width: 36px;
                    }

                    .test-status-1 {
                    }
                }
            }
        }
    }
}

#recruiter-talent-detail-dialog {
    max-width: 500px;
    text-align: center;
}