<div id="recruiter-jobs-editor" class="page-layout simple full-width" fxLayout="column">

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="mr-16" [routerLink]="'/recruiter/jobs'">
                <mat-icon>arrow_back</mat-icon>
            </button>

            <div>
                <h2 *ngIf="job.title && job.title != ''; else titleNew">{{job.title}}</h2>
                <ng-template #titleNew><h2>{{'RECRUITER.JOBS.EDITOR.NEW_JOB' | translate}}</h2></ng-template>
            </div>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div id="recruiter-jobs-editor-content" class="content fuse-white-bg" fxLayout="column wrap">

            <div class="horizontal-stepper-wrapper" *ngIf="job">

                <!-- VERTICAL STEPPER -->
                <mat-vertical-stepper ngclass.gt-sm="p-24" [linear]="jobId > 0 ? false : false">

                    <mat-step [stepControl]="horizontalStepperStep1">

                        <form fxLayout="column" [formGroup]="horizontalStepperStep1">

                            <ng-template matStepLabel>{{ 'RECRUITER.JOBS.EDITOR.STEP_1_LABEL' | translate }}</ng-template>

                            <div fxFlex="1 0 auto" fxLayout="column">

                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>{{ 'MAIN.FORMS.NAME' | translate }}</mat-label>
                                    <input matInput formControlName="title" placeholder="{{ 'RECRUITER.JOBS.EDITOR.STEP_1_TEXT_1' | translate }}" required>
                                    <mat-error>{{ 'MAIN.FORMS.ERRORS.NAME_REQUIRED' | translate }}</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>{{ 'MAIN.FORMS.DESCRIPTION' | translate }}</mat-label>
                                    <textarea matInput formControlName="description" placeholder="{{ 'RECRUITER.JOBS.EDITOR.STEP_1_TEXT_2' | translate }}" rows="4"></textarea>
                                </mat-form-field>

                            </div>

                            <div fxLayout="row" fxLayoutAlign="center center">
                                <button class="m-16" ngClass.gt-xs="mx-8" mat-stroked-button matStepperNext type="button" color="primary">
                                    {{ 'MAIN.BUTTON.NEXT' | translate }}
                                </button>
                            </div>

                        </form>

                    </mat-step>

                    <mat-step [stepControl]="horizontalStepperStep2">

                        <form fxLayout="column" [formGroup]="horizontalStepperStep2">

                            <ng-template matStepLabel>{{ 'RECRUITER.JOBS.EDITOR.STEP_2_LABEL' | translate }}</ng-template>

                            <div fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="space-around">

                                <mat-form-field appearance="outline">
                                    <mat-label>{{ 'MAIN.FORMS.STARTS' | translate }}</mat-label>
                                    <input matInput [matDatepicker]="picker_active_from" formControlName="active_from" placeholder="{{ 'MAIN.FORMS.FILL_A_DATE' | translate }}" required>
                                    <mat-datepicker-toggle matSuffix [for]="picker_active_from"></mat-datepicker-toggle>
                                    <mat-datepicker #picker_active_from></mat-datepicker>
                                    <mat-error>{{ 'MAIN.FORMS.ERRORS.FIELD_REQUIRED' | translate }}</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline">
                                    <mat-label>{{ 'MAIN.FORMS.ENDS' | translate }}</mat-label>
                                    <input matInput [matDatepicker]="picker_active_to" formControlName="active_to" placeholder="{{ 'MAIN.FORMS.FILL_A_DATE' | translate }}" required>
                                    <mat-datepicker-toggle matSuffix [for]="picker_active_to"></mat-datepicker-toggle>
                                    <mat-datepicker #picker_active_to></mat-datepicker>
                                    <mat-error>{{ 'MAIN.FORMS.ERRORS.FIELD_REQUIRED' | translate }}</mat-error>
                                </mat-form-field>

                            </div>

                            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="center center">
                                <button class="m-16" ngClass.gt-xs="mx-8" mat-stroked-button matStepperPrevious type="button" color="primary">
                                    {{ 'MAIN.BUTTON.PREVIOUS' | translate }}
                                </button>
                                <button class="m-16" ngClass.gt-xs="mx-8" mat-stroked-button matStepperNext type="button" color="primary">
                                    {{ 'MAIN.BUTTON.NEXT' | translate }}
                                </button>
                            </div>

                        </form>

                    </mat-step>

                    <!--<mat-step [stepControl]="horizontalStepperStep3">

                        <form fxLayout="column" [formGroup]="horizontalStepperStep3">

                            <ng-template matStepLabel>{{ 'RECRUITER.JOBS.EDITOR.STEP_3_LABEL' | translate }}</ng-template>

                            <div fxFlex="1 0 auto" fxLayout="column">

                                <div class="container mb-16">
                                    <p>{{ 'RECRUITER.JOBS.EDITOR.STEP_3_LABEL_B' | translate }}</p>
                                    <button mat-flat-button color="primary" (click)="iconInput.click()">{{ 'MAIN.FORMS.CHOOSE_A_FILE' | translate }}</button>
                                    <input hidden type="file" #iconInput formControlName="icon" (change)="uploadIcon($event)">
                                    <p>{{ 'RECRUITER.JOBS.EDITOR.STEP_3_TEXT_B' | translate }}</p>
                                    <ng-container *ngIf="icon"><img [src]="icon.src"></ng-container>
                                </div>

                                <div class="container mb-16">
                                    <p>{{ 'RECRUITER.JOBS.EDITOR.STEP_3_LABEL_A' | translate }}</p>
                                    <button mat-flat-button color="primary" (click)="imageInput.click()">{{ 'MAIN.FORMS.CHOOSE_A_FILE' | translate }}</button>
                                    <input hidden type="file" #imageInput formControlName="image" (change)="uploadImage($event)">
                                    <p>{{ 'RECRUITER.JOBS.EDITOR.STEP_3_TEXT_A' | translate }}</p>
                                    <ng-container *ngIf="image"><img [src]="image.src"></ng-container>
                                </div>

                            </div>

                            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="center center">
                                <button class="m-16" ngClass.gt-xs="mx-8" mat-stroked-button matStepperPrevious type="button" color="primary">
                                    {{ 'MAIN.BUTTON.PREVIOUS' | translate }}
                                </button>
                                <button class="m-16" ngClass.gt-xs="mx-8" mat-stroked-button matStepperNext type="button" color="primary">
                                    {{ 'MAIN.BUTTON.NEXT' | translate }}
                                </button>
                            </div>

                        </form>

                    </mat-step>-->

                    <mat-step [stepControl]="horizontalStepperStep6">

                        <form fxLayout="column" [formGroup]="horizontalStepperStep6">

                            <ng-template matStepLabel>{{ 'RECRUITER.JOBS.EDITOR.STEP_6_LABEL' | translate }}</ng-template>

                            <div fxFlex="1 0 auto" fxLayout="row">

                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-select placeholder="{{ 'RECRUITER.JOBS.EDITOR.STEP_6_LABEL' | translate }}" formControlName="roles" [(value)]="job.test">
                                        <mat-option>{{ 'MAIN.FORMS.SELECT' | translate }}</mat-option>
                                        <mat-option *ngFor="let test of rolesTests" [(value)]="test.id">{{test.title}}</mat-option>
                                    </mat-select>
                                    <mat-hint>{{ 'RECRUITER.JOBS.EDITOR.STEP_6_TEXT' | translate }}</mat-hint>
                                </mat-form-field>
                            </div>

                            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="center center">
                                <button class="m-16" ngClass.gt-xs="mx-8" mat-stroked-button matStepperPrevious type="button" color="primary">
                                    {{ 'MAIN.BUTTON.PREVIOUS' | translate }}
                                </button>
                                <button class="m-16" ngClass.gt-xs="mx-8" mat-stroked-button matStepperNext type="button" color="primary">
                                    {{ 'MAIN.BUTTON.NEXT' | translate }}
                                </button>
                            </div>

                        </form>

                    </mat-step>

                    <mat-step [stepControl]="horizontalStepperStep4">

                        <form fxLayout="column" [formGroup]="horizontalStepperStep4">

                            <ng-template matStepLabel>{{ 'RECRUITER.JOBS.EDITOR.STEP_4_LABEL' | translate }}</ng-template>

                            <!--<div fxLayout="column" class="mt-16" ngClass="w-100-p">
                                <mat-slide-toggle class="w-50" formControlName="personality" (change)="togglePersonality()">{{ 'RECRUITER.JOBS.EDITOR.STEP_4_LABEL_C' | translate }}</mat-slide-toggle>
                                <mat-hint>{{ 'RECRUITER.JOBS.EDITOR.STEP_4_TEXT_C' | translate }}</mat-hint>
                            </div>-->

                            <!--<div fxFlex="1 0 auto" fxLayout="column" [ngClass]="personalitySelected ? 'dfx-not-collapsed' : 'dfx-collapsed'">-->
                            <div fxFlex="1 0 auto" fxLayout="column">

                                <mat-label for="personality_relevance" class="mt-16">{{ 'RECRUITER.JOBS.EDITOR.STEP_4_LABEL_A' | translate }}</mat-label>
                                <mat-hint>{{ 'RECRUITER.JOBS.EDITOR.STEP_4_TEXT_A' | translate }}</mat-hint>
                                <mat-button-toggle-group formControlName="personality_relevance" [(value)]="job.personality_relevance" class="toggle-personality-relevance" [disabled]="!personalitySelected">
                                    <mat-button-toggle *ngFor="let relevance of personalityRelevances" [value]="relevance.id" class="w-{{100/personalityRelevances.length}}-p" color="accent">{{ 'MAIN.JOBS.PERSONALITY_RELEVANCE.' + relevance.id | translate}}</mat-button-toggle>
                                </mat-button-toggle-group>

                                <!--<div [ngClass]="job.personality_relevance > 1 ? 'dfx-not-collapsed' : 'dfx-collapsed'">-->
                                <div>
                                    <div class="mt-16">{{'RECRUITER.JOBS.EDITOR.STEP_4_LABEL_B' | translate}}</div>
                                    <mat-hint>{{ 'RECRUITER.JOBS.EDITOR.STEP_4_TEXT_B' | translate }}</mat-hint>
                                    <div fxLayout="column wrap" fxLayout.gt-xs="row wrap" *ngIf="personalitySkillsGroupsLoaded">
                                        <ng-container *ngFor="let group of personalitySkillsGroups">
                                            <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="33" fxFlex.gt-md="20" fxLayout="column wrap" *ngIf="group" fxLayoutAlign="start center" class="px-16 my-16 IE-FlexAuto">
                                                <mat-label for="personality_skills">{{'MAIN.TRAITS.' + group.name.toUpperCase() + '.TITLE' | translate}}</mat-label>
                                                <mat-button-toggle-group formControlName="personality_skill_{{group.name.toLowerCase()}}" fxLayout="column" class="toggle-personality-skills skill-{{group.name.toLowerCase()}} w-100-p" [disabled]="!personalitySelected">
                                                    <ng-container *ngFor="let item of group.skills | keys;">
                                                        <mat-button-toggle [value]="item.value.id" [ngClass]="+item.key === 0 ? 'goodie-bg' : 'baddie-bg'">{{ item.value.title }}</mat-button-toggle>
                                                        <mat-button-toggle *ngIf="+item.key === 0" [value]="0">{{'MAIN.NS/NC' | translate}}</mat-button-toggle>
                                                    </ng-container>
                                                </mat-button-toggle-group>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>

                                <!--<mat-form-field appearance="outline" fxFlex="100">
                                    <mat-select placeholder="{{ 'RECRUITER.JOBS.EDITOR.STEP_5_LABEL' | translate }}" formControlName="test_personality" [(value)]="job.test_personality">
                                        <mat-option>{{ 'MAIN.FORMS.SELECT' | translate }}</mat-option>
                                        <mat-option *ngFor="let personality of personalityTests" [(value)]="personality.id">{{personality.title}}</mat-option>
                                    </mat-select>
                                    <mat-hint>{{ 'RECRUITER.JOBS.EDITOR.STEP_5_TEXT' | translate }}</mat-hint>
                                </mat-form-field>-->

                            </div>


                            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="center center">
                                <button class="m-16" ngClass.gt-xs="mx-8" mat-stroked-button matStepperPrevious type="button" color="primary">
                                    {{ 'MAIN.BUTTON.PREVIOUS' | translate }}
                                </button>
                                <!--<button class="m-16" ngClass.gt-xs="mx-8" mat-stroked-button matStepperNext type="button" color="primary" (click)="saveForm.disabled = false">
                                    {{ 'MAIN.BUTTON.NEXT' | translate }}
                                </button>-->
                            </div>

                        </form>

                    </mat-step>

                </mat-vertical-stepper>
                <!-- / VERTICAL STEPPER -->
                <div class="separator"></div>

                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="center center">
                    <button class="m-16" ngClass.gt-xs="mx-8" mat-flat-button type="button" color="primary" [routerLink]="'/recruiter/jobs'">
                        {{ 'MAIN.BUTTON.CANCEL' | translate }}
                    </button>
                    <button class="m-16" ngClass.gt-xs="mx-8" mat-flat-button type="button" #saveForm color="primary" [disabled]="!(horizontalStepperStep1.valid && horizontalStepperStep2.valid && horizontalStepperStep6.valid && horizontalStepperStep4.valid)" (click)="submitJob()">
                        {{ 'MAIN.BUTTON.SAVE' | translate }}
                    </button>
                </div>

            </div>
        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

</div>
