<div id="recruiter-jobs-editor-dialog">
    <h2 mat-dialog-title>{{'RECRUITER.JOBS.DIALOG.ADD_USERS_TITLE' | translate}}</h2>
    <mat-dialog-content [innerHTML]="'RECRUITER.JOBS.DIALOG.ADD_USERS_TEXT' | translate"></mat-dialog-content>
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
        <button mat-flat-button [mat-dialog-close]="true" color="primary" class="m-16">{{'MAIN.BUTTON.ADD' | translate}}</button>
        <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
        <button mat-flat-button [mat-dialog-close]="false" color="primary" class="m-16">{{'MAIN.BUTTON.CANCEL' | translate}}</button>
    </mat-dialog-actions>
</div>
