@import "src/@fuse/scss/fuse";

#recruiter-jobs-editor {
    background-color: #fff;

    .center {
        position: relative;
        overflow: auto;

        .header {
            height: 72px;
            min-height: 72px;
            max-height: 72px;
        }

        .content {
            position: relative;
            display: flex;
            background-color: transparent;

            .select-users {
                max-width: 65vw !important;
            }

            .dfx-collapsed {
                max-height: 0;
                opacity: 0;
                transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
            }

            .dfx-not-collapsed {
                max-height: 2000px;
                opacity: 1;
                transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
            }

            .toggle-personality-skills {
                .mat-button-toggle {
                    border-left: none;
                }
            }

            /*.toggle-personality-skills {
                &.skill-openness {
                    .mat-button-toggle.baddie-bg .mat-button-toggle-button {
                        background: mat-color($mat-blue-grey, 200);
                    }

                    .mat-button-toggle.mat-button-toggle-checked.baddie-bg .mat-button-toggle-button {
                        background: mat-color($mat-blue-grey, 600);
                    }

                    .mat-button-toggle.goodie-bg .mat-button-toggle-button {
                        background: mat-color($mat-blue-grey, 200);
                    }

                    .mat-button-toggle.mat-button-toggle-checked.goodie-bg .mat-button-toggle-button {
                        background: mat-color($mat-blue-grey, 600);
                    }
                }

                &.skill-conscientiousness {
                    .mat-button-toggle.baddie-bg .mat-button-toggle-button {
                        background: mat-color($mat-brown, 200);
                    }

                    .mat-button-toggle.mat-button-toggle-checked.baddie-bg .mat-button-toggle-button {
                        background: mat-color($mat-brown, 600);
                    }

                    .mat-button-toggle.goodie-bg .mat-button-toggle-button {
                        background: mat-color($mat-brown, 200);
                    }

                    .mat-button-toggle.mat-button-toggle-checked.goodie-bg .mat-button-toggle-button {
                        background: mat-color($mat-brown, 600);
                    }
                }

                &.skill-extraversion {
                    .mat-button-toggle.baddie-bg .mat-button-toggle-button {
                        background: mat-color($mat-light-green, 200);
                    }

                    .mat-button-toggle.mat-button-toggle-checked.baddie-bg .mat-button-toggle-button {
                        background: mat-color($mat-light-green, 600);
                    }

                    .mat-button-toggle.goodie-bg .mat-button-toggle-button {
                        background: mat-color($mat-light-green, 200);
                    }

                    .mat-button-toggle.mat-button-toggle-checked.goodie-bg .mat-button-toggle-button {
                        background: mat-color($mat-light-green, 600);
                    }
                }

                &.skill-agreeableness {
                    .mat-button-toggle.baddie-bg .mat-button-toggle-button {
                        background: mat-color($mat-orange, 200);
                    }

                    .mat-button-toggle.mat-button-toggle-checked.baddie-bg .mat-button-toggle-button {
                        background: mat-color($mat-orange, 600);
                    }

                    .mat-button-toggle.goodie-bg .mat-button-toggle-button {
                        background: mat-color($mat-orange, 200);
                    }

                    .mat-button-toggle.mat-button-toggle-checked.goodie-bg .mat-button-toggle-button {
                        background: mat-color($mat-orange, 600);
                    }
                }

                &.skill-neuroticism {
                    .mat-button-toggle.baddie-bg .mat-button-toggle-button {
                        background: mat-color($mat-light-blue, 200);
                    }

                    .mat-button-toggle.mat-button-toggle-checked.baddie-bg .mat-button-toggle-button {
                        background: mat-color($mat-light-blue, 600);
                    }

                    .mat-button-toggle.goodie-bg .mat-button-toggle-button {
                        background: mat-color($mat-light-blue, 200);
                    }

                    .mat-button-toggle.mat-button-toggle-checked.goodie-bg .mat-button-toggle-button {
                        background: mat-color($mat-light-blue, 600);
                    }
                }

            }*/

            .toggle-personality-relevance {
                /*mat-button-toggle {
                    .mat-button-toggle-button {
                        background: mat-color($mat-blue, 200);
                    }
                    &.mat-button-toggle-checked .mat-button-toggle-button {
                        background: mat-color($mat-blue, 600);
                    }
                }
                mat-button-toggle:nth-child(1) {
                    .mat-button-toggle-button {
                        background: mat-color($mat-red, 100);
                    }
                    &.mat-button-toggle-checked .mat-button-toggle-button {
                        background: mat-color($mat-red, 300);
                    }
                }
                mat-button-toggle:nth-child(2) {
                    .mat-button-toggle-button {
                        background: mat-color($mat-amber, 100);
                    }
                    &.mat-button-toggle-checked .mat-button-toggle-button {
                        background: mat-color($mat-amber, 300);
                    }
                }
                mat-button-toggle:nth-child(3) {
                    .mat-button-toggle-button {
                        background: mat-color($mat-green, 100);
                    }
                    &.mat-button-toggle-checked .mat-button-toggle-button {
                        background: mat-color($mat-green, 300);
                    }
                }
                mat-button-toggle:nth-child(4) {
                    .mat-button-toggle-button {
                        background: mat-color($mat-blue, 100);
                    }
                    &.mat-button-toggle-checked .mat-button-toggle-button {
                        background: mat-color($mat-blue, 300);
                    }
                }*/
            }
        }
    }
}
