quick-panel {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 280px;
    min-width: 280px;
    max-width: 280px;
    z-index: 99;

    .mat-slide-toggle-content {
        flex: 1;
    }
    .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
        display: block;
        height: 48px;
        -webkit-tap-highlight-color: transparent;
        width: 100%;
        padding: 0;

        .mat-list-item-content {
            flex-direction: column !important;
            flex-flow: wrap !important;
            align-items: start !important;
        }

        .mat-list-text {
            width: 100%;
        }
    }
}
