<div fxLayout="column" fxFlex fusePerfectScrollbar>

    <mat-list class="date" cdkFocusRegionStart>

        <h3 matSubheader cdkFocusInit>
            <span>{{ 'MAIN.TODAY' | translate }}</span>
        </h3>

        <div class="secondary-text mat-display-1 mb-0 p-16">
            <div class="mb-12">
                {{date | date: 'EEEE' : locale}}
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <span> {{date | date: 'd' : locale}}</span>
                <span class="mat-subheading-1">&nbsp;</span>&nbsp;
                <span> {{date | date: 'MMMM' : locale}}</span>
            </div>
        </div>
    </mat-list>

    <mat-divider cdkFocusRegionEnd></mat-divider>

    <mat-list *ngIf="!notifications.dashboard_todo || notifications.dashboard_todo === 0">
        <h3 matSubheader>
            <span>{{ 'MAIN.NOTIFICATIONS.TITLE' | translate }}</span>
        </h3>
        <h4 class="px-16 mat-title">{{ 'MAIN.NOTIFICATIONS.NO_PENDING_TASKS' | translate }}</h4>
    </mat-list>
    <mat-list *ngIf="notifications.dashboard_todo && notifications.dashboard_todo > 0">
        <h3 matSubheader>
            <span>{{ 'MAIN.NOTIFICATIONS.TITLE' | translate }}</span>
        </h3>
        <h4 class="px-16 mat-title">{{ 'MAIN.NOTIFICATIONS.TEXT' | translate }}</h4>

        <mat-list-item *ngIf="notifications.personality && notifications.personality_pending && notifications.personality_pending.length > 0">
            <h4 matLine>{{ 'MAIN.PERSONALITY.TITLE' | translate }}</h4>
            <div matLine><p class="secondary-text m-0">{{ 'MAIN.PERSONALITY.MUST_DO_TEST' | translate }}</p>
                <ng-container *ngIf="notifications.personality_pending && notifications.personality_pending.length > 0">
                    <ng-container *ngFor="let notification of notifications.personality_pending">
                        <p class="m-0"><button class="dfx-chip {{ !notification.status || notification.status === 0 ? 'warn' : 'amber' }}">*</button> <a [routerLink]="'/candidate/big5/questionnaire'">{{notification.title}}</a></p>
                    </ng-container>
                </ng-container>
            </div>
        </mat-list-item>

        <mat-list-item *ngIf="notifications.skills && notifications.skills_pending && notifications.skills_pending.length > 0">
            <h4 matLine>{{ 'MAIN.SKILLS.TITLE' | translate }}</h4>
            <div matLine><p class="secondary-text m-0">{{ 'MAIN.SKILLS.MUST_DO_TEST' | translate }}</p>
                <ng-container *ngIf="notifications.skills_pending && notifications.skills_pending.length > 0">
                    <ng-container *ngFor="let notification of notifications.skills_pending">
                        <p class="m-0"><button class="dfx-chip {{ !notification.status || notification.status === 0 ? 'warn' : 'amber' }}">*</button> <a [routerLink]="'/candidate/' + (notification.subtype && notification.subtype === 1 ? 'skills' : 'expertise') + '/questionnaire/' + notification.target + '/' + notification.id + '/' + (notification.title | slugify)">{{notification.title}}</a></p>
                    </ng-container>
                </ng-container>
            </div>
        </mat-list-item>

        <mat-list-item *ngIf="notifications.role" fxLayout="column wrap" fxFlexAlign="start">
            <h4 matLine>{{ 'MAIN.ROLES.TITLE' | translate }}</h4>
            <div matLine><p class="secondary-text m-0">{{ 'MAIN.ROLES.MUST_DO_TESTS' | translate }}</p>
                <ng-container *ngIf="notifications.role_pending && notifications.role_pending.length > 0">
                    <ng-container *ngFor="let notification of notifications.role_pending">
                        <p class="m-0"><button class="dfx-chip {{ !notification.status || notification.status === 0 ? 'warn' : 'amber' }}">*</button> <a [routerLink]="'/candidate/roles/questionnaire/' + notification.target + '/' + notification.id + '/' + (notification.title | slugify)">{{notification.title}}</a></p>
                    </ng-container>
                </ng-container>
            </div>
        </mat-list-item>

        <mat-list-item *ngIf="notifications.knowledge" fxLayout="column wrap" fxFlexAlign="start">
            <h4 matLine>{{ 'MAIN.KNOWLEDGE.TITLE' | translate }}</h4>
            <div matLine><p class="secondary-text m-0">{{ 'MAIN.KNOWLEDGE.MUST_DO_TESTS' | translate }}</p>
                <ng-container *ngIf="notifications.knowledge_pending && notifications.knowledge_pending.length > 0">
                    <ng-container *ngFor="let notification of notifications.knowledge_pending">
                        <p class="m-0"><button class="dfx-chip {{ !notification.status || notification.status === 0 ? 'warn' : 'amber' }}">*</button> <a [routerLink]="'/candidate/knowledge/questionnaire/' + notification.target + '/' + notification.id + '/' + (notification.title | slugify)">{{notification.title}}</a></p>
                    </ng-container>
                </ng-container>
            </div>
        </mat-list-item>

        <mat-list-item *ngIf="notifications.experience">
            <h4 matLine>{{ 'MAIN.EXPERIENCE.TITLE' | translate }}</h4>
            <p matLine class="secondary-text">{{ 'MAIN.EXPERIENCE.MUST_FILL' | translate }} <br/><a [routerLink]="'/candidate/profile'">{{ 'MAIN.BUTTON.ADD_EXPERIENCE' | translate }}</a></p>
        </mat-list-item>

        <mat-list-item *ngIf="notifications.profile">
            <h4 matLine>{{ 'MAIN.PROFILE.TITLE' | translate }}</h4>
            <p matLine class="secondary-text">{{ 'MAIN.PROFILE.MUST_FILL' | translate }} <br/><a [routerLink]="'/candidate/profile'">{{ 'MAIN.BUTTON.COMPLETE' | translate }}</a></p>
        </mat-list-item>

        <mat-list-item *ngIf="notifications.jobs">
            <h4 matLine>{{ 'MAIN.JOBS.TITLE' | translate }}</h4>
            <p matLine class="secondary-text paragraph">{{ 'MAIN.JOBS.MUST_APPLY' | translate }} <br/><a [routerLink]="'/candidate/jobs'">{{ 'MAIN.BUTTON.APPLY_TO_JOB' | translate }}</a></p>
        </mat-list-item>

    </mat-list>

    <mat-divider></mat-divider>

    <!--<mat-list>
        <h3 matSubheader>
            <span>{{ 'MAIN.EVENTS' | translate }}</span>
        </h3>

        <mat-list-item *ngFor="let event of events">
            <h3 matLine>{{event.title}}</h3>
            <p matLine class="secondary-text">{{event.detail}}</p>
        </mat-list-item>
    </mat-list>

    <mat-divider></mat-divider>

    <mat-list>
        <h3 matSubheader>
            <span>Notes</span>
        </h3>

        <mat-list-item *ngFor="let note of notes">
            <h3 matLine>{{note.title}}</h3>
            <p matLine class="secondary-text">{{note.detail}}</p>
        </mat-list-item>
    </mat-list>

    <mat-divider></mat-divider>

    <mat-list>
        <h3 matSubheader>
            <span>Quick Settings</span>
        </h3>

        <mat-list-item>
            <mat-slide-toggle fxFlex class="mat-primary" [(ngModel)]="settings.notify" aria-label="Notifications"
                              labelPosition="before">
                <h3>Notifications</h3>
            </mat-slide-toggle>
        </mat-list-item>

        <mat-list-item>
            <mat-slide-toggle fxFlex class="mat-accent" [(ngModel)]="settings.cloud" aria-label="Cloud"
                              labelPosition="before">
                <h3>Cloud Sync</h3>
            </mat-slide-toggle>
        </mat-list-item>

        <mat-list-item>
            <mat-slide-toggle fxFlex class="mat-warn" [(ngModel)]="settings.retro" aria-label="Retro Thrusters"
                              labelPosition="before">
                <h3>Retro Thrusters</h3>
            </mat-slide-toggle>
        </mat-list-item>
    </mat-list>-->

</div>