@import "src/@fuse/scss/fuse";

#candidate-big5-start {

    .header {
        position: relative;
        flex: 1 0 auto;
        height: 280px;
        max-height: 280px;
        text-align: center;
        overflow: hidden;

        @include media-breakpoint('xs') {
            height: 240px;
            padding: 16px;
        }

        .hero-text {

            .hero-icon {
                position: absolute;
                top: -64px;
                left: 0px;
                opacity: 0.04;
                font-size: 512px !important;
                width: 512px !important;
                height: 512px !important;
            }

            h1 {
                font-size: 40px;
                font-weight: 300;
                letter-spacing: 0.01em;
                text-align: center;
                margin-top: 0;
                margin-bottom: 16px;

                @include media-breakpoint('xs') {
                    font-size: 24px;
                }
            }

            h3 {
                max-width: 480px;
                text-align: center;
                font-weight: 300;
                letter-spacing: 0.03em;
                margin: 0;

                @include media-breakpoint('xs') {
                    font-size: 14px;
                }
            }
        }
    }

    .content {

        .cont {
            .big-five-values {
                @include media-breakpoint('xs') {
                    text-align: center;
                }
                @include media-breakpoint('gt-xs') {
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-flex-direction: row;
                    -ms-flex-direction: row;
                    flex-direction: row;
                    -webkit-flex-wrap: nowrap;
                    -ms-flex-wrap: nowrap;
                    flex-wrap: nowrap;
                    -webkit-justify-content: space-around;
                    -ms-flex-pack: distribute;
                    justify-content: space-around;
                    -webkit-align-content: stretch;
                    -ms-flex-line-pack: stretch;
                    align-content: stretch;
                    -webkit-align-items: stretch;
                    -ms-flex-align: stretch;
                    align-items: stretch;
                }

                .big-five-value-item {
                    @include media-breakpoint('gt-xs') {
                        -webkit-flex: 1 1 100%;
                        -ms-flex: 1 1 100%;
                        flex: 1 1 100%;
                        -webkit-align-self: auto;
                        -ms-flex-item-align: auto;
                        align-self: auto;
                        text-align: center;
                    }
                    .mat-icon {
                        font-size: 60px;
                        vertical-align: middle;
                        width: 100%;
                        height: 60px;
                        margin: auto;
                        clear: both;
                    }
                }
            }
        }
    }
}
