<div id="register" fxLayout="column">

    <div id="register-form-wrapper" class="IE-FormCenterize" fxLayout="column" fxLayoutAlign="center center">

        <div id="register-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img [src]="appConfig.logo.medium_var1">
            </div>

            <div class="title">{{ 'REGISTRATION.CREATE_AN_ACCOUNT' | translate }}</div>

            <!-- ALERT -->
            <alert *ngIf="!fuseConfig.layout.alert.hidden && fuseConfig.layout.alert.position === 'content'"></alert>
            <!-- / ALERT -->

            <form name="registerForm" [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
                <ng-container *ngIf="!external && false">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'REGISTRATION.USERNAME' | translate }} *</mat-label>
                        <input matInput formControlName="username" autocomplete="username">
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                        <mat-error *ngIf="registerForm.get('username').hasError('required')">
                            {{ 'REGISTRATION.ERROR.REQ_USERNAME' | translate }}
                        </mat-error>
                    </mat-form-field>
                </ng-container>

                <mat-form-field appearance="outline">
                    <mat-label>{{ 'REGISTRATION.FIRST_NAME' | translate }} *</mat-label>
                    <input matInput formControlName="first_name" autocomplete="first_name">
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <mat-error *ngIf="registerForm.get('first_name').hasError('required')">
                        {{ 'REGISTRATION.ERROR.REQ_FIRST_NAME' | translate }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>{{ 'REGISTRATION.LAST_NAME' | translate }} *</mat-label>
                    <input matInput formControlName="last_name" autocomplete="last_name">
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <mat-error *ngIf="registerForm.get('last_name').hasError('required')">
                        {{ 'REGISTRATION.ERROR.REQ_LAST_NAME' | translate }}
                    </mat-error>
                </mat-form-field>

                <ng-container *ngIf="external">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'REGISTRATION.PHONE' | translate }}</mat-label>
                        <input matInput formControlName="contact_phone" autocomplete="contact_phone">
                        <mat-icon matSuffix class="secondary-text">phone</mat-icon>
                        <mat-error *ngIf="registerForm.get('contact_phone').hasError('required')">
                            {{ 'REGISTRATION.ERROR.REQ_PHONE' | translate }}
                        </mat-error>
                    </mat-form-field>

                    <!--<mat-form-field appearance="outline">
                        <mat-label>{{ 'REGISTRATION.CITY' | translate }}</mat-label>
                        <input matInput formControlName="city" autocomplete="city">
                        <mat-icon matSuffix class="secondary-text">location_on</mat-icon>
                        <mat-error *ngIf="registerForm.get('city').hasError('required')">
                            {{ 'REGISTRATION.ERROR.REQ_CITY' | translate }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'REGISTRATION.ENTERPRISE' | translate }}</mat-label>
                        <input matInput formControlName="enterprise" autocomplete="enterprise">
                        <mat-icon matSuffix class="secondary-text">location_city</mat-icon>
                        <mat-error *ngIf="registerForm.get('enterprise').hasError('required')">
                            {{ 'REGISTRATION.ERROR.REQ_ENTERPRISE' | translate }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'REGISTRATION.POSITION' | translate }}</mat-label>
                        <input matInput formControlName="position" autocomplete="position">
                        <mat-icon matSuffix class="secondary-text">person_pin</mat-icon>
                        <mat-error *ngIf="registerForm.get('position').hasError('required')">
                            {{ 'REGISTRATION.ERROR.REQ_POSITION' | translate }}
                        </mat-error>
                    </mat-form-field>-->

                    <!--<mat-form-field appearance="outline">
                        <mat-label>{{ 'REGISTRATION.PICTURE' | translate }}</mat-label>
                        <input matInput hidden>
                        <button mat-stroked-button color="primary" (click)="imageInput.click()">{{ 'MAIN.FORMS.CHOOSE_A_FILE' | translate }}</button>
                        <input hidden type="file" #imageInput formControlName="picture" (change)="uploadImage($event)">
                        <mat-icon matSuffix class="secondary-text">portrait</mat-icon>
                        <mat-error>
                            {{ 'REGISTRATION.ERROR.REQ_PICTURE' | translate }}
                        </mat-error>
                    </mat-form-field>-->
                </ng-container>

                <mat-form-field appearance="outline">
                    <mat-label>{{ 'REGISTRATION.EMAIL' | translate }} *</mat-label>
                    <input matInput formControlName="email" autocomplete="email">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="registerForm.get('email').hasError('required')">
                        {{ 'REGISTRATION.ERROR.REQ_EMAIL' | translate }}
                    </mat-error>
                    <mat-error
                        *ngIf="!registerForm.get('email').hasError('required') &&
                                registerForm.get('email').hasError('email')">
                        {{ 'REGISTRATION.ERROR.VALID_EMAIL' | translate }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>{{ 'REGISTRATION.PASSWORD' | translate }} *</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        {{ 'REGISTRATION.ERROR.REQ_PASSWORD' | translate }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>{{ 'REGISTRATION.PASSWORD_CONFIRM' | translate }} *</mat-label>
                    <input matInput type="password" formControlName="passwordConfirm">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="registerForm.get('passwordConfirm').hasError('required')">
                        {{ 'REGISTRATION.ERROR.REQ_PASSWORD_CONFIRM' | translate }}
                    </mat-error>
                    <mat-error *ngIf="!registerForm.get('passwordConfirm').hasError('required') &&
                                       registerForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                        {{ 'REGISTRATION.ERROR.MATCH_PASSWORD' | translate }}
                    </mat-error>
                </mat-form-field>

                <div class="terms" fxLayout="column" fxLayoutAlign="center center">
                    <mat-checkbox name="terms" aria-label="I read and accept" (change)="checkTerms($event)" #termsAccepted>
                        <div fxLayout="column" fxLayoutAlign="center">
                            <span>{{ 'REGISTRATION.I_READ_AND_ACCEPT' | translate }}</span>
                            <a (click)="openTermsDialog()">{{ 'REGISTRATION.TERMS_AND_CONDITIONS' | translate }}</a>
                        </div>
                    </mat-checkbox>
                    <mat-error *ngIf="!termsAccepted.checked && termsTouched">
                        {{ 'REGISTRATION.ERROR.REQ_TERMS' | translate }}
                    </mat-error>
                </div>

                <button mat-raised-button color="primary" class="submit-button" aria-label="CREATE AN ACCOUNT"
                        [disabled]="registerForm.invalid || submitted || !termsAccepted.checked">
                    {{ 'REGISTRATION.CREATE_ACCOUNT_1' | translate }}
                </button>

            </form>

            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">{{ 'REGISTRATION.ALREADY_HAVE_ACCOUNT' | translate }}</span>
                <a class="link" [routerLink]="'/auth/login'" [queryParams]="external ? { external: 'true', jobId: jobId, jobSlug: jobSlug } : {} ">{{ 'REGISTRATION.LOGIN' | translate }}</a>
            </div>

        </div>

    </div>

</div>
