<div id="registration-dialog">
    <ng-container>
        <h2 mat-dialog-title>{{'REGISTRATION.DIALOG_TERMS_TITLE' | translate}}</h2>
        <mat-dialog-content [innerHTML]="'REGISTRATION.DIALOG_TERMS_TEXT' | translate"></mat-dialog-content>
        <mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
            <button mat-flat-button [mat-dialog-close]="'cancel'" color="primary" class="m-16">{{'MAIN.BUTTON.CLOSE' | translate}}</button>
        </mat-dialog-actions>
    </ng-container>
</div>
