<div id="candidate-knowledge-questionnaire-dialog">
    <ng-container *ngIf="data.confirmExit">
        <h2 mat-dialog-title>{{'CANDIDATE.COMMON.DIALOG.CONFIRM_EXIT_TITLE' | translate}}</h2>
        <mat-dialog-content [innerHTML]="'CANDIDATE.COMMON.DIALOG.CONFIRM_EXIT_TEXT' | translate"></mat-dialog-content>
        <mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
            <button mat-flat-button [mat-dialog-close]="false" color="primary" class="m-16">{{'MAIN.BUTTON.CONTINUE' | translate}}</button>
            <button mat-flat-button [mat-dialog-close]="true" color="warn" class="m-16">{{'MAIN.BUTTON.FINISH' | translate}}</button>
        </mat-dialog-actions>
    </ng-container>
    <ng-container *ngIf="data.lastResult && !data.timerFinish && !data.confirmExit">
        <h2 mat-dialog-title>{{'CANDIDATE.KNOWLEDGE.QUESTIONNAIRE.DIALOG_TITLE_RETAKE' | translate}}</h2>
        <mat-dialog-content [innerHTML]="'CANDIDATE.KNOWLEDGE.QUESTIONNAIRE.DIALOG_TEXT_RETAKE' | translate"></mat-dialog-content>
        <mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
            <button mat-flat-button [mat-dialog-close]="'cancel'" color="primary" class="m-16">{{'MAIN.BUTTON.CANCEL' | translate}}</button>
            <button mat-flat-button [mat-dialog-close]="false" color="primary" class="m-16">{{'MAIN.BUTTON.REPEAT_TEST' | translate}}</button>
        </mat-dialog-actions>
    </ng-container>
    <ng-container *ngIf="!data.lastResult && !data.timerFinish && !data.confirmExit">
        <h2 mat-dialog-title>{{'CANDIDATE.KNOWLEDGE.QUESTIONNAIRE.DIALOG_TITLE_CONTINUE' | translate}}</h2>
        <mat-dialog-content [innerHTML]="'CANDIDATE.KNOWLEDGE.QUESTIONNAIRE.DIALOG_TEXT_CONTINUE' | translate"></mat-dialog-content>
        <mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
            <button mat-flat-button [mat-dialog-close]="true" color="primary" class="m-16">{{'MAIN.BUTTON.CONTINUE' | translate}}</button>
            <button mat-flat-button [mat-dialog-close]="false" color="primary" class="m-16">{{'MAIN.BUTTON.START_AGAIN' | translate}}</button>
        </mat-dialog-actions>
    </ng-container>
    <ng-container *ngIf="data.timerFinish && !data.confirmExit">
        <h2 mat-dialog-title>{{'MAIN.TIMER.DIALOG_TITLE_TIME_OVER' | translate}}</h2>
        <mat-dialog-content [innerHTML]="'MAIN.TIMER.DIALOG_TEXT_TIME_OVER' | translate"></mat-dialog-content>
        <mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
            <button mat-flat-button [mat-dialog-close]="true" color="primary" class="m-16">{{'MAIN.BUTTON.CONTINUE' | translate}}</button>
        </mat-dialog-actions>
    </ng-container>
</div>
