<div id="candidate-big5-questionnaire" class="page-layout simple left-sidebar">

    <!-- SIDEBAR -->
    <fuse-sidebar class="sidebar" name="candidate-big5-questionnaire-left-sidebar-1" position="left" lockedOpen="gt-md">

        <!-- SIDEBAR CONTENT -->
        <div class="content" fusePerfectScrollbar>

            <div class="steps">

                <div class="step"
                     *ngFor="let step of questionnaire.steps; let i = index; let last = last; let first = first"
                     (click)="gotoStep(i)"
                     [ngClass]="{'current': currentStep === i, 'completed': currentStep > i, 'last': last, 'first': first}">
                    <div class="index">
                        <span>{{i + 1}}</span>
                    </div>
                    <!--<div class="title">{{step.title}}</div>-->
                </div>

            </div>

        </div>
        <!-- / SIDEBAR CONTENT -->

    </fuse-sidebar>
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="sidebar-toggle mr-16" fxHide.gt-md
                    (click)="toggleSidebar('candidate-big5-questionnaire-left-sidebar-1')">
                <mat-icon>menu</mat-icon>
            </button>

            <button mat-icon-button class="mr-16" [routerLink]="'/candidate/big5/start'">
                <mat-icon>arrow_back</mat-icon>
            </button>

            <div fxLayout="row" fxLayoutAlign="center center">
                <mat-icon class="hero-icon" class="mr-24">insert_emoticon</mat-icon>
                <h2>{{questionnaire.title}}</h2>
            </div>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div id="questionnaire-content" class="content">

            <ng-container *ngFor="let step of questionnaire.steps; let i = index;">

                <div class="questionnaire-step" fusePerfectScrollbar
                     *ngIf="currentStep === i"
                     [@slideIn]="animationDirection">

                    <ng-container *ngFor="let question of step.questions; let iq = index;">
                        <div id="questionnaire-step-content" class="questionnaire-step-content mb-36">
                            <div class="questionnaire-step-number">{{(i * groupingValue) + (iq + 1)}}</div>
                            <div id="questionnaire-step-question-{{question.id}}"
                                 class="questionnaire-step-question text-center my-16 mat-title" [innerHTML]="question.text"></div>
                            <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="questionnaire.results[question.id]" [disabled]="!(questionnaire.execution && questionnaire.execution.id > 0)"
                                                     class="questionnaire-step-question-options" (change)="saveAnswer({question: question.id, test: questionnaire.execution.id, option: +group.value})">
                                <mat-button-toggle value="1"  title="{{'CANDIDATE.BIG5.QUESTION_VALUES.1' | translate }}">
                                    <mat-icon class="red-fg">sentiment_very_dissatisfied</mat-icon>
                                </mat-button-toggle>
                                <mat-button-toggle value="2" title="{{'CANDIDATE.BIG5.QUESTION_VALUES.2' | translate }}">
                                    <mat-icon class="orange-fg">sentiment_dissatisfied</mat-icon>
                                </mat-button-toggle>
                                <mat-button-toggle value="3" title="{{'CANDIDATE.BIG5.QUESTION_VALUES.3' | translate }}">
                                    <mat-icon class="amber-fg">sentiment_satisfied</mat-icon>
                                </mat-button-toggle>
                                <mat-button-toggle value="4" title="{{'CANDIDATE.BIG5.QUESTION_VALUES.4' | translate }}">
                                    <mat-icon class="lime-fg">mood</mat-icon>
                                </mat-button-toggle>
                                <mat-button-toggle value="5" title="{{'CANDIDATE.BIG5.QUESTION_VALUES.5' | translate }}">
                                    <mat-icon class="green-fg">sentiment_very_satisfied</mat-icon>
                                </mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>
                        <!--<div class="separator"></div>-->
                    </ng-container>

                    <ng-container *ngIf="step.last">
                        <p>
                            {{ 'CANDIDATE.BIG5.QUESTIONNAIRE.LAST_STEP_TEXT' | translate }}
                        </p>
                        <div class="p-16" fxLayout="row" fxLayoutAlign="center center">
                            <button mat-flat-button color="primary" [disabled]="submitted" (click)="submitExecution(questionnaire.execution)">{{ 'MAIN.BUTTON.VIEW' | translate }}</button>
                        </div>
                    </ng-container>

                </div>

            </ng-container>

        </div>
        <!-- / CONTENT -->

        <div class="step-navigation">

            <button mat-fab class="previous mat-accent fuse-white-fg"
                    (click)="gotoPreviousStep()"
                    [disabled]="currentStep === 0"
                    [fxHide]="currentStep === 0">
                <mat-icon>chevron_left</mat-icon>
            </button>

            <button mat-fab class="next mat-accent fuse-white-fg"
                    (click)="gotoNextStep()"
                    [disabled]="currentStep === questionnaire.steps.length - 1"
                    [fxHide]="currentStep === questionnaire.steps.length - 1">
                <mat-icon>chevron_right</mat-icon>
            </button>

            <button mat-fab class="done green-600"
                    (click)="submitExecution(questionnaire.execution)"
                    [disabled]="currentStep !== questionnaire.steps.length - 1 || submitted"
                    [fxShow]="currentStep === questionnaire.steps.length - 1">
                <mat-icon>check</mat-icon>
            </button>

        </div>

    </div>
    <!-- / CENTER -->

</div>
