<div id="candidate-roles-questionnaire" class="page-layout carded fullwidth" [ngClass.gt-md]="'inner-scroll'">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
            <button mat-icon-button class="mr-16" [routerLink]="'/candidate/knowledge'">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <mat-icon *ngIf="questionnaire.icon; else defaultIcon" class="hero-icon" class="mr-24">{{questionnaire.icon}}</mat-icon>
            <ng-template #defaultIcon><mat-icon class="hero-icon" class="mr-24">person_pin_circle</mat-icon></ng-template>
            <h2 class="m-0">{{questionnaire.title}}</h2>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8 ngb-progressbar">
                <ngb-progressbar class="w-100-p" [showValue]="false" type="warning" [value]="currentStep+1" [max]="questionnaire.questions.length"><div class="progress-text inverted-bar" attr.data-content="{{currentStep+1}} {{'MAIN.OF_PROGRESS' | translate}} {{questionnaire.questions.length}}"></div></ngb-progressbar>
                <!--<mat-progress-bar mode="determinate" value="{{ currentStep * 100 / questionnaire.questions.length }}"></mat-progress-bar>-->
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- COUNTDOWN TIMER BAR -->
            <mat-progress-bar mode="determinate" [color]="timerProgressColor" value="{{ timerProgress$ | async }}"></mat-progress-bar>
            <!-- / COUNTDOWN TIMER BAR -->

            <!-- CONTENT -->
            <div class="content p-24" fusePerfectScrollbar id="questionnaire-content">
                <!-- COUNTDOWN TIMER -->
                <ng-container *ngIf="timerShow">
                    <div class="snack-alert-container IE-w-auto">
                        <div #timer_container class="snack-alert IE-Centerize100" [ngClass]="timerClass">
                            <countdown #timer [config]="timerConfig" (event)="handleTimerEvent($event)"></countdown>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="!timerShow"><div #timer></div></ng-container>
                <!-- / COUNTDOWN TIMER -->
                <ng-container *ngFor="let question of questionnaire.questions; let i = index;">

                    <div class="questionnaire-step" *ngIf="currentStep === i" [@slideIn]="animationDirection">

                        <div id="questionnaire-step-content" class="questionnaire-step-content" *ngIf="questionnaireReady">
                            <img *ngIf="question.image && question.image !== ''" src="{{question.image}}" class="img" default="assets/images/demo-content/test-02.jpg">
                            <div id="questionnaire-step-question-{{question.id}}"
                                 class="questionnaire-step-question text-center my-16 mat-title"
                                 [innerHTML]="question.text"></div>
                            <div class="answer-group-wrapper">
                                <mat-radio-group #group="matRadioGroup" [disabled]="!(questionnaire.execution && questionnaire.execution.id > 0)" [(ngModel)]="questionnaire.results[question.id]" *ngIf="question.type == 1 || question.type == 2" class="questionnaire-step-question-options">
                                    <ng-container *ngFor="let answer of question.answers;">
                                        <mat-radio-button [value]="answer.id" fxLayout="row" fxLayoutAlign="flex-start" (click)="saveAnswer({question: question.id, test: questionnaire.execution.id, answers: [answer.id]});">
                                            {{answer.text}}
                                        </mat-radio-button>
                                        <div class="separator"></div>
                                    </ng-container>
                                </mat-radio-group>
                                <div class="questionnaire-step-question-options" *ngIf="question.type == 3">
                                    <mat-checkbox *ngFor="let answer of question.answers;"
                                                  [(ngModel)]="questionnaire.results[question.id][answer.id]"
                                                  fxLayout="row" fxLayoutAlign="flex-start" [disabled]="!(questionnaire.execution && questionnaire.execution.id > 0)"
                                                  (change)="saveAnswer({question: question.id, test: questionnaire.execution.id, answers: [answer.id]}, 3, $event);">
                                        {{answer.text}}
                                    </mat-checkbox>
                                    <div class="separator"></div>
                                </div>
                                <div class="questionnaire-step-question-options" *ngIf="question.type == 33 && !nextQuestion">
                                    <mat-checkbox *ngFor="let answer of question.answers;"
                                                  [(ngModel)]="questionnaire.results[question.id][answer.id]"
                                                  fxLayout="row" fxLayoutAlign="flex-start" [disabled]="!(questionnaire.execution && questionnaire.execution.id > 0)"
                                                  (change)="saveAnswer({question: question.id, test: questionnaire.execution.id, answers: [answer.id]}, 3, $event);">
                                        {{answer.text}}
                                    </mat-checkbox>
                                    <div class="separator"></div>
                                </div>
                                <div class="questionnaire-step-question-options" *ngIf="question.type == 33 && nextQuestion">
                                    <mat-checkbox *ngFor="let answer of question.answers;"
                                                  [ngModel]="questionnaire.results[question.id] && questionnaire.results[question.id][answer.id]"
                                                  (ngModelChange)="questionnaire.results[question.id] && questionnaire.results[question.id][answer.id] ? questionnaire.results[question.id][answer.id] = $event : null"
                                                  fxLayout="row" fxLayoutAlign="flex-start" [disabled]="!(questionnaire.execution && questionnaire.execution.id > 0)"
                                                  (change)="saveAnswer({question: question.id, test: questionnaire.execution.id, answers: [answer.id]}, 3, $event);">
                                        {{answer.text}}
                                    </mat-checkbox>
                                    <div class="separator"></div>
                                </div>
                                <mat-form-field class="w-100-p" *ngIf="question.type == 4">
                                    <input matInput placeholder="{{ 'CANDIDATE.COMMON.TYPE_HERE_YOUR_ANSWER' | translate}}" [(ngModel)]="questionnaire.results[question.id]" [disabled]="!(questionnaire.execution && questionnaire.execution.id > 0)">
                                </mat-form-field>
                            </div>
                        </div>

                        <ng-container *ngIf="currentStep === questionnaire.questions.length - 1000000">
                            <p>
                                {{ 'CANDIDATE.SKILLS.QUESTIONNAIRE.LAST_STEP_TEXT' | translate }}
                            </p>
                            <div class="p-16" fxLayout="row" fxLayoutAlign="center center">
                                <button mat-flat-button color="primary" [disabled]="submitted"
                                        (click)="submitExecution(questionnaire.execution)">{{ 'MAIN.BUTTON.VIEW' | translate }}</button>
                            </div>
                        </ng-container>

                    </div>

                </ng-container>

            </div>
            <!-- / CONTENT -->

            <div class="step-navigation">

                <button mat-fab class="previous mat-accent fuse-white-fg"
                        (click)="gotoPreviousStep()"
                        [disabled]="currentStep === 0 || submitted || timerFinish || !questionAnswered"
                        [fxHide]="currentStep === 0 || timerFinish || true">
                    <mat-icon>chevron_left</mat-icon>
                </button>

                <!-- (click)="saveFinalAnswer({question: questionnaire.questions[currentStep].id, test: questionnaire.execution.id, answers: []}, 3, $event);" -->
                <button mat-fab class="next mat-accent fuse-white-fg"
                        (click)="gotoNextStep()"
                        [disabled]="currentStep === questionnaire.questions.length - 1 || submitted || timerFinish || !questionAnswered"
                        [fxHide]="currentStep === questionnaire.questions.length - 1 || timerFinish">
                    <mat-icon>chevron_right</mat-icon>
                </button>

                <button mat-fab class="done green-600"
                        (click)="submitExecution(questionnaire.execution)"
                        [disabled]="currentStep !== questionnaire.questions.length - 1 || submitted || timerFinish || !questionAnswered"
                        [fxShow]="currentStep === questionnaire.questions.length - 1 || timerFinish">
                    <mat-icon>check</mat-icon>
                </button>

            </div>
            <!-- / CONTENT CARD -->

        </div>
        <!-- / CENTER -->

    </div>

</div>
<router-outlet (window:unload)="saveExecutionOnExit()"></router-outlet>