<div id="login" fxLayout="column">

    <div id="login-form-wrapper" class="IE-FormCenterize" fxLayout="column" fxLayoutAlign="center center">

        <div id="login-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img [src]="appConfig.logo.medium_var1">
            </div>

            <div class="title">{{ 'AUTHENTICATION.LOGIN_TO_YOUR_ACCCOUNT' | translate }}</div>

            <!-- ALERT -->
            <alert *ngIf="!fuseConfig.layout.alert.hidden && fuseConfig.layout.alert.position === 'content'"></alert>
            <!-- / ALERT -->

            <form name="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>{{ 'AUTHENTICATION.USERNAME' | translate }}</mat-label>
                    <input matInput formControlName="username">
                    <mat-icon matSuffix class="secondary-text">person</mat-icon>
                    <mat-error *ngIf="loginForm.get('username').hasError('required')">
                        {{ 'AUTHENTICATION.ERROR.REQ_USERNAME' | translate }}
                    </mat-error>
                </mat-form-field>

                <!--<mat-form-field appearance="outline">
                    <mat-label>{{ 'AUTHENTICATION.EMAIL' | translate }}</mat-label>
                    <input matInput formControlName="email">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="loginForm.get('email').hasError('required')">
                        {{ 'AUTHENTICATION.ERROR.REQ_EMAIL' | translate }}
                    </mat-error>
                    <mat-error
                        *ngIf="!loginForm.get('email').hasError('required') &&
                                loginForm.get('email').hasError('email')">
                        {{ 'AUTHENTICATION.ERROR.VALID_EMAIL' | translate }}
                    </mat-error>
                </mat-form-field>-->

                <mat-form-field appearance="outline">
                    <mat-label>{{ 'AUTHENTICATION.PASSWORD' | translate }}</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        {{ 'AUTHENTICATION.ERROR.REQ_PASSWORD' | translate }}
                    </mat-error>
                </mat-form-field>

                <div class="remember-forgot-password" fxLayout="row" fxLayoutAlign="center">
                    <!--<mat-checkbox class="remember-me" aria-label="Remember Me">
                        {{ 'AUTHENTICATION.REMEMBER_ME' | translate }}
                    </mat-checkbox>-->

                    <a class="forgot-password" [routerLink]="'/auth/forgot-password'" queryParamsHandling="merge" *ngIf="!appConfig.appSettings.anonymousSite">
                        {{ 'AUTHENTICATION.FORGOT_PASSWORD' | translate }}
                    </a>
                </div>

                <button mat-raised-button color="primary" class="submit-button" aria-label="LOG IN"
                        [disabled]="loginForm.invalid || submitted">
                    {{ 'AUTHENTICATION.LOGIN' | translate }}
                </button>

            </form>

            <!--<div class="separator">
                <span class="text">{{ 'AUTHENTICATION.OR' | translate }}</span>
            </div>

            <button mat-raised-button class="google">
                {{ 'AUTHENTICATION.GOOGLE_LOGIN' | translate }}
            </button>

            <button mat-raised-button class="facebook">
                {{ 'AUTHENTICATION.FACEBOOK_LOGIN' | translate }}
            </button>-->

            <div class="register" fxLayout="column" fxLayoutAlign="center center" *ngIf="appConfig.appSettings.enableUserRegistration || (external && appConfig.appSettings.enableExternalUserRegistration)">
                <span class="text"> {{ 'AUTHENTICATION.DONT_HAVE_ACCOUNT' | translate }}</span>
                <a class="link" [routerLink]="'/auth/register' + (external ? '/external/' + jobId + '/' + jobSlug : '')">{{ 'AUTHENTICATION.CREATE_ACCOUNT' | translate }}</a>
            </div>

        </div>

    </div>

</div>
