<mat-toolbar>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>
        <div fxFlex="0 0 auto" fxLayout="row"
           fxLayoutAlign="start center">
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs>
            <a mat-button routerLink="/documentation/help">Help</a>
            <span>&bull;</span>
            <a mat-button routerLink="/support">Support</a>
        </div>

    </div>

</mat-toolbar>
