//
// Alerts
// --------------------------------------------------
$alert-padding: 0.75rem 1.25rem;
$line-height-computed: 1rem;
$alert-border-radius: 0.25rem;
$alert-link-font-weight: 700;
$alert-success-bg: #d4edda;
$alert-success-border: #c3e6cb;
$alert-success-text: #155724;
$alert-info-bg: #d1ecf1;
$alert-info-border: #bee5eb;
$alert-info-text: #0c5460;
$alert-warning-bg: #fff3cd;
$alert-warning-border: #ffeeba;
$alert-warning-text: #856404;
$alert-danger-bg: #f8d7da;
$alert-danger-border: #f5c6cb;
$alert-danger-text: #721c24;
$alert-primary-bg: #cce5ff;
$alert-primary-border: #b8daff;
$alert-primary-text: #004085;
$alert-secondary-bg: #e2e3e5;
$alert-secondary-border: #d6d8db;
$alert-secondary-text: #383d41;
$alert-dark-bg: #d6d8d9;
$alert-dark-border: #c6c8ca;
$alert-dark-text: #1b1e21;
$alert-light-bg: #fefefe;
$alert-light-border: #fdfdfe;
$alert-light-text: #818182;

// Base styles
// -------------------------

.alert {
    padding: $alert-padding;
    margin-bottom: $line-height-computed;
    border: 1px solid transparent;
    border-radius: $alert-border-radius;

    // Headings for larger alerts
    h4 {
        margin-top: 0;
        color: inherit; // Specified for the h4 to prevent conflicts of changing $headings-color
    }

    // Provide class for links that match alerts
    .alert-link {
        font-weight: $alert-link-font-weight;
    }

    // Improve alignment and spacing of inner content
    > p,
    > ul {
        margin-bottom: 0;
    }

    > p + p {
        margin-top: 5px;
    }
}

// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

// The misspelled .alert-dismissable was deprecated in 3.2.0.
.alert-dismissable,
.alert-dismissible {
    padding-right: ($alert-padding + 20);

    // Adjust close link position
    .close {
        position: relative;
        top: -2px;
        right: -21px;
        color: inherit;
    }
}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

.alert-success {
    @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
}

.alert-info {
    @include alert-variant($alert-info-bg, $alert-info-border, $alert-info-text);
}

.alert-warning {
    @include alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text);
}

.alert-danger {
    @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
}

.alert-primary {
    @include alert-variant($alert-primary-bg, $alert-primary-border, $alert-primary-text);
}

.alert-secondary {
    @include alert-variant($alert-secondary-bg, $alert-secondary-border, $alert-secondary-text);
}

.alert-dark {
    @include alert-variant($alert-dark-bg, $alert-dark-border, $alert-dark-text);
}

.alert-light {
    @include alert-variant($alert-light-bg, $alert-light-border, $alert-light-text);
}