<div id="candidate-knowledge-start" class="page-layout simple">

    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

        <div class="hero-text">
            <mat-icon class="hero-icon">filter_5</mat-icon>
            <h1 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                {{ 'CANDIDATE.SKILLS.START.WELCOME_TEXT' | translate }}
            </h1>
            <h3 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                {{ 'CANDIDATE.SKILLS.START.WELCOME_SUBTEXT' | translate }}
            </h3>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div class="cont" fxLayout="row wrap" fxLayoutAlign="center" [@animateStagger]="{value:'50'}">

            <p>
                {{ 'CANDIDATE.SKILLS.START.CONTENT_TEXT' | translate}}
            </p>
            <div class="p-16" fxLayout="row" fxLayoutAlign="center center">
                <button mat-flat-button color="primary" [routerLink]="'/candidate/personality'">{{ 'MAIN.BUTTON.BACK' | translate }}</button>
            </div>

            <div class="p-16" fxLayout="row" fxLayoutAlign="center center">
                <button mat-flat-button color="primary" [routerLink]="'/candidate/knowledge/questionnaire'">{{ 'MAIN.BUTTON.START' | translate }}</button>
            </div>
        </div>

    </div>
    <!-- / CONTENT -->

</div>
