<div id="candidate-profile" class="page-layout simple">

    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

        <div class="hero-text">
            <mat-icon class="hero-icon">person</mat-icon>
            <h1 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                {{ 'CANDIDATE.PROFILE.WELCOME_TEXT' | translate }}
            </h1>
            <h3 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                {{ 'CANDIDATE.PROFILE.WELCOME_SUBTEXT' | translate }}
            </h3>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-12">

        <div class="profile" fxLayout="row wrap" fxLayoutAlign="center" [@animateStagger]="{value:'50'}">
            <div class="first-row" [@animate]="{value:'*',params:{y:'100%'}}" fxLayout="row wrap" fxFlex="100">
                <div class="widget" fxFlex="100">
                    <!-- Profile Widget-->
                    <div class="fuse-card auto-width m-16" fxLayout="column">
                        <div class="p-16">
                            <div class="text-center">
                                <mat-icon class="mat-display-4 w-112">person</mat-icon>
                            </div>
                            <div class="h1 text-center" fxLayout="row"
                                 fxLayoutAlign="center center">{{ 'CANDIDATE.DASHBOARD.PROFILE.TITLE' | translate }}</div>
                        </div>
                        <div fxLayout="column" fxFlex="100" fxLayoutAlign="start" fxLayout.gt-sm="row wrap" fxLayoutAlign.gt-sm="space-between start" class="p-16">
                            <div class="h3 text-center" fxFlex="100" fxFlex.gt-sm="33">
                                <div class="avatar-container px-16"><img class="avatar w-150 h-150" src="assets/images/avatars/profile.jpg"></div>
                            </div>
                            <div class="h3 text-center" fxFlex="100" fxFlex.gt-sm="33">
                                <div class="profile-name font-size-24 line-height-24 p-16">{{ currentUser.firstName }} {{ currentUser.lastName }}</div>
                                <div class="profile-email font-size-24 line-height-24 secondary-text p-16">{{ profile  ? profile.directorate : 'NA' }}</div>
                            </div>
                            <div class="" fxFlex="100" fxFlex.gt-sm="33">
                                <div class="profile-contact-details">
                                    <div class="profile-enterprise font-size-16 line-height-16 p-8"><mat-icon>location_city</mat-icon> {{ profile  ? profile.enterprise : 'NA'}}</div>
                                    <div class="profile-city font-size-16 line-height-16 p-8"><mat-icon>location_on</mat-icon> {{ profile  ? profile.city : 'NA' }}</div>
                                    <div class="profile-phone font-size-16 line-height-16 p-8"><mat-icon>smartphone</mat-icon>{{ profile  ? profile.telephone : 'NA' }}</div>
                                    <div class="profile-email font-size-16 line-height-16 p-8"><mat-icon>email</mat-icon> {{ profile  ? profile.email : 'NA' }}</div>
                                    <!--<div class="profile-linkedin font-size-16 line-height-16 p-8"><mat-icon>link</mat-icon> {{ currentUser.profile ? currentUser.profile.linkendin : 'linkedIn' }}</div>-->
                                </div>
                            </div>

                            <div class="p-16" fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
                                <button mat-flat-button [routerLink]="'/auth/change-password'" [queryParams]="{returnUrl: '/candidate/profile'}" color="primary">{{ 'MAIN.BUTTON.CHANGE_PASSWORD' | translate }}</button>
                            </div>

                        </div>

                        <div class="card-divider" *ngIf="currentUser.groups.indexOf(groupCandidate) !== -1"></div>

                        <!-- Experience Widget-->
                        <div class="p-16" fxLayout="column" fxLayoutAlign="center center" *ngIf="currentUser.groups.indexOf(groupCandidate) !== -1">
                            <div class="h1 text-center" fxLayout="row" fxLayoutAlign="center center">{{ 'CANDIDATE.DASHBOARD.EXPERIENCE.TITLE' | translate }}</div>
                            <div *ngIf="!experience" class="p-16 h3 text-center">
                                {{ 'CANDIDATE.DASHBOARD.NONE_YET' | translate }}
                            </div>

                            <div *ngIf="experience" class="p-16 w-100-p" fxLayout="row wrap" fxLayoutAlign="space-around">
                                <div fxLayout="column" fxLayoutAlign="center center" class="p-16">
                                    <div class="indigo-fg font-size-72 line-height-72 text-center"> {{ experience.years < 1 ? '<1' : experience.years }} </div>
                                    <div class="h3 secondary-text font-weight-500 text-center">{{ 'CANDIDATE.DASHBOARD.EXPERIENCE.YEARS' | translate }}</div>
                                </div>
                                <div fxLayout="column" fxLayoutAlign="center center" class="p-16">
                                    <div class="light-blue-fg font-size-72 line-height-72 text-center"> {{ experience.companies }} </div>
                                    <div class="h3 secondary-text font-weight-500 text-center">{{ 'CANDIDATE.DASHBOARD.EXPERIENCE.COMPANIES' | translate }}</div>
                                </div>
                            </div>

                            <div *ngIf="experience" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row wrap" fxLayoutAlign.gt-sm="center start" class="w-100-p px-24 flex-item">
                                <mat-table [dataSource]="experience.table" class="experience-table w-100-p">

                                    <!-- From Column -->
                                    <ng-container matColumnDef="working_from">
                                        <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef>{{ 'MAIN.COLUMN.FROM' | translate }}</mat-header-cell>
                                        <mat-cell fxLayoutAlign="center center" *matCellDef="let experience"> {{experience.working_from | date : 'dd/MM/yyyy'}} </mat-cell>
                                    </ng-container>

                                    <!-- To Column -->
                                    <ng-container matColumnDef="working_to">
                                        <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef>{{ 'MAIN.COLUMN.TO' | translate }}</mat-header-cell>
                                        <mat-cell fxLayoutAlign="center center" *matCellDef="let experience"> {{experience.working_to | date : 'dd/MM/yyyy'}} </mat-cell>
                                    </ng-container>

                                    <!-- Position Column -->
                                    <ng-container matColumnDef="title">
                                        <mat-header-cell *matHeaderCellDef>{{ 'MAIN.COLUMN.POSITION' | translate }}</mat-header-cell>
                                        <mat-cell *matCellDef="let experience"> {{experience.title}} </mat-cell>
                                    </ng-container>

                                    <!-- Company Column -->
                                    <ng-container matColumnDef="enterprise">
                                        <mat-header-cell *matHeaderCellDef>{{ 'MAIN.COLUMN.COMPANY' | translate }}</mat-header-cell>
                                        <mat-cell *matCellDef="let experience"> {{experience.enterprise}} </mat-cell>
                                    </ng-container>

                                    <!-- Actions Column -->
                                    <ng-container matColumnDef="actions">
                                        <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef>{{ 'MAIN.COLUMN.ACTIONS' | translate }}</mat-header-cell>
                                        <mat-cell fxLayout="row" fxLayoutAlign="end center" *matCellDef="let experience">
                                            <button mat-icon-button color="primary" [routerLink]="'/candidate/experience/detail/' + experience.id">
                                                <mat-icon class="action-icon" title="{{ 'MAIN.BUTTON.VIEW' | translate }}">remove_red_eyes</mat-icon>
                                            </button>
                                            <button mat-icon-button color="primary" [routerLink]="'/candidate/experience/editor/' + experience.id">
                                                <mat-icon class="action-icon" title="{{ 'MAIN.BUTTON.EDIT' | translate }}">edit</mat-icon>
                                            </button>
                                            <button mat-icon-button color="primary" (click)="deleteExperience(experience.id)">
                                                <mat-icon class="action-icon" title="{{ 'MAIN.BUTTON.DELETE' | translate }}">delete</mat-icon>
                                            </button>
                                        </mat-cell>
                                    </ng-container>

                                    <mat-header-row *matHeaderRowDef="experienceDisplayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: experienceDisplayedColumns;"></mat-row>
                                </mat-table>
                            </div>

                            <div class="p-16" fxLayout="row" fxLayoutAlign="center center">
                                <button mat-flat-button [routerLink]="'/candidate/experience/editor/0'" color="primary" *ngIf="!notificationsBadges.experience">{{ 'MAIN.BUTTON.ADD_EXPERIENCE' | translate }}</button>
                                <button mat-flat-button [routerLink]="'/candidate/experience/editor/0'" color="primary" *ngIf="notificationsBadges.experience == 'red'" matBadge="!!" matBadgePosition="after" matBadgeColor="warn">{{ 'MAIN.BUTTON.ADD_EXPERIENCE' | translate }}</button>
                                <button mat-flat-button [routerLink]="'/candidate/experience/editor/0'" color="primary" *ngIf="notificationsBadges.experience == 'yellow'" matBadge="!!" matBadgePosition="after" matBadgeColor="amber">{{ 'MAIN.BUTTON.FINISH_EXPERIENCE' | translate }}</button>
                            </div>
                        </div>
                        <!-- / Experience Widget -->

                        <!--<div class="p-16" fxLayout="row" fxLayoutAlign="center center">
                            <button mat-flat-button [routerLink]="'/candidate/profile/edit'" color="primary" disabled>{{ 'MAIN.BUTTON.EDIT_PROFILE' | translate }}</button>
                        </div>-->
                    </div>
                    <!-- / Profile Widget -->

                </div>
            </div>
        </div>

    </div>
    <!-- / CONTENT -->

</div>
