<div class="page-layout blank" id="candidate-dashboard">
    <div class="content">

        <div class="left" fxLayout="column" fxLayoutAlign="start">

            <!--<div class="first-row" [@animate]="{value:'*',params:{y:'100%'}}">
                &lt;!&ndash; Profile Widget&ndash;&gt;
                <div class="widget" fxFlex="100">
                    <div class="fuse-card auto-width m-16" fxLayout="column">
                        <div class="p-16">
                            <div class="text-center">
                                <mat-icon class="mat-display-4 w-112">person</mat-icon>
                            </div>
                            <div class="h1 text-center" fxLayout="row"
                                 fxLayoutAlign="center center">{{ 'CANDIDATE.DASHBOARD.PROFILE.TITLE' | translate }}</div>
                        </div>
                        <div fxLayout="column" fxFlex="100" fxLayoutAlign="start" fxLayout.gt-sm="row wrap" fxLayoutAlign.gt-sm="space-between start" class="p-16">
                            <div class="h3 text-center" fxFlex="100" fxFlex.gt-sm="33">
                                <div class="avatar-container px-16"><img class="avatar w-150 h-150" src="assets/images/avatars/profile.jpg"></div>
                            </div>
                            <div class="h3 text-center" fxFlex="100" fxFlex.gt-sm="33">
                                <div class="profile-name font-size-24 line-height-24 p-16">{{ currentUser.firstName }} {{ currentUser.lastName }}</div>
                                <div class="profile-email font-size-24 line-height-24 secondary-text p-16">{{ currentUser.profile ? currentUser.profile.position : 'Especialista en Marketing' }}</div>
                            </div>
                            <div class="" fxFlex="100" fxFlex.gt-sm="33">
                                <div class="profile-contact-details">
                                    <div class="profile-city font-size-16 line-height-16 p-8"><mat-icon>location_on</mat-icon> {{ currentUser.profile ? currentUser.profile.city : 'Madrid' }}</div>
                                    <div class="profile-phone font-size-16 line-height-16 p-8"><mat-icon>smartphone</mat-icon>{{ currentUser.profile ? currentUser.profile.phone : '+34 689 789 996' }}</div>
                                    <div class="profile-email font-size-16 line-height-16 p-8"><mat-icon>email</mat-icon> {{ currentUser.email }}</div>
                                    <div class="profile-linkedin font-size-16 line-height-16 p-8"><mat-icon>link</mat-icon> {{ currentUser.profile ? currentUser.profile.linkendin : 'linkedIn' }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="p-16" fxLayout="row" fxLayoutAlign="center center">
                            <button mat-flat-button [routerLink]="'/candidate/profile'" color="primary">{{ 'MAIN.BUTTON.VIEW_PROFILE' | translate }}</button>
                        </div>
                    </div>
                </div>
                &lt;!&ndash; / Profile Widget &ndash;&gt;
            </div>-->

            <div class="second-row" [@animate]="{value:'*',params:{y:'100%'}}">
                <!-- Personality Widget-->
                <div class="widget personality" fxFlex="100">
                    <div class="fuse-card auto-width m-16" fxLayout="column nowrap">
                        <div class="p-16 IE-FlexAuto" fxFlex="100">
                            <div class="text-center">
                                <mat-icon class="mat-display-4 w-112">insert_emoticon</mat-icon>
                            </div>
                            <div class="h1 text-center">{{ 'CANDIDATE.DASHBOARD.PERSONALITY.TITLE' | translate }}</div>
                        </div>
                        <div class="dfx-wrapper IE-FlexAuto" [ngClass.lt-sm]="'IE-FlexNone'" fxFlex="100" fxLayout="column" fxLayout.gt-xs="row wrap" fxLayoutAlign.gt-xs="center stretch" fxLayoutAlign="start">
                            <ng-template [ngIf]="personality" [ngIfElse]="noPersonality">
                                <div class="p-12" [ngClass.lt-sm]="'w-100-p'" *ngFor="let trait of personality | keys" fxLayout="column wrap" fxFlex="20" fxFlex.lt-lg="33" fxFlex.lt-md="50" fxFlex.lt-sm="100" [@animate]="{value:'*',params:{y:'100%'}}">
                                    <div class="dfx-chart-wrapper"><div class="chart" [chart]="widgets['personality'][trait.key]" *ngIf="widgets['personality']"></div></div>
                                    <div class="description text-uppercase" fxLayout="row wrap" fxLayoutAlign="space-between">
                                        <div class="w-50-p text-right pr-4 " [ngClass]="trait.value.punctuation < 0 ? '' : 'hint-text'" [innerHTML]="'MAIN.TRAITS.' + trait.value.skill.description.toUpperCase() + '.EXCERPT.BAD' | translate"></div>
                                        <div class="w-50-p text-left pl-4" [ngClass]="trait.value.punctuation > 0 ? '' : 'hint-text'" [innerHTML]="'MAIN.TRAITS.' + trait.value.skill.description.toUpperCase() + '.EXCERPT.GOOD' | translate"></div>
                                    </div>
                                </div>
                            </ng-template>

                            <ng-template #noPersonality>
                                <div class="no-personality">
                                    <div class="h1" fxLayout="row"
                                         fxLayoutAlign="center center">{{ 'MAIN.NOTHING_HERE' | translate }}</div>
                                </div>
                            </ng-template>
                        </div>
                        <div class="p-16 text-center IE-FlexAuto" fxFlex="100" fxLayout="row" fxLayoutAlign="center start">
                            <button mat-flat-button [routerLink]="'/candidate/big5/start'" color="primary" *ngIf="!notificationsBadges.personality && !personality">{{ 'MAIN.BUTTON.PASS_TEST' | translate }}</button>
                            <button mat-flat-button [routerLink]="'/candidate/big5/start'" color="primary" *ngIf="!notificationsBadges.personality && personality">{{ 'MAIN.BUTTON.REPEAT_TEST' | translate }}</button>
                            <button mat-flat-button [routerLink]="'/candidate/big5/start'" color="primary" *ngIf="notificationsBadges.personality === 'red'" matBadge="1" matBadgePosition="after" matBadgeColor="warn">{{ 'MAIN.BUTTON.PASS_TEST' | translate }}</button>
                            <button mat-flat-button [routerLink]="'/candidate/big5/start'" color="primary" *ngIf="notificationsBadges.personality === 'yellow'" matBadge="1" matBadgePosition="after" matBadgeColor="amber">{{ 'MAIN.BUTTON.FINISH_TEST' | translate }}</button>
                        </div>
                    </div>
                </div>
                <!-- / Personality Widget -->
            </div>

            <div class="third-row" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row wrap" fxLayoutAlign.gt-xs="stretch" [@animate]="{value:'*',params:{y:'100%'}}">
                <!-- Skills Widget-->
                <div class="widget IE-FlexAuto" fxFlex="100" fxFlex.gt-xs="50" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="center stretch">

                    <div class="fuse-card auto-width m-16 IE-FlexAuto IE-FlexNone" fxFlex.gt-xs="100" fxFlex="auto" fxLayout="column wrap" fxLayoutAlign="space-between center">

                        <div class="p-16">
                            <div class="text-center">
                                <mat-icon class="mat-display-4 w-112">verified_user</mat-icon>
                            </div>
                            <div class="h1 text-center" fxLayout="row"
                                 fxLayoutAlign="center center">{{ 'CANDIDATE.DASHBOARD.SKILLS.TITLE' | translate }}</div>
                        </div>

                        <div *ngIf="!skills" class="p-16 h3 text-center">
                            {{ 'CANDIDATE.DASHBOARD.NONE_YET' | translate }}
                        </div>

                        <div *ngIf="skills" fxLayout="column wrap" fxLayoutAlign="start center" fxLayoutAlign.gt-xs="center" fxLayout.gt-xs="row wrap" class="w-100-p IE-FlexNoneCenter">
                            <div class="mini-box" *ngFor="let skill of skills" fxLayout="column" fxLayoutAlign="space-between center">
                                <div fxLayout="row" fxLayoutAlign="center center">
                                    <img src="{{skill.image}}" class="img mr-24" default="https://png.pngtree.com/svg/20161108/python_933400.png" width="70px">
                                    <!--<span class="light-blue-fg font-size-72 line-height-72">
                                        {{ know.punctuation }}
                                    </span>
                                    <span class="font-size-48 font-weight-300 hint-text text-super ml-8">/</span>
                                    <span class="mat-display-2 mb-0 font-weight-300 hint-text ng-binding">{{ know.maximum }}</span>-->
                                </div>
                                <div class="h4 text-center w-100-p" fxLayout="row" fxLayoutAlign="center">
                                    <a [routerLink]="'/candidate/' + (skill.subtype && skill.subtype === 1 ? 'skills' : 'expertise') + '/result/' + skill.id + '/' + (skill.title | slugify)">{{skill.title}}</a>
                                </div>
                            </div>
                            <!--<ng-container *ngFor="let skill of skills">
                                <div fxLayout="column" fxLayoutAlign="center center" class="p-16" *ngIf="+skill.skill.id === 1" title="{{ skill.skill.title }}">
                                    <div class="font-size-72 line-height-72 text-center" colorByValue="{{skill.punctuation}}" maxValue="{{ skill.maximum }}"> {{ skill.punctuation }} </div>
                                    <div class="h3 secondary-text font-weight-500 text-center">{{ skill.skill.description }}</div>
                                </div>
                            </ng-container>
                            <div fxLayout="row" fxLayoutAlign="start">
                                <ng-container *ngFor="let skill of skills">
                                    <div class="p-16" *ngIf="+skill.skill.id === 2" title="{{ skill.skill.title }}">
                                        <div class="font-size-36 line-height-36 text-center" colorByValue="{{skill.punctuation}}" maxValue="{{ skill.maximum }}"> {{ skill.punctuation }} </div>
                                        <div class="h3 secondary-text font-weight-500 text-center">{{ skill.skill.description }}</div>
                                    </div>
                                    <div class="p-16"  *ngIf="+skill.skill.id === 3" title="{{ skill.skill.title }}">
                                        <div class="font-size-36 line-height-36 text-center" colorByValue="{{skill.punctuation}}" maxValue="{{ skill.maximum }}"> {{ skill.punctuation }} </div>
                                        <div class="h3 secondary-text font-weight-500 text-center">{{ skill.skill.description }}</div>
                                    </div>
                                </ng-container>
                            </div>-->
                        </div>

                        <div class="p-16 IE-ClearBoth" fxLayout="row" fxLayoutAlign="center center">
                            <button mat-flat-button [routerLink]="'/candidate/expertise'" color="primary" *ngIf="!notificationsBadges.skills && !skills">{{ 'MAIN.BUTTON.ADD_SKILL' | translate }}</button>
                            <button mat-flat-button [routerLink]="'/candidate/expertise'" color="primary" *ngIf="!notificationsBadges.skills && skills">{{ 'MAIN.BUTTON.ADD_SKILL' | translate }}</button>
                            <button mat-flat-button [routerLink]="'/candidate/expertise'" color="primary" *ngIf="notificationsBadges.skills === 'red'" matBadge="1" matBadgePosition="after" matBadgeColor="warn">{{ 'MAIN.BUTTON.ADD_SKILL' | translate }}</button>
                            <button mat-flat-button [routerLink]="'/candidate/expertise'" color="primary" *ngIf="notificationsBadges.skills === 'yellow'" matBadge="1" matBadgePosition="after" matBadgeColor="amber">{{ 'MAIN.BUTTON.FINISH_SKILL' | translate }}</button>
                        </div>

                    </div>

                </div>
                <!-- / Skills Widget -->

                <!-- Knowledge Widget-->
                <div class="widget IE-FlexAuto" fxFlex="100" fxFlex.gt-xs="50" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="center stretch">

                    <div class="fuse-card auto-width m-16 IE-FlexAuto IE-FlexNone" fxFlex.gt-xs="100" fxFlex="auto" fxLayout="column wrap" fxLayoutAlign="space-between center">

                        <div class="p-16">
                            <div class="text-center">
                                <mat-icon class="mat-display-4 w-112">school</mat-icon>
                            </div>
                            <div class="h1 text-center" fxLayout="row"
                                 fxLayoutAlign="center center">{{ 'CANDIDATE.DASHBOARD.KNOWLEDGE.TITLE' | translate }}</div>
                        </div>

                        <div *ngIf="!knowledge" class="p-16 h3 text-center">
                            {{ 'CANDIDATE.DASHBOARD.NONE_YET' | translate }}
                        </div>

                        <div *ngIf="knowledge" fxLayout="column wrap" fxLayoutAlign="start center" fxLayoutAlign.gt-xs="center" fxLayout.gt-xs="row wrap" class="w-100-p IE-FlexNoneCenter">

                            <div class="mini-box" *ngFor="let know of knowledge" fxLayout="column" fxLayoutAlign="space-between center">
                                <div fxLayout="row" fxLayoutAlign="center center">
                                    <img src="{{know.image}}" class="img mr-24" default="https://png.pngtree.com/svg/20161108/python_933400.png" width="70px">
                                    <!--<span class="light-blue-fg font-size-72 line-height-72">
                                        {{ know.punctuation }}
                                    </span>
                                    <span class="font-size-48 font-weight-300 hint-text text-super ml-8">/</span>
                                    <span class="mat-display-2 mb-0 font-weight-300 hint-text ng-binding">{{ know.maximum }}</span>-->
                                </div>
                                <div class="h4 text-center w-100-p" fxLayout="row" fxLayoutAlign="center">
                                    {{know.title}}
                                </div>
                            </div>

                        </div>

                        <div class="p-16 IE-ClearBoth" fxLayout="row" fxLayoutAlign="center center">
                            <button mat-flat-button [routerLink]="'/candidate/knowledge'" color="primary" *ngIf="!notificationsBadges.knowledge">{{ 'MAIN.BUTTON.ADD_KNOWLEDGE' | translate }}</button>
                            <button mat-flat-button [routerLink]="'/candidate/knowledge'" color="primary" *ngIf="notificationsBadges.knowledge === 'red'" matBadge="{{notificationsBadges.knowledge_todo}}" matBadgePosition="after" matBadgeColor="warn">{{ 'MAIN.BUTTON.ADD_KNOWLEDGE' | translate }}</button>
                            <button mat-flat-button [routerLink]="'/candidate/knowledge'" color="primary" *ngIf="notificationsBadges.knowledge === 'yellow'" matBadge="{{notificationsBadges.knowledge_todo}}" matBadgePosition="after" matBadgeColor="amber">{{ 'MAIN.BUTTON.FINISH_KNOWLEDGE' | translate }}</button>
                        </div>

                    </div>

                </div>
                <!-- / Knowledge Widget -->

                <!-- Role Widget-->
                <!--<div class="widget IE-FlexAuto" fxFlex="100" fxFlex.gt-sm="50" fxLayout="row" fxLayoutAlign="center stretch">

                    <div class="fuse-card auto-width m-16 IE-FlexAuto" fxFlex="100" fxLayout="column wrap" fxLayoutAlign="space-between center">

                        <div class="p-16">
                            <div class="text-center">
                                <mat-icon class="mat-display-4 w-112">person_pin_circle</mat-icon>
                            </div>
                            <div class="h1 text-center" fxLayout="row"
                                 fxLayoutAlign="center center">{{ 'CANDIDATE.DASHBOARD.ROLES.TITLE' | translate }}</div>
                        </div>

                        <div *ngIf="!role" class="p-16 h3 text-center">
                            {{ 'CANDIDATE.DASHBOARD.NONE_YET' | translate }}
                        </div>
                        <div *ngIf="role" fxLayout="column" fxLayoutAlign="center center" class="roles">
                            <div fxLayout="column" fxLayoutAlign="center center" class="p-16">
                                <ng-container *ngIf="widgets['role']">
                                    <div [chart]="widgets['role']" class="chart"></div>
                                </ng-container>
                                &lt;!&ndash;<div><span colorByValue="{{role.assessed[0].punctuation}}" maxValue="{{role.assessed[0].maximum}}" class="font-size-60 line-height-60 text-center">{{role.assessed[0].punctuation}}</span><span class=""> / {{role.assessed[0].maximum}}</span></div>&ndash;&gt;
                                &lt;!&ndash;<div class="h3 secondary-text font-weight-500 text-center">{{ role.test.title }}</div>&ndash;&gt;
                            </div>
                        </div>

                        <div class="p-16" fxLayout="row" fxLayoutAlign="center center">
                            <button mat-flat-button [routerLink]="'/candidate/roles'" color="primary" *ngIf="!notificationsBadges.role">{{ 'MAIN.BUTTON.ADD_ROLE' | translate }}</button>
                            <button mat-flat-button [routerLink]="'/candidate/roles'" color="primary" *ngIf="notificationsBadges.role === 'red'" matBadge="{{notificationsBadges.role_todo}}" matBadgePosition="after" matBadgeColor="warn">{{ 'MAIN.BUTTON.ADD_ROLE' | translate }}</button>
                            <button mat-flat-button [routerLink]="'/candidate/roles'" color="primary" *ngIf="notificationsBadges.role === 'yellow'" matBadge="{{notificationsBadges.role_todo}}" matBadgePosition="after" matBadgeColor="amber">{{ 'MAIN.BUTTON.FINISH_ROLE' | translate }}</button>
                        </div>

                    </div>

                </div>-->
                <!-- / Role Widget -->

                <!-- Experience Widget-->
                <!--<div class="widget IE-FlexAuto" fxFlex="100" fxFlex.gt-sm="33" fxLayout="row" fxLayoutAlign="center stretch">

                    <div class="fuse-card auto-width m-16 IE-FlexAuto" fxFlex="100" fxLayout="column wrap" fxLayoutAlign="space-between center">

                        <div class="p-16">
                            <div class="text-center">
                                <mat-icon class="mat-display-4 w-112">list_alt</mat-icon>
                            </div>
                            <div class="h1 text-center" fxLayout="row"
                                 fxLayoutAlign="center center">{{ 'CANDIDATE.DASHBOARD.EXPERIENCE.TITLE' | translate }}</div>
                        </div>

                        <div *ngIf="!experience" class="p-16 h3 text-center">
                            {{ 'CANDIDATE.DASHBOARD.NONE_YET' | translate }}
                        </div>

                        <div *ngIf="experience" class="h-200" fxLayout="column" fxLayoutAlign="center center">
                            <div fxLayout="column" fxLayoutAlign="center center" class="p-16">
                                <div class="indigo-fg font-size-72 line-height-72 text-center"> {{ experience.years }} </div>
                                <div class="h3 secondary-text font-weight-500 text-center">{{ 'CANDIDATE.DASHBOARD.EXPERIENCE.YEARS' | translate }}</div>
                            </div>
                            <div fxLayout="column" fxLayoutAlign="center center" class="p-16">
                                <div class="light-blue-fg font-size-36 line-height-36 text-center"> {{ experience.companies }} </div>
                                <div class="h3 secondary-text font-weight-500 text-center">{{ 'CANDIDATE.DASHBOARD.EXPERIENCE.COMPANIES' | translate }}</div>
                            </div>
                        </div>

                        <div class="p-16" fxLayout="row" fxLayoutAlign="center center">
                            <button mat-flat-button [routerLink]="'/candidate/experience'" color="primary" *ngIf="!notificationsBadges.experience">{{ 'MAIN.BUTTON.ADD_EXPERIENCE' | translate }}</button>
                            <button mat-flat-button [routerLink]="'/candidate/experience'" color="primary" *ngIf="notificationsBadges.experience == 'red'" matBadge="1" matBadgePosition="after" matBadgeColor="warn">{{ 'MAIN.BUTTON.ADD_EXPERIENCE' | translate }}</button>
                            <button mat-flat-button [routerLink]="'/candidate/experience'" color="primary" *ngIf="notificationsBadges.experience == 'yellow'" matBadge="1" matBadgePosition="after" matBadgeColor="amber">{{ 'MAIN.BUTTON.FINISH_EXPERIENCE' | translate }}</button>
                        </div>

                    </div>

                </div>-->
                <!-- / Experience Widget -->

            </div>

            <div *ngIf="!appConfig.appSettings.externalSite && currentUser.groups.indexOf(groupCandidate) !== -1" class="fourth-row" fxLayout="column wrap" fxLayoutAlign="start" fxLayout.gt-xs="row wrap" fxLayoutAlign.gt-xs="center" [@animate]="{value:'*',params:{y:'100%'}}">
                <!-- Jobs Widget-->
                <div class="widget IE-FlexAuto IE-FlexNone" fxFlex="100" fxLayout="row" fxLayoutAlign="center stretch">

                    <div class="fuse-card auto-width m-16 IE-FlexAuto" fxFlex="100" fxLayout="column" fxLayoutAlign="space-between center">

                        <div class="p-16">
                            <div class="text-center">
                                <mat-icon class="mat-display-4 w-112">business_center</mat-icon>
                            </div>
                            <div class="h1 text-center w-100-p" fxLayout="row"
                                 fxLayoutAlign="center center">{{ 'CANDIDATE.DASHBOARD.JOBS.TITLE' | translate }}</div>
                        </div>

                        <div *ngIf="!jobs" class="p-16 h3 text-center">
                            {{ 'CANDIDATE.DASHBOARD.NONE_YET' | translate }}
                        </div>

                        <div *ngIf="jobs" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row wrap" fxLayoutAlign.gt-sm="space-around start" class="IE-FlexNoneCenter">
                            <div class="mini-box" *ngFor="let job of jobs" fxLayout="column" fxLayoutAlign="space-between center">
                                <div fxLayout="column" fxLayoutAlign="start center" class="p-16 h-150">
                                    <img src="{{job.image}}" class="img mr-24" default="https://png.pngtree.com/svg/20161108/python_933400.png" width="50px">
                                    <div class="font-size-24 line-height-24 text-center"> {{ job.title }} </div>
                                    <div class="status" *ngIf="job.applications.length > 0"><button class="mat-flat-button status-{{ application.status }}" *ngFor="let application of job.applications">{{ 'MAIN.JOB_APPLICATION_STATUS.' + application.status | translate}}</button></div>
                                    <!--<div class="h3 secondary-text font-weight-500 text-center">{{ 'CANDIDATE.DASHBOARD.JOBS.DATE_APPLIED' | translate }} {{ job.date_applied }}</div>
                                    <button class="mat-flat-button {{ job.class }}">{{ job.status }}</button>-->
                                </div>
                            </div>
                        </div>

                        <div class="p-16 IE-ClearBoth" fxLayout="row" fxLayoutAlign="center center">
                            <button mat-flat-button [routerLink]="'/candidate/jobs'" color="primary" *ngIf="!notificationsBadges.jobs">{{ 'MAIN.BUTTON.APPLY_TO_JOB' | translate }}</button>
                            <button mat-flat-button [routerLink]="'/candidate/jobs'" color="primary" *ngIf="notificationsBadges.jobs === 'red'" matBadge="1" matBadgePosition="after" matBadgeColor="warn">{{ 'MAIN.BUTTON.APPLY_TO_JOB' | translate }}</button>
                            <button mat-flat-button [routerLink]="'/candidate/jobs'" color="primary" *ngIf="notificationsBadges.jobs === 'yellow'" matBadge="1" matBadgePosition="after" matBadgeColor="amber">{{ 'MAIN.BUTTON.APPLY_TO_JOB' | translate }}</button>
                        </div>

                    </div>

                </div>
                <!-- / Jobs Widget -->
            </div>

        </div>

    </div>

</div>
