@import "src/@fuse/scss/fuse";

#candidate-dashboard{

    .main-widget {
        display: flex;
        flex-direction: column;
    }

    .first-row {
        .avatar {
            min-width: 150px !important;
            min-height: 150px !important;
        }
        .profile-contact-details {
            width: fit-content;
            max-width: 100%;
            margin: auto;
            > div > mat-icon {
                vertical-align: middle;
            }
        }

    }

    .second-row {
        .widget {
            max-width: none;

            .dfx-wrapper {
                mat-card-title {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }

    .content {
        display: flex;
        flex: 1 1 auto;
        padding: 16px;
        min-width: 0;

        @include media-breakpoint('lt-lg') {
            flex-direction: column;
        }

        .left {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            min-width: 0;

            .widget {
                flex: 1 1 auto;
                min-width: 0;
            }
        }

        .right {
            display: flex;
            flex: 0 0 auto;
            width: 320px;
            min-width: 320px;
            max-width: 320px;

            @include media-breakpoint('lt-lg') {
                flex: 1 0 100%;
                margin-top: 32px;
                width: 100%;
                min-width: 0;
                max-width: none;
            }

            .fuse-card {

                @include media-breakpoint('lt-lg') {
                    width: 100%;
                    min-width: 0;
                    max-width: none;
                }
            }
        }
    }

    .mini-box {
        border: 1px solid;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        border-color: rgba(0, 0, 0, 0.12);
        width: 150px !important;
        height: 150px !important;
        padding: 8px;
        margin: 8px;
    }

}
