<div class="page-layout blank p-24" fusePerfectScrollbar>

    <h2>Traits Page</h2>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur, magna eget bibendum dapibus, velit quam consequat tortor, id pharetra ipsum massa nec odio. Donec nec libero ultricies, volutpat quam a, vestibulum leo. Phasellus condimentum et urna ac lacinia. Quisque facilisis nisi arcu, sit amet accumsan augue vulputate sit amet. Donec non odio vitae justo molestie congue venenatis at ex. Nam in purus purus. Duis quis luctus tortor. In posuere quam nec urna vulputate tempus. Aliquam blandit odio lorem, eu ultricies tellus condimentum non. Morbi consequat arcu eget massa sodales, at placerat velit varius. Quisque condimentum imperdiet felis ut cursus. In non lorem augue.

    Donec aliquam felis eget imperdiet aliquam. Nunc neque sapien, congue quis purus at, pulvinar interdum urna. Mauris in purus ut risus placerat pellentesque. Quisque rhoncus nulla sed neque mollis, vitae ornare quam hendrerit. Aenean in augue nibh. In eu velit nisi. Morbi egestas velit dui, non laoreet est aliquet et. Morbi erat odio, porttitor at gravida non, rhoncus a turpis. Integer et quam dui. Quisque velit diam, suscipit quis facilisis nec, auctor vitae tortor. Suspendisse aliquam nibh vitae pharetra lobortis.

    Suspendisse placerat venenatis libero at tristique. Vivamus at dignissim erat. Fusce ipsum turpis, aliquet et placerat sit amet, fringilla tincidunt odio. Vestibulum pulvinar, felis a maximus sodales, nisi lorem blandit eros, et porta nunc sem eget tellus. Maecenas non metus facilisis, congue felis at, sollicitudin leo. Nam a mauris vel massa bibendum volutpat. Fusce lobortis convallis libero.

    Duis auctor lorem congue nisl tempor porttitor. Vestibulum rutrum sed nunc nec blandit. Nunc fermentum, quam eu vulputate dictum, dui elit ullamcorper elit, ut faucibus massa leo eget mauris. Donec a mattis libero. Vivamus egestas mauris at tellus volutpat, nec vehicula lorem vestibulum. Etiam at dapibus risus. Integer maximus ex mi, et iaculis ipsum aliquet ac. Mauris venenatis nulla ac erat rutrum viverra. Suspendisse lobortis faucibus congue. Curabitur vehicula mauris leo, et rhoncus lorem rutrum eu.

    Cras elit lectus, egestas at metus sit amet, pellentesque efficitur nunc. Curabitur quis augue quis lectus laoreet ultrices id sed sem. Vestibulum vitae magna a dui fringilla viverra non ut odio. Ut eget ligula pellentesque, malesuada nisi sit amet, condimentum erat. Sed nec pulvinar dui, pretium fringilla dolor. Praesent nec sapien magna. Fusce vulputate, nulla in vehicula tempor, dui sem vehicula purus, sit amet imperdiet nisl odio et augue. Integer felis velit, mattis euismod facilisis vitae, tincidunt quis mi. Integer nec lectus elementum, tincidunt sem vel, imperdiet lacus. Vestibulum at nulla rhoncus, pellentesque libero in, lacinia leo. In vitae semper odio, lobortis congue nulla. Suspendisse potenti.

    <div class="" fxLayout="row" fxLayoutAlign="center center">
        <div class="p-16" fxLayout="row" fxLayoutAlign="center center">
            <button mat-flat-button color="primary"
                    [routerLink]="'/candidate/dashboard'">{{ 'MAIN.BUTTON.BACK_TO_DASH' | translate }}</button>
        </div>
    </div>


</div>
