<div id="candidate-experience-editor" class="page-layout simple left-sidebar">

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="mr-16" [routerLink]="'/candidate/profile'">
                <mat-icon>arrow_back</mat-icon>
            </button>

            <div>
                <h2>
                    <h2 *ngIf="experience.title && experience.title != ''; else titleNew">{{experience.title}}</h2>
                    <ng-template #titleNew><h2>{{'CANDIDATE.EXPERIENCE.EDITOR.NEW_EXPERIENCE' | translate}}</h2></ng-template>
                </h2>
            </div>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div id="experience-content" class="content" ngClass.gt-xs="p-16" fxLayout="column">

            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}">
                <div class="fuse-widget-front">
                    <form fxLayout="column" [formGroup]="experienceEditor">
                        <div class="p-32 w-100-p" fxLayout="column" fxLayoutAlign="center center" fxFlex="100">
                            <div class="experience-title w-100-p" fxFlex="100">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>{{ 'MAIN.POSITION' | translate }}</mat-label>
                                    <input matInput formControlName="title" placeholder="{{ 'MAIN.POSITION' | translate }}" required>
                                    <mat-error>{{ 'MAIN.FORMS.ERRORS.FIELD_REQUIRED' | translate }}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="experience-description mx-8 text-center w-100-p" fxFlex="100">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>{{ 'MAIN.DESCRIPTION' | translate }}</mat-label>
                                    <textarea matInput formControlName="description" placeholder="{{ 'MAIN.DESCRIPTION' | translate }}" rows="4" required></textarea>
                                    <mat-error>{{ 'MAIN.FORMS.ERRORS.FIELD_REQUIRED' | translate }}</mat-error>
                                </mat-form-field>
                            </div>

                            <!--<div fxLayout="row wrap">
                                <div class="experience-icon">
                                    <img src="{{experience.icon}}" class="icon mr-24" default="https://png.pngtree.com/svg/20161108/python_933400.png" width="32px">
                                </div>
                                <div class="experience-image">
                                    <img src="{{experience.image}}" class="img mr-24" default="https://png.pngtree.com/svg/20161108/python_933400.png" width="100px">
                                </div>
                            </div>-->
                            <div class="experience-dates w-100-p" fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="space-around" fxFlex="100">

                                <mat-form-field appearance="outline" class="experience-working-from mx-8" fxFlex="100" fxFlex.gt-sm="50">
                                    <mat-label>{{ 'MAIN.DATE_FROM' | translate }}</mat-label>
                                    <input matInput [matDatepicker]="picker_date_from" formControlName="working_from" placeholder="{{ 'MAIN.DATE_FROM' | translate }}" required>
                                    <mat-datepicker-toggle matSuffix [for]="picker_date_from"></mat-datepicker-toggle>
                                    <mat-datepicker #picker_date_from></mat-datepicker>
                                    <mat-error>{{ 'MAIN.FORMS.ERRORS.FIELD_REQUIRED' | translate }}</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="experience-working-to mx-8" fxFlex="100" fxFlex.gt-sm="50">
                                    <mat-label>{{ 'MAIN.DATE_TO' | translate }}</mat-label>
                                    <input matInput [matDatepicker]="picker_date_to" formControlName="working_to" placeholder="{{ 'MAIN.DATE_TO' | translate }}" required>
                                    <mat-datepicker-toggle matSuffix [for]="picker_date_to"></mat-datepicker-toggle>
                                    <mat-datepicker #picker_date_to></mat-datepicker>
                                    <mat-error>{{ 'MAIN.FORMS.ERRORS.FIELD_REQUIRED' | translate }}</mat-error>
                                </mat-form-field>

                            </div>
                            <div class="experience-role-enterprise w-100-p" fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="space-around" fxFlex="100">
                                <!--<mat-form-field appearance="outline" class="experience-role mx-8 w-100-p" fxFlex="100" fxFlex.gt-sm="50">
                                    <mat-label>{{ 'MAIN.ROLE' | translate }}</mat-label>
                                    <input matInput formControlName="role" placeholder="{{ 'MAIN.ROLE' | translate }}" required>
                                    <mat-error>{{ 'MAIN.FORMS.ERRORS.FIELD_REQUIRED' | translate }}</mat-error>
                                </mat-form-field>-->
                                <mat-form-field appearance="outline" class="experience-enterprise mx-8 w-100-p" fxFlex="100" fxFlex.gt-sm="100">
                                    <mat-label>{{ 'MAIN.ENTERPRISE' | translate }}</mat-label>
                                    <input matInput formControlName="enterprise" placeholder="{{ 'MAIN.ENTERPRISE' | translate }}" required>
                                    <mat-error>{{ 'MAIN.FORMS.ERRORS.FIELD_REQUIRED' | translate }}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="experience-location w-100-p" fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="space-around" fxFlex="100">
                                <mat-form-field appearance="outline" class="experience-city mx-8 w-100-p" fxFlex="100" fxFlex.gt-sm="50">
                                    <mat-label>{{ 'MAIN.CITY' | translate }}</mat-label>
                                    <input matInput formControlName="city" placeholder="{{ 'MAIN.CITY' | translate }}" required>
                                    <mat-error>{{ 'MAIN.FORMS.ERRORS.FIELD_REQUIRED' | translate }}</mat-error>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="experience-country mx-8 w-100-p" fxFlex="100" fxFlex.gt-sm="50">
                                    <mat-label>{{ 'MAIN.COUNTRY' | translate }}</mat-label>
                                    <input matInput formControlName="country" placeholder="{{ 'MAIN.COUNTRY' | translate }}" required>
                                    <mat-error>{{ 'MAIN.FORMS.ERRORS.FIELD_REQUIRED' | translate }}</mat-error>
                                </mat-form-field>
                            </div>
                            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="center center">
                                <button class="m-16" ngClass.gt-xs="mx-8" mat-flat-button type="button" color="primary" [routerLink]="'/candidate/profile'">
                                    {{ 'MAIN.BUTTON.CANCEL' | translate }}
                                </button>
                                <button class="m-16" ngClass.gt-xs="mx-8" mat-flat-button type="button" color="primary" [disabled]="experienceEditor.status != 'VALID'" (click)="submitExperience()">
                                    {{ 'MAIN.BUTTON.SAVE' | translate }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </fuse-widget>

        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

</div>
