@import "src/@fuse/scss/fuse";

#recruiter-jobs-detail {

    .center {
        position: relative;
        overflow: auto;

        .header {
            height: 72px;
            min-height: 72px;
            max-height: 72px;
        }

        .content {
            position: relative;
            display: flex;
            //overflow: auto;
            background-color: transparent;

            /*.mat-header-cell, .mat-cell {
                min-width: fit-content;
            }*/

            .mat-table {
                overflow: auto;
            }

            .mat-column-actions {
                flex: 0 0 5% !important;
                padding-left: 0 !important;
                min-width: 36px;
            }

            .mat-column-user {
                flex: 0 0 50% !important;
                white-space: unset !important;
            }

            .mat-column-kti {
                flex: 0 0 5% !important;
                min-width: 36px;
                &.mat-cell {
                    justify-content: flex-end !important;
                }
                &.mat-header-cell {
                    justify-content: center !important;
                }
            }

            /*fuse-widget {
                width: 100%;
            }*/
        }
    }
}

#recruiter-jobs-detail-dialog {
    max-width: 500px;
    text-align: center;
}