<div id="recruiter-jobs-detail" class="page-layout simple">

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="mr-16" [routerLink]="'/recruiter/jobs'">
                <mat-icon>arrow_back</mat-icon>
            </button>

            <div>
                <h2>
                    <mat-icon *ngIf="job.icon; else defaultIcon" class="header-icon mr-24">{{job.icon}}</mat-icon>
                    <ng-template #defaultIcon><mat-icon class="header-icon mr-24">business_center</mat-icon></ng-template>
                    {{job.title}}
                </h2>
            </div>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div id="job-content" class="content p-16" fxLayout="column wrap">

            <ng-container *ngIf="job">
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}">
                    <div class="fuse-widget-front">
                        <div class="p-16 pb-32" fxLayout="column" fxLayoutAlign="center center">
                            <div class="job-title">
                                <h2>{{ 'MAIN.TITLE' | translate }}: <span class="secondary-text">{{job.title}}</span></h2>
                            </div>
                            <div class="job-description">
                                <h3>{{ 'MAIN.DESCRIPTION' | translate }}: <span class="secondary-text">{{job.description}}</span></h3>
                            </div>
                            <div fxLayout="row wrap" fxLayoutAlign="center center">
                                <!--<div class="job-icon">
                                    <img *ngIf="job.icon && job.icon !== ''" src="{{job.icon}}" class="icon" default="assets/images/demo-content/test-02.jpg">
                                    <img src="{{job.icon}}" class="icon mr-24" default="https://png.pngtree.com/svg/20161108/python_933400.png" width="32px">
                                </div>
                                <div class="job-image">
                                    <img *ngIf="job.image && job.image !== ''" src="{{job.image}}" class="img" default="assets/images/demo-content/test-02.jpg">
                                    <img src="{{job.image}}" class="img mr-24" default="https://png.pngtree.com/svg/20161108/python_933400.png" width="100px">
                                </div>-->
                            </div>
                            <div fxLayout="column wrap" fxLayout.gt-xs="row wrap" fxLayoutAlign="center center">
                                <div class="job-active-from mx-8">
                                    <h4>{{ 'MAIN.DATE_ACTIVE_FROM' | translate }}: <span class="secondary-text">{{job.active_from | date:'short'}}</span></h4>
                                </div>
                                <div class="job-active-to mx-8">
                                    <h4>{{ 'MAIN.DATE_ACTIVE_TO' | translate }}: <span class="secondary-text">{{job.active_to | date:'short'}}</span></h4>
                                </div>
                            </div>
                            <div fxLayout="column wrap" fxLayout.gt-xs="row wrap" fxLayoutAlign="center center">
                                <div class="job-personality-relevance mx-8">
                                    <h4>{{ 'RECRUITER.JOBS.DETAIL.PERSONALITY_RELEVANCE_TITLE' | translate }}: <span class="secondary-text">{{ 'MAIN.JOBS.PERSONALITY_RELEVANCE.' + job.personality_relevance | translate}}</span></h4>
                                </div>
                                <div class="job-personality-test mx-8">
                                    <h4>{{ 'RECRUITER.JOBS.DETAIL.PERSONALITY_TEST_TITLE' | translate }}: <span class="secondary-text">{{job.test_personality ? job.test_personality.title : 'NA' }}</span></h4>
                                </div>
                                <div class="job-test mx-8">
                                    <h4>{{ 'RECRUITER.JOBS.DETAIL.TEST_TITLE' | translate }}: <span class="secondary-text">{{job.test ? job.test.title : 'NA' }}</span></h4>
                                </div>
                            </div>
                            <div fxLayout="column wrap" fxLayout.gt-xs="row wrap" fxLayoutAlign="center center">
                                <div class="job-skills mx-8 text-center">
                                    <h4>{{ 'RECRUITER.JOBS.DETAIL.SKILLS_TITLE' | translate }}</h4>
                                    <mat-chip-list>
                                        <mat-chip color="accent" *ngFor="let skill of job.skills">{{ 'MAIN.JOBS.PERSONALITY_SKILL.' + skill | translate}}</mat-chip>
                                    </mat-chip-list>
                                </div>
                            </div>
                            <div class="job-tests w-100-p text-center IE-FlexAuto" fxFlex="100">
                                <h4>{{ 'RECRUITER.JOBS.DETAIL.APPLICATIONS_TITLE' | translate }}</h4>
                                <ng-container *ngIf="(job.applications && job.applications.length > 0)">
                                    <!--<mat-form-field><ng-container *ngIf="column === 'actions'"><mat-header-cell *matHeaderCellDef> {{usersTestsTableColumnsTitles[column]}} </mat-header-cell></ng-container>
                                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'MAIN.FILTER_BY' | translate }}">
                                    </mat-form-field>-->

                                    <!--<table mat-table [dataSource]="usersTestsTable" class="jobs-tests-table w-100-p" matSort matSortActive="user" matSortDisableClear matSortDirection="asc" (matSortChange)="sortData($event)">-->
                                    <mat-table [dataSource]="job.applications" class="jobs-tests-table w-100-p">

                                        <ng-container [matColumnDef]="column" *ngFor="let column of jobApplicationsDisplayedColumns">
                                            <!--<th mat-header-cell *matHeaderCellDef mat-sort-header> {{usersTestsTableColumnsTitles[column]}} </th>-->
                                            <mat-header-cell *matHeaderCellDef> {{column !== 'actions' ? ('MAIN.COLUMN.' + column.toUpperCase() | translate) : '' }} </mat-header-cell>
                                            <ng-container *ngIf="column === 'actions' && anonymous"><mat-cell *matCellDef="let element"><button mat-icon-button color="primary" (click)="getAnonymousPdf(element[column])">
                                                <mat-icon class="action-icon" title="{{ 'MAIN.BUTTON.DOWNLOAD_REPORT' | translate }}">save_alt</mat-icon>
                                            </button></mat-cell></ng-container>
                                            <ng-container *ngIf="column === 'actions' && !anonymous"><mat-cell *matCellDef="let element"><button mat-icon-button color="primary" (click)="getUserPdf(element[column])">
                                                <mat-icon class="action-icon" title="{{ 'MAIN.BUTTON.DOWNLOAD_REPORT' | translate }}">save_alt</mat-icon>
                                            </button></mat-cell></ng-container>
                                            <ng-container *ngIf="column === 'user' && anonymous && !appConfig.appSettings.anonymousSite"><mat-cell *matCellDef="let element"> {{ 'MAIN.ANONYMOUS' | translate }} </mat-cell></ng-container>
                                            <ng-container *ngIf="column === 'user' && !anonymous && !appConfig.appSettings.anonymousSite"><mat-cell *matCellDef="let element"> {{element[column].first_name}} {{element[column].last_name}} </mat-cell></ng-container>
                                            <ng-container *ngIf="column === 'user' && appConfig.appSettings.anonymousSite"><mat-cell *matCellDef="let element"> {{element[column].username}} </mat-cell></ng-container>
                                            <ng-container *ngIf="column === 'kti'"><mat-cell *matCellDef="let element"> {{element[column]}} </mat-cell></ng-container>
                                            <ng-container *ngIf="column === 'status'"><mat-cell *matCellDef="let element"> {{'MAIN.JOB_APPLICATION_STATUS.' + element[column] | translate}} </mat-cell></ng-container>
                                        </ng-container>
                                        <mat-header-row *matHeaderRowDef="jobApplicationsDisplayedColumns"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: jobApplicationsDisplayedColumns;"></mat-row>
                                    </mat-table>
                                    <!--<mat-paginator [length]="usersTestsTable.length" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>-->


                                </ng-container>
                            </div>
                        </div>
                        <div class="" fxLayout="row" fxLayoutAlign="center center">
                            <div class="p-16" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="center center">
                                <button class="m-8" mat-flat-button color="primary"
                                        [routerLink]="'/recruiter/jobs/'">{{ 'MAIN.BUTTON.BACK' | translate }}</button>
                                <button class="m-8" mat-flat-button color="primary"
                                        [routerLink]="'/recruiter/jobs/editor/' + job.id + '/' + (job.title | slugify)">{{ 'MAIN.BUTTON.EDIT' | translate }}</button>
                                <button class="m-8" mat-flat-button color="primary"
                                        (click)="deleteJob(job.id)"><mat-icon>delete</mat-icon> {{ 'MAIN.BUTTON.DELETE' | translate }}</button>
                            </div>
                        </div>
                    </div>
                </fuse-widget>
            </ng-container>

        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

</div>
